<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <diagnostics wmiProviderEnabled="true">
      <messageLogging   logEntireMessage="true"   logMalformedMessages="true" logMessagesAtServiceLevel="true"   logMessagesAtTransportLevel="true"  maxMessagesToLog="3000" maxSizeOfMessageToLog="2000"/>
    </diagnostics>
    <behaviors>
      <endpointBehaviors>
        <behavior name="EndpointBehavior">
          <dataContractSerializer />
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpsBindingConfig" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:02:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="65536" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName" />
          </security>
        </binding>

        <binding name="BasicHttpBindingConfig" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="65536" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None" />

        </binding>
      </basicHttpBinding>

      <!--<customBinding>
        <binding name="JsonBindingConfig">
          <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
            messageVersion="Soap12" writeEncoding="utf-8">
            <readerQuotas maxDepth="32" maxStringContentLength="65536" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          </textMessageEncoding>
        </binding>
      </customBinding>
      
      <netTcpBinding>
        <binding name="NetTcpBindingConfig">
          <readerQuotas maxStringContentLength="65536" />
        </binding>
      </netTcpBinding> -->

      <wsHttpBinding>
        <!--<binding name="wsHttpBindingConfig" transactionFlow="true">
          <readerQuotas maxStringContentLength="65536" />
           <security mode="None" >
            <message   establishSecurityContext="false"  />
            <transport clientCredentialType ="None"/>
          </security>
        </binding>-->
        <binding name="wsHttpsBindingConfig" transactionFlow="true">
          <readerQuotas maxStringContentLength="65536" />
          <security mode="Transport" >
            <message   establishSecurityContext="false"  />
            <transport clientCredentialType ="None"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>

    <client>

      <!--<endpoint address="GISWCF.svc" behaviorConfiguration="EndpointBehavior"
       binding="basicHttpBinding" bindingConfiguration="BasicHttpBindingConfig"
       contract="REISys.Platform.Services.WcfEncapsulation.IEisGenericWcfService"
       name="BasicHttpEndpoint" />-->
      <!--
      <endpoint address="GISWCF.svc" behaviorConfiguration="EndpointBehavior"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpsBindingConfig"
      contract="REISys.Platform.Services.WcfEncapsulation.IEisGenericWcfService"
        name="BasicHttpsEndpoint" />


      
      <endpoint address="GISWCF.svc" behaviorConfiguration="EndpointBehavior"
        binding="netTcpBinding" bindingConfiguration="NetTcpBindingConfig"
        contract="REISys.Platform.Services.WcfEncapsulation.IEisGenericWcfService"
        name="NetTcpEndpoint" />
      
      <endpoint address="GISWCF.svc" behaviorConfiguration="EndpointBehavior"
        binding="customBinding" bindingConfiguration="JsonBindingConfig"
        contract="REISys.Platform.Services.WcfEncapsulation.IEisGenericWcfService"
        name="JsonEndpoint" /> 

      <endpoint address="GISWCF.svc"
        behaviorConfiguration="EndpointBehavior" binding="wsHttpBinding"
        bindingConfiguration="wsHttpBindingConfig"
        contract="REISys.Platform.Services.WcfEncapsulation.IEisGenericWcfService"
        name="wsHttpEndpoint" /> -->

      <endpoint address="GISWCF.svc"
        behaviorConfiguration="EndpointBehavior" binding="wsHttpBinding"
        bindingConfiguration="wsHttpsBindingConfig"
        contract="REISys.Platform.Services.WcfEncapsulation.IEisGenericWcfService"
        name="wsHttpsEndpoint" />
    </client>

  </system.serviceModel>
</configuration>