<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="basicHttpBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
        <behavior name="webHttpJsonBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttpEndPoint" allowCookies="false" bypassProxyOnLocal="false" closeTimeout="00:01:00" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" messageEncoding="Text" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxArrayLength="16384" maxBytesPerRead="4096" maxDepth="32" maxNameTableCharCount="16384" maxStringContentLength="8192" />
          <security mode="None" />
        </binding>

        <binding name="basicHttpEndPoint" allowCookies="false" bypassProxyOnLocal="false" closeTimeout="00:01:00" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" messageEncoding="Text" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxArrayLength="16384" maxBytesPerRead="4096" maxDepth="32" maxNameTableCharCount="16384" maxStringContentLength="8192" />
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="jsonEndPoint">
          <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16" messageVersion="Soap12" writeEncoding="utf-8">
            <readerQuotas maxArrayLength="16384" maxBytesPerRead="4096" maxDepth="32" maxNameTableCharCount="16384" maxStringContentLength="8192" />
          </textMessageEncoding>
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint name="TaskWSBasicHttpEndPoint"
          address="TaskWebService.svc"
          binding="basicHttpBinding"
          bindingConfiguration="basicHttpEndPoint"
          behaviorConfiguration="basicHttpBehavior"
          contract="REISys.Platform.Services.TaskManagement.ITaskService" />
     
      <endpoint name="TaskWSBasicHttpsEndPoint"
       address="TaskWebService.svc"
       binding="basicHttpBinding"
       bindingConfiguration="basicHttpsEndPoint"
       behaviorConfiguration="basicHttpBehavior"
       contract="REISys.Platform.Services.TaskManagement.ITaskService" />

      <endpoint name="TaskWSJsonEndPoint"
           address="TaskWebService.svc"
           binding="customBinding"
           bindingConfiguration="jsonEndPoint"
           behaviorConfiguration="webHttpJsonBehavior"
           contract="REISys.Platform.Services.TaskManagement.ITaskService" />
    </client>
  </system.serviceModel>
</configuration>
