<configuration> 
	<assemblies>
		<assembly name="keyProvider" type="Platform.CrossCutting.Security.DevKeyProvider,Version=1.6.0.0, Culture=neutral, PublicKeyToken=677fce62a3a80367" />
		<assembly name="CryptoGraphy" type="Platform.CrossCutting.CryptoGraphy,Version=1.6.0.0, Culture=neutral, PublicKeyToken=677fce62a3a80367" />
		<assembly name="ExceptionHandling" type="Platform.CrossCutting.ExceptionHandling,Version=1.6.0.0, Culture=neutral, PublicKeyToken=677fce62a3a80367" />
		<assembly name="Logging" type="Platform.CrossCutting.Logging,Version=1.6.0.0, Culture=neutral, PublicKeyToken=677fce62a3a80367" />
	</assemblies>
</configuration>
