/* CSS Document */
#search-block { margin-top: -75px;  float:right; }
.pagenote {margin-top: 5px;}
#navigation {width: 80%; margin-top: 9px;}
#mainarea #mainleft .rss{margin-top: -20px; margin-right: 10px;}
#mainarea #homeareatraining{width: 96%; margin-left: 4%; margin-top: 10px;}
#topnav {right:0;}
#colleft #hidePanel { margin-top:0;}
.fg-alerts{width: 200px !important;}
.sectionlink {padding-left: 10px;}
.sectiontoggle {margin-top: -20px; padding-right: 10px;}
.sectionCM, .sectionCMlast{padding-left: 10px;}
.section_table td {padding-left: 20px;}
input.hrsaSkinnedgobtn {margin-top: 0; padding: 0 2px 4px 2px;}
input.hrsaSkinnedButton[type="submit"],
input.hrsaSkinnedButton[type="reset"],
input.hrsaSkinnedButton[type="button"] {
	padding: 2px 6px 4px 6px;
	margin:0;}
.modal, .reimodal{ padding-top:0;}
.modal .mtitle {margin-top:0;}
.filter-area, .ITfilter-area {height: 20px; padding-bottom: 5px;}
.RadComboBox {margin-bottom: 6px; margin-right: 2px;}
.fiterimg {padding-bottom: 0;}
.SideMenuFilter {width: 150px;}
.hrsaSkingreybtn, .hrsaSkinnedgobtn {
    width: auto;
	overflow: visible;
}
.alertbase_close{margin-top:-20px;}

/******* IE7 Fixes to Navigation ******/

ul.lmBase
{position:relative !important;
 margin-left:0 !important;
 padding-top:0 !important;
 }

.lmTitle
{line-height:26px !important;
 display:block !important;
 background-position: 0 -3446px !important;
 padding-top:0 !important;
 }

.lmBase a
{padding-top:0 !important;
 width:auto !important;
 margin-top:0 !important;
 }


.lmBase A SPAN { left:-5px !important;}

UL.lmBase UL
{ margin-left:0;}

 UL.lmBase UL UL
 { padding-left:0 !important;}
 
 UL.lmBase UL SPAN {font-weight:normal; display:inline !important;}
 
 ul.lmBase ul a:hover{
	padding-left:0 !important;
	margin-left:-1px !important;
	background-color:#e2effd;
	color:#660000;
	padding-top:1px !important;
	padding-bottom:1px !important;
	width:auto !important;
	height:100% !important;
	margin-top:0 !important;
	position:relative !important;
	padding-top:1px !important;
	padding-left:10px !important;
}
ul.lmBase ul a:focus { padding:inherit !important; margin:inherit !important;}
ul.lmBase ul a{padding-left:10px !important; margin-top:1px !important; padding-top:1px;}

.lmBase ul a.selected{
	border:1px solid #8fb0d6 !important;
	border-left:3px solid #8fb0d6 !important;
	background-color:#e2effd !important;
	padding:0 0 1px 5px !important;
	margin-top:0 !important;
	margin-left:5px !important;
	color:#660000 !important;
	font-weight:bold !important;
	padding-left:0 !important;
	width:auto !important;
	height:100% !important;
	position:relative !important;
	margin-bottom:0  !important;
}
.lmBase ul a.selected span {padding-left:7px !important;}
.lmBase ul a.selected:hover { margin:0 !important; padding:0 0 1px 0 !important; left:0 !important; }

.lmBase .lmIcon
{
	padding-right:5px !important;
	margin-top:0 !important;
	float:none !important;
}