.RadTreeList {
  border-style: solid;
  border-width: 1px; }
  .RadTreeList .rtlTable {
    width: 100%;
    border-collapse: separate;
    table-layout: fixed; }
  .RadTreeList .rtlTable,
  .RadTreeList .rtlEditForm table {
    border-spacing: 0; }
  * + html .RadTreeList .rtlTable, * html .RadTreeList .rtlTable {
    width: auto; }
  .RadTreeList .rtlHeader th {
    border-style: solid;
    border-width: 0 0 1px 0;
    text-align: left;
    font-weight: normal; }
  .RadTreeList .rtlVBorders .rtlHeader th {
    border-left-width: 1px;
    overflow: hidden; }
    .RadTreeList .rtlVBorders .rtlHeader th.rtlCF {
      border-left-width: 0; }
  .RadTreeList .rtlHeader a {
    text-decoration: none; }
  .RadTreeList .rtlR td,
  .RadTreeList .rtlA td,
  .RadTreeList .rtlREdit td,
  .RadTreeList .rtlRFooter td {
    padding: 3px 7px 5px 7px; }
  .RadTreeList .rtlRL td {
    padding-bottom: 4px; }
  .RadTreeList .rtlROut td {
    padding-top: 4px; }
  .RadTreeList .rtlHeader th {
    padding: 3px 7px 4px 7px; }
  .RadTreeList .rtlHBorders .rtlR > td,
  .RadTreeList .rtlHBorders .rtlA > td,
  .RadTreeList .rtlHBorders .rtlREdit > td,
  .RadTreeList .rtlHBorders .rtlRFooter > td {
    padding: 3px 7px 4px 7px; }
  .RadTreeList .rtlR,
  .RadTreeList .rtlA,
  .RadTreeList .rtlREdit,
  .RadTreeList .rtlRFooter {
    vertical-align: top; }
  .RadTreeList .rtlR td,
  .RadTreeList .rtlA td,
  .RadTreeList .rtlREdit td,
  .RadTreeList .rtlRFooter td {
    border-style: solid;
    border-width: 0; }
  .RadTreeList .rtlHBorders .rtlR td,
  .RadTreeList .rtlHBorders .rtlA td,
  .RadTreeList .rtlHBorders .rtlREdit td,
  .RadTreeList .rtlHBorders .rtlRFooter td {
    border-bottom-width: 1px; }
  .RadTreeList .rtlVBorders .rtlR td,
  .RadTreeList .rtlVBorders .rtlA td,
  .RadTreeList .rtlVBorders .rtlREdit td,
  .RadTreeList .rtlVBorders .rtlRFooter td {
    border-left-width: 1px;
    overflow: hidden; }
  .RadTreeList .rtlR td.rtlCF,
  .RadTreeList .rtlA td.rtlCF,
  .RadTreeList .rtlREdit td.rtlCF,
  .RadTreeList .rtlRFooter td.rtlCF {
    border-left-width: 0; }
  .RadTreeList .rtlHVBorders .rtlR td.rtlCF,
  .RadTreeList .rtlHVBorders .rtlA td.rtlCF,
  .RadTreeList .rtlHVBorders .rtlREdit td.rtlCF,
  .RadTreeList .rtlHVBorders .rtlRFooter td.rtlCF {
    border-left-width: 1px; }
  .RadTreeList .rtlHBorders .rtlRL td {
    border-bottom-width: 0; }
  .RadTreeList .rtlTable .rtlRBtm td,
  .RadTreeList .rtlTable .rtlRFooter td {
    border-bottom-width: 0; }
  .RadTreeList .rtlHBorders .rtlROut td {
    border-top-width: 1px; }
  .RadTreeList .rtlTable td.rtlL {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    vertical-align: top; }
  .RadTreeList .rtlLines td.rtlL {
    background-image: none;
    background-repeat: no-repeat;
    background-position: 100% 0; }
  .RadTreeList .rtlLines td.rtlL0 {
    background-repeat: repeat-y; }
  .RadTreeList table.rtlLines td.rtlL, .RadTreeList table.rtlVBorders td.rtlL, .RadTreeList table.rtlLines td.rtlL, .RadTreeList table.rtlVBorders td.rtlL {
    border-width: 0; }
  .RadTreeList .rtlExpand,
  .RadTreeList .rtlCollapse,
  .RadTreeList .rtlSortAsc,
  .RadTreeList .rtlSortDesc {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 1px;
    text-indent: -1000px;
    background-color: transparent;
    background-repeat: no-repeat;
    cursor: pointer; }
  .RadTreeList .rtlExpand,
  .RadTreeList .rtlCollapse {
    display: block;
    width: 16px;
    height: 16px;
    margin: 0 auto; }
  .RadTreeList .rtlSortAsc,
  .RadTreeList .rtlSortDesc {
    width: 16px;
    height: 10px;
    vertical-align: middle; 
    font-size: 1px;
    cursor: pointer;
    text-indent: -1000px;
    }
  .RadTreeList .rtlAdd,
  .RadTreeList .rtlEdit,
  .RadTreeList .rtlUpdate,
  .RadTreeList .rtlCancel,
  .RadTreeList .rtlDel,
  .RadTreeList .rtlDragHandle {
    width: 16px;
    height: 16px;
    border: 0;
    margin: 0;
    padding: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    vertical-align: middle;
    font-size: 1px;
    cursor: pointer; }
  .RadTreeList .rtlAdd {
    margin-right: 3px;
    height: 18px;
    width: 18px;
    background-position: -17px -1682px; }
  .RadTreeList .rtlHeader .rtlAdd {
    background-position: 0 -1650px; }
  .RadTreeList .rtlEdit {
    background-position: 1px -1699px; }
  .RadTreeList .rtlUpdate {
    width: 18px;
    height: 18px;
    background-position: 0 -1800px; }
  .RadTreeList .rtlCancel {
    width: 18px;
    height: 18px;
    background-position: 0 -1850px; }
  .RadTreeList .rtlDel {
    background-position: 0 -1749px; }
  .RadTreeList .rtlDragHandle {
    cursor: url('Common/grab.cur'), move; }

.RadTreeListNoBorder {
  border-width: 0; }
  .RadTreeListNoBorder .rtlHeader th {
    border-top-width: 1px; }
  .RadTreeListNoBorder .rtlTable .rtlHeader th.rtlCF {
    border-left-width: 1px; }
  .RadTreeListNoBorder .rtlTable .rtlCL {
    border-right-width: 1px; }
  .RadTreeListNoBorder .rtlTable .rtlRBtm td {
    border-bottom-width: 1px; }

.RadTreeList .rtlTable .rtlR .rtlDragCol,
.RadTreeList .rtlTable .rtlA .rtlDragCol {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  vertical-align: middle; }

.TreeListToolTip {
  border-width: 1px;
  border-style: solid;
  padding: 3px;
  position: absolute;
  z-index: 10000; }

.rtlResizer {
  background-color: navy;
  width: 1px;
  position: absolute;
  cursor: e-resize; }

.TreeListReorderTop,
.TreeListReorderBottom {
  width: 9px;
  height: 9px;
  margin: 0 0 0 -5px;
  padding: 0; }

.RadTreeListRTL .rtlHeader th {
  text-align: right; }
.RadTreeListRTL .rtlVBorders .rtlHeader th {
  border-left-width: 0;
  border-right-width: 1px; }
  .RadTreeListRTL .rtlVBorders .rtlHeader th.rtlCF {
    border-right-width: 0; }
.RadTreeListRTL .rtlVBorders .rtlR td,
.RadTreeListRTL .rtlVBorders .rtlA td,
.RadTreeListRTL .rtlVBorders .rtlREdit td,
.RadTreeListRTL .rtlVBorders .rtlRFooter td {
  border-left-width: 0;
  border-right-width: 1px; }
.RadTreeListRTL .rtlR td.rtlCF,
.RadTreeListRTL .rtlA td.rtlCF,
.RadTreeListRTL .rtlREdit td.rtlCF,
.RadTreeListRTL .rtlRFooter td.rtlCF {
  border-right-width: 0; }
.RadTreeListRTL .rtlHVBorders .rtlR td.rtlCF,
.RadTreeListRTL .rtlHVBorders .rtlA td.rtlCF,
.RadTreeListRTL .rtlHVBorders .rtlREdit td.rtlCF,
.RadTreeListRTL .rtlHVBorders .rtlRFooter td.rtlCF {
  border-left-width: 0;
  border-right-width: 1px; }
.RadTreeListRTL .rtlLines td.rtlL {
  background-position: 0 0; }

.RadTreeListNoBorderRTL .rtlTable .rtlHeader .rtlCL,
.RadTreeListNoBorderRTL .rtlTable .rtlR td.rtlCL,
.RadTreeListNoBorderRTL .rtlTable .rtlA td.rtlCL,
.RadTreeListNoBorderRTL .rtlTable .rtlREdit td.rtlCL,
.RadTreeListNoBorderRTL .rtlTable .rtlRFooter td.rtlCL {
  border-right-width: 0;
  border-left-width: 1px; }
.RadTreeListNoBorderRTL .rtlVBorders .rtlHeader .rtlCL,
.RadTreeListNoBorderRTL .rtlVBorders .rtlR td.rtlCL,
.RadTreeListNoBorderRTL .rtlVBorders .rtlA td.rtlCL,
.RadTreeListNoBorderRTL .rtlVBorders .rtlREdit td.rtlCL,
.RadTreeListNoBorderRTL .rtlVBorders .rtlRFooter td.rtlCL {
  border-right-width: 1px; }
.RadTreeListNoBorderRTL .rtlTable .rtlHeader th.rtlCF {
  border-left-width: 0;
  border-right-width: 1px; }

.RadTreeList .rtlPager {
  min-height: 22px; }
.RadTreeList .rtlPagerCell {
  border-style: solid;
  border-width: 1px 0 0;
  padding: 3px 0; }
.RadTreeList thead .rtlPagerCell {
  border-width: 0 0 1px; }
.RadTreeList .rtlPager .rtlWrap {
  float: left;
  padding: 0 10px;
  line-height: 22px;
  white-space: nowrap; }
.RadTreeList .rtlPager .rtlInfoPart {
  float: right; }
  .RadTreeList .rtlPager .rtlInfoPart strong {
    font-weight: normal; }
.RadTreeList .rtlPager .rtlPageFirst,
.RadTreeList .rtlPager .rtlPagePrev,
.RadTreeList .rtlPager .rtlPageNext,
.RadTreeList .rtlPager .rtlPageLast {
  width: 22px;
  height: 22px;
  border: 0;
  margin: 0;
  padding: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  vertical-align: bottom;
  font-size: 1px;
  cursor: pointer; }
.RadTreeList .rtlPager .rtlPageFirst,
.RadTreeList .rtlPager .rtlPagePrev {
  margin-right: 1px; }
.RadTreeList .rtlPager .rtlPageNext,
.RadTreeList .rtlPager .rtlPageLast {
  margin-left: 1px; }
.RadTreeList .rtlPager .rtlPagerButton {
  height: 22px;
  border-style: solid;
  border-width: 1px;
  margin: 0 14px 0 0;
  padding: 0 4px 2px;
  font-size: 12px;
  line-height: 12px;
  vertical-align: middle;
  cursor: pointer; }
.RadTreeList .rtlPager .rtlNumPart a {
  float: left;
  margin: 0;
  padding: 0 5px 0 0;
  line-height: 22px;
  text-decoration: none; }
.RadTreeList .rtlPager .rtlNumPart span {
  float: left;
  padding: 0 0 0 5px; }
.RadTreeList .rtlPager .rtlNumPart a:hover span {
  cursor: pointer; }
.RadTreeList .rtlPager .rtlNumPart a.rtlCurrentPage {
  cursor: default; }
  .RadTreeList .rtlPager .rtlNumPart a.rtlCurrentPage:hover,
  .RadTreeList .rtlPager .rtlNumPart a.rtlCurrentPage span, .RadTreeList .rtlPager .rtlNumPart a.rtlCurrentPage:hover span {
    cursor: default; }
.RadTreeList .rtlPager .rtlWrap a img {
  border: 0;
  margin: 0 8px; }
.RadTreeList .rtlPager .RadSlider {
  float: left;
  margin: 0 10px 0 0; }
.RadTreeList .rtlPager .rtlPagerLabel,
.RadTreeList .rtlPager .RadComboBox {
  margin: 0 4px 0 0;
  vertical-align: top; }
.RadTreeList .rtlPager .RadInput {
  margin: 0 4px 0 0;
  vertical-align: top;
  display: inline-block; }
.RadTreeList .rtlPager .riTextBox {
  height: 15px; }

.rtlPager .riSingle .riTextBox {
  height: 22px; }

* + html .RadTreeList .rtlPager .rtlPager .RadComboBox {
  margin-top: -1px; }
* html .RadTreeList .rtlPager .rtlPager .RadComboBox {
  margin-top: -1px;
  padding: 1px 0; }

.RadTreeList .rtlPager .rtlPagerTextBox {
  text-align: center; }
.RadTreeList .rtlEditForm {
  border-bottom: 1px solid;
  border-left: 1px solid;
  margin: -1px; }
  .RadTreeList .rtlEditForm table {
    font-size: 12px; }
    .RadTreeList .rtlEditForm table label {
      float: right;
      padding-right: 2px; }
  .RadTreeList .rtlEditForm .rtlHeader {
    padding: 5px 7px 4px;
    text-align: left;
    font-weight: normal; }

.rtlDrag {
  background: no-repeat 50% -100px;
  position: absolute;
  left: -16px;
  top: 6px;
  width: 16px;
  height: 10px; }

.RadTreeList div.rtlHeader {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  overflow: hidden; }
.RadTreeList .rtlScroller {
  overflow: hidden;
  margin-bottom: -1px;
  border-right-width: 1px;
  border-right-style: solid;
  width: 100%; }
.RadTreeList div.rtlFooter {
  overflow: hidden; }


/* Telerik RadTreeList Windows7 Skin */

/*global*/

.RadTreeList_EHB,
.rtlCEdit div.RadTreeList_WebBlue
{
	border-color:#a5b3c5;
	background:#fcfcfc;
	color:#000;
}

.RadTreeList_EHB .rtlAdd,
.RadTreeList_EHB .rtlEdit,
.RadTreeList_EHB .rtlUpdate,
.RadTreeList_EHB .rtlCancel,
.RadTreeList_EHB .rtlDel
{
	background-image:url('Grid/sprite.gif');
}

.RadTreeList_EHB .rtlTable,
.TreeListToolTip_EHB
{
	font:12px/16px "segoe ui",arial,sans-serif;
}

.RadTreeList_EHB .rtlHeader
{
	background:#f1f5fb;
}

.RadTreeList_EHB .rtlHeader,
.RadTreeList_EHB .rtlHeader a
{
	color:#4c607a;
}

.RadTreeList_WebBlue .rtlHeader,
.RadTreeList_EHB .rtlHeader th
{
	border-color:#f6f9fb #e1eaf3;
}

.RadTreeList_WebBlue .rtlScroller
{
	border-color:#4a637a;
}

.RadTreeList_EHB .rtlA
{
	background-color:#ebeff3;
}

.RadTreeList_EHB .rtlRFooter
{
	background-color:#e2eaf4;
}

.rtlCEdit .RadTreeList_EHB 
{
    border-right:1px solid;
    border-top:1px solid;
}

.RadTreeList_EHB .rtlR td,
.RadTreeList_EHB .rtlA td,
.RadTreeList_EHB .rtlREdit td,
.RadTreeList_EHB .rtlRFooter td,
.RadTreeList_EHB .rtlEditForm
{
	border-color:#edf0f4;
}

.RadTreeList_EHB .rtlR a,
.RadTreeList_EHB .rtlA a,
.RadTreeList_EHB .rtlREdit a,
.RadTreeList_EHB .rtlEditForm a
{
	color:#1E3287;
}

.RadTreeList_EHB .rtlRSel
{
	background:#d7e8fe 0 -3901px repeat-x url('Grid/sprite.gif');
}

.RadTreeList_EHB .rtlRSel td
{
	border-color:#8daed5;
}

.RadTreeList_EHB .rtlRActive
{
    background:#e7eef6 0 -2900px repeat-x url('Grid/sprite.gif');
}

.RadTreeList_EHB .rtlRActive td
{
	border-color:#a8d8eb;
}

.RadTreeList_EHB .rtlVBorders td.rtlL,
.RadTreeList_EHB .rtlLines td.rtlL
{
	background-color:#fcfcfc;
}

.RadTreeList_EHB .rtlREdit
{
    background:#e6f0fd 0 -4900px url('Grid/sprite.gif');
}

.RadTreeList_EHB .rtlREdit td
{
    border-color:#8daed5;
}

.RadTreeList_EHB .rtlDrag,
.RadTreeList_EHB .rtlExpand,
.RadTreeList_EHB .rtlCollapse
{
	background-image:url('TreeList/sprite.gif');
}

.RadTreeList_EHB .rtlExpand
{
	background-position:0 0;
}

.RadTreeList_EHB .rtlCollapse
{
	background-position:0 -50px;
}

.RadTreeList_EHB .rtlSortAsc,
.RadTreeList_EHB .rtlSortDesc
{
	background-image:url('Grid/sprite.gif');
}

.RadTreeList_EHB .rtlSortAsc
{
	background-position:3px -248px;
}

.RadTreeList_EHB .rtlSortDesc
{
	background-position:3px -198px;
}

.RadTreeList_EHB .rtlLines td.rtlL0
{
	background-image:url('TreeList/rtlSingle.gif');
}

.RadTreeList_EHB .rtlLines td.rtlL1
{
	background-image:url('TreeList/rtlTop.gif');
}

.RadTreeList_EHB .rtlLines td.rtlL2
{
	background-image:url('TreeList/rtlMiddle.gif');
}

.RadTreeList_EHB .rtlLines td.rtlL3
{
	background-image:url('TreeList/rtlBottom.gif');
}

.TreeListReorderTop_EHB,
.TreeListReorderBottom_EHB
{
	height:11px;
	background:no-repeat url('Grid/sprite.gif');
}

.TreeListReorderBottom_EHB
{
	background-position:0 -50px;
}

.RadTreeList_EHB .rtlDragHandle
{
	background-image:url('Grid/rgDrag.gif');
}

/*tooltip*/

.TreeListToolTip_EHB
{
	border-color:#a0afc3;
	background:#eef4fb;
	color:#4c607a;
}


/*rtl*/

.RadTreeListRTL_EHB .rtlLines td.rtlL1
{
	background-image:url('TreeList/rtlTopRTL.gif');
}

.RadTreeListRTL_EHB .rtlLines td.rtlL2
{
	background-image:url('TreeList/rtlMiddleRTL.gif');
}

.RadTreeListRTL_EHB .rtlLines td.rtlL3
{
	background-image:url('TreeList/rtlBottomRTL.gif');
}

/*pager*/

.RadTreeList_EHB .rtlPager
{
	background:#f1f5fb 0 -5900px repeat-x url('Grid/sprite.gif');
}

.RadTreeList_EHB .rtlPagerCell
{
	border-color:#fcfcfc;
}

.RadTreeList_EHB .rtlInfoPart
{
	color:#5a6779;
}

.RadTreeList_EHB .rtlInfoPart strong
{
	color:#1e395b;
}

.RadTreeList_EHB .rtlPager .rtlPageFirst,
.RadTreeList_EHB .rtlPager .rtlPagePrev,
.RadTreeList_EHB .rtlPager .rtlPageNext,
.RadTreeList_EHB .rtlPager .rtlPageLast
{
	background:transparent no-repeat url('Grid/sprite.gif');
}

.RadTreeList_EHB .rtlPager .rtlPageFirst
{
	background-position:0 -550px;
}
.RadTreeList_EHB .rtlPager .rtlPageFirst:hover
{
	background-position:0 -600px;
}
.RadTreeList_EHB .rtlPager .rtlPagePrev
{
	background-position:0 -700px;
}
.RadTreeList_EHB .rtlPager .rtlPagePrev:hover
{
	background-position:0 -750px;
}
.RadTreeList_EHB .rtlPager .rtlPageNext
{
	background-position:0 -850px;
}
.RadTreeList_EHB .rtlPager .rtlPageNext:hover
{
	background-position:0 -900px;
}
.RadTreeList_EHB .rtlPager .rtlPageLast
{
	background-position:0 -1000px;
}
.RadTreeList_EHB .rtlPager .rtlPageLast:hover
{
	background-position:0 -1050px;
}

.RadTreeList_EHB .rtlPager .rtlPagerButton
{
	border-color:#c2cedb;
	background:#dde8f6 repeat-x 0 -1550px url('Grid/sprite.gif');
	color:#1e395b;
	font-family:"segoe ui",arial,sans-serif;
}

.RadTreeList_EHB .rtlPager .rtlNumPart a:hover,
.RadTreeList_EHB .rtlPager .rtlNumPart a:hover span,
.RadTreeList_EHB .rtlPager .rtlNumPart a.rtlCurrentPage,
.RadTreeList_EHB .rtlPager .rtlNumPart a.rtlCurrentPage span
{
	background:no-repeat url('Grid/sprite.gif');
}

.RadTreeList_EHB .rtlPager .rtlNumPart a
{
	color:#1e395b;
}

.RadTreeList_EHB .rtlPager .rtlNumPart a:hover
{
	background-position:100% -1250px;
	color:#4c607a;
}

.RadTreeList_EHB .rtlPager .rtlNumPart a:hover span
{
	background-position:0 -1150px;
}

.RadTreeList_EHB .rtlPager .rtlNumPart a.rtlCurrentPage,
.RadTreeList_EHB .rtlPager .rtlNumPart a.rtlCurrentPage:hover
{
	background-position:100% -1450px;
	color:#4c607a;
}

.RadTreeList_EHB .rtlPager .rtlNumPart a.rtlCurrentPage span,
.RadTreeList_EHB .rtlPager .rtlNumPart a.rtlCurrentPage:hover span
{
	background-position:0 -1350px;
}
