<configuration>
  <cookieDomain>.reisystems.com</cookieDomain>
  <users>
    <user type="1">
      <auth type="legacy" mode="authenticate" cookieName="external_cookie" />
    </user>
    <user type="2">
      <auth type="legacy" mode="authenticate" cookieName="internal_cookie"/>
    </user>
    <user type="5">
      <auth type="legacy" mode="authenticate" cookieName="consultant_cookie" />
    </user>
    <user type="6">
      <auth type="legacy" mode="authenticate" cookieName="vendor_cookie" />
    </user>
    <user type="7">
      <auth type="legacy" mode="authenticate" cookieName="technicalanalyst_cookie" />
    </user>
  </users>
  <httpOnly>true</httpOnly>
  <secureCookie>true</secureCookie>
</configuration>


