<configuration>
  <loginUrl>B7B07B64-6E38-487C-8C5D-37D1319C36FE</loginUrl>
  <logoutUrl>D54695F1-3265-41BB-8E2A-217B682C69B2</logoutUrl>
  <remainingSessionUrl>CF79FDB2-23F3-4095-93B6-F241579E2523</remainingSessionUrl>
  <continueSessionUrl>14D80660-8A39-47DA-AD38-F2F53C9017ED</continueSessionUrl>
  <expireSessionUrl>DEF967BA-622F-4D74-969B-7DBA037C57E9</expireSessionUrl>
  <sessionTimeout>30</sessionTimeout>
  <warningTimeOut>5</warningTimeOut>
  <warningCheckInterval>1</warningCheckInterval>
  <userAgreementExpirationDays>365</userAgreementExpirationDays>
  <timeoutJsUri>Y:\Foundation\1.3\Config\AccessControl\Scripts\Timeout.js</timeoutJsUri>
</configuration>
