<root>
  <connections>
    <connection name="Gems" connectionString="hGPuBs/X2CGVbhoboJhNT6M/Alwuy983sXXKtgbckl5aonjNAhhYtccnbrJGuTCi3stkyjLvhahUcWS4eNoAfwKodcCT+PLSsKATli6YEPU=" provider="SqlClient" />
    <connection name="Common" connectionString="hGPuBs/X2CGVbhoboJhNT6M/Alwuy983sXXKtgbckl5aonjNAhhYtccnbrJGuTCi3stkyjLvhahUcWS4eNoAfwKodcCT+PLSsKATli6YEPU=" provider="SqlClient" />
  </connections>
  <defaultConnection name="Gems" />
  <statements delimiter=";" />
  <!--<parameters maintainParamState="true" />-->
  <parameters metadata="true" />
</root>