/*******************************
RadTabStrip CSS Resource Theme

********************************/
.RadTabStrip_ResourcesTheme .rtsLI,
.RadTabStrip_ResourcesTheme .rtsLink
{
	color: #000;
	font: 1.00em/26px, Arial, sans-serif;
}

.RadTabStripLeft_ResourcesTheme .rtsSeparator,
.RadTabStripRight_ResourcesTheme .rtsSeparator
{
	background: #898C95;
}

/* <disabled tabs> */
.RadTabStrip_ResourcesTheme .rtsDisabled
{
	color: #aaa;
}


.RadTabStrip ul { left:0px !important; }
.RadTabStrip:after, .RadTabStripVertical_EPM:after { display:inline !important;}

.RadTabStrip_EPM ul { left:0px !important; }
.RadTabStrip_EPM:after, .RadTabStripVertical_EPM:after { display:inline !important;}
/* </disabled tabs> */

/* <scrolling arrows> */
.RadTabStrip_ResourcesTheme .rtsNextArrow,
.RadTabStrip_ResourcesTheme .rtsPrevArrow,
.RadTabStrip_ResourcesTheme .rtsPrevArrowDisabled,
.RadTabStrip_ResourcesTheme .rtsNextArrowDisabled
{
	background-image: url('./Platform/Include/Skins/EPM/Images/Telerik/TabStrip/TabStripStatesResources.png');
}
/* </scrolling arrows> */

/* <tab backgrounds> */

.RadTabStripTop_ResourcesTheme .rtsLevel { background-color: transparent; }

.RadTabStripTop_ResourcesTheme .rtsLevel .rtsLink,
.RadTabStripTop_ResourcesTheme .rtsLevel .rtsOut,
.RadTabStripBottom_ResourcesTheme .rtsLevel .rtsLink,
.RadTabStripBottom_ResourcesTheme .rtsLevel .rtsOut,
.RadTabStripTop_ResourcesTheme_Baseline .rtsLevel,
.RadTabStripBottom_ResourcesTheme_Baseline .rtsLevel { background-image: transparent; }

.RadTabStripLeft_ResourcesTheme .rtsLink,
.RadTabStripRight_ResourcesTheme .rtsLink { background-image: url('./Platform/Include/Skins/EPM/Images/Telerik/TabStrip/TabStripVStatesResourcess.png'); }

.RadTabStripLeft_ResourcesTheme .rtsLast .rtsLink,
.RadTabStripRight_ResourcesTheme .rtsLast .rtsLink
{
	border-bottom: 0px solid #898C95;
}

.RadTabStripRight_ResourcesTheme .rtsLink,
.RadTabStripRight_ResourcesTheme .rtsLI .rtsDisabled:hover { background-position: 100% 0; }
.RadTabStripRight_ResourcesTheme .rtsLink:hover { background-position: 0px 0px; }
.RadTabStripRight_ResourcesTheme .rtsSelected,
.RadTabStripRight_ResourcesTheme .rtsSelected:hover { background-position: 100% -400px; }
/* </tab backgrounds> */


/* <background positioning: tabs with hovers> */

/* <orientation: top> */

.RadTabStripTop_ResourcesTheme .rtsLink { background-position: 0 0; }
.RadTabStripTop_ResourcesTheme .rtsOut { background-position: 100% 0; }

.RadTabStripTop_ResourcesTheme .rtsLink:hover { background-position: 0 -52px; }
.RadTabStripTop_ResourcesTheme .rtsLink:hover .rtsOut { background-position: 100% -52px; }

.RadTabStripTop_ResourcesTheme .rtsSelected,
.RadTabStripTop_ResourcesTheme .rtsSelected:hover { background-position: 0 -26px; }
.RadTabStripTop_ResourcesTheme .rtsSelected .rtsOut,
.RadTabStripTop_ResourcesTheme .rtsSelected:hover .rtsOut { background-position: 100% -26px; }

.RadTabStripTop_ResourcesTheme .rtsDisabled:hover { background-position: 0 0; }
.RadTabStripTop_ResourcesTheme .rtsDisabled:hover .rtsOut { background-position: 100% 0; }

.RadTabStripTop_ResourcesTheme_Baseline .rtsLevel { background-position: 0 100%; background-repeat: repeat-x; }

/* </orientation: top> */

/* <orientation: bottom> */

.RadTabStripBottom_ResourcesTheme .rtsLink { background-position: 0 -182px; }
.RadTabStripBottom_ResourcesTheme .rtsOut { background-position: 100% -182px; }

.RadTabStripBottom_ResourcesTheme .rtsLink:hover { background-position: 0 -130px; }
.RadTabStripBottom_ResourcesTheme .rtsLink:hover .rtsOut { background-position: 100% -130px; }

.RadTabStripBottom_ResourcesTheme .rtsSelected,
.RadTabStripBottom_ResourcesTheme .rtsSelected:hover { background-position: 0 -156px; }
.RadTabStripBottom_ResourcesTheme .rtsSelected .rtsOut,
.RadTabStripBottom_ResourcesTheme .rtsSelected:hover .rtsOut { background-position: 100% -156px; }

.RadTabStripBottom_ResourcesTheme .rtsDisabled:hover { background-position: 0 -182px; }
.RadTabStripBottom_ResourcesTheme .rtsDisabled:hover .rtsOut { background-position: 100% -182px; }

.RadTabStripBottom_ResourcesTheme_Baseline .rtsLevel { background-position: 0 -599px; background-repeat: repeat-x; }

/* </orientation: bottom> */

/* <orientation: right> */

.RadTabStripRight_ResourcesTheme .rtsUL .rtsLink,
.RadTabStripRight_ResourcesTheme .rtsUL .rtsLI .rtsDisabled:hover { background-position: 100% 0; text-align: left; }
.RadTabStripRight_ResourcesTheme .rtsUL .rtsLink:hover { background-position: 100% -200px; }
.RadTabStripRight_ResourcesTheme .rtsUL .rtsSelected,
.RadTabStripRight_ResourcesTheme .rtsUL .rtsSelected:hover { background-position: 100% -400px; }

/* </orientation: right> */

/* </background positioning: tabs with hovers> */

/* <simplistic sub-item styles> */

.RadTabStrip_ResourcesTheme_SimpleSubItems .rtsLevel2,
.RadTabStrip_ResourcesTheme_SimpleSubItems .rtsLevel3,
.RadTabStrip_ResourcesTheme_SimpleSubItems .rtsLevel4 { background: #fff; }

.RadTabStrip_ResourcesTheme_SimpleSubItems .rtsLevel2 .rtsSelected,
.RadTabStrip_ResourcesTheme_SimpleSubItems .rtsLevel3 .rtsSelected,
.RadTabStrip_ResourcesTheme_SimpleSubItems .rtsLevel4 .rtsSelected
{
	text-decoration: underline;
}

.RadTabStrip_ResourcesTheme_SimpleSubItems .rtsLevel2 .rtsLink,
.RadTabStrip_ResourcesTheme_SimpleSubItems .rtsLevel2 .rtsOut,
.RadTabStrip_ResourcesTheme_SimpleSubItems .rtsLevel2 .rtsIn,
.RadTabStrip_ResourcesTheme_SimpleSubItems .rtsLevel3 .rtsLink,
.RadTabStrip_ResourcesTheme_SimpleSubItems .rtsLevel3 .rtsOut,
.RadTabStrip_ResourcesTheme_SimpleSubItems .rtsLevel3 .rtsIn,
.RadTabStrip_ResourcesTheme_SimpleSubItems .rtsLevel4 .rtsLink,
.RadTabStrip_ResourcesTheme_SimpleSubItems .rtsLevel4 .rtsOut,
.RadTabStrip_ResourcesTheme_SimpleSubItems .rtsLevel4 .rtsIn
{
	background: none;
}

/* </simplistic sub-item styles> */






 div.RadTabStrip_ResourcesTheme {

	background-color: transparent;

	background-position: 0% 0%;

}

 div.RadTabStrip_ResourcesTheme .rtsLevel1 {

	background-image: none;

}

 div.RadTabStrip_ResourcesTheme .rtsLink {

	background-image: none;

	background-color: rgb(255, 255, 255);

	background-position: 0px 0px;

	padding-left: 10px !Important;

	line-height: 22px;

	text-indent: 0px;

	border-style: solid;

	border-width: 1px;

	border-color: #E3E5E7;

	color: rgb(51, 51, 51);

	padding-right: 5px;

}

 div.RadTabStrip_ResourcesTheme .rtsLink .rtsOut {

	background-image: none;

	border-right: 0px solid rgb(226, 226, 226);

	border-left: 0px solid rgb(226, 226, 226);

	line-height: 22px;

	padding-right: 0px;

	padding-left: 0px;

}

 div.RadTabStrip_ResourcesTheme .rtsLink .rtsIn {

	padding-left: 0px;

	padding-right: 0px;

}

 div.RadTabStrip_ResourcesTheme .rtsLink:hover {

	background-image: url('./Platform/Include/Skins/EPM/Images/Telerik/TabStrip/subtabs_bgResources.png') ;

	font-weight: bold;

	color: rgb(121, 44, 15);

}

 div.RadTabStrip_ResourcesTheme .rtsSelected {

	background-color: rgb(233, 242, 249);

	padding-left: 10px;

	border-bottom: 1px solid rgb(233, 242, 249);

	border-color: rgb(182, 205, 222) rgb(255, 255, 255) rgb(233, 242, 249);

	font-weight: bold;

	font-family: Segoe UI, Arial, sans-serif;

	color: rgb(41, 77, 115);

	border-left: 0px solid rgb(255, 255, 255);

	background: url('./Platform/Include/Skins/EPM/Images/Telerik/TabStrip/subtabs_bgResources.png') !Important;

	border-right: 0px solid rgb(255, 255, 255);

	padding-right: 10px;

	background-repeat: repeat-x;

}

 div.RadTabStrip_ResourcesTheme .rtsSelected:hover {

	background-color: rgb(233, 242, 249);

	padding-left: 10px;

	border-bottom: 1px solid rgb(233, 242, 249);

	border-color: rgb(182, 205, 222) rgb(255, 255, 255) rgb(233, 242, 249);

	font-weight: bold;

	font-family: Segoe UI, Arial, sans-serif;

	color: rgb(41, 77, 115);

	border-left: 0px solid rgb(255, 255, 255);

	
	border-right: 0px solid rgb(255, 255, 255);

	padding-right: 10px;

	background-repeat: repeat-x;

}

 div.RadTabStrip_ResourcesTheme .rtsSelected .rtsOut {

	padding-right: 0px;

	border-right-color: rgb(0, 161, 214);

	border-left: 0px solid rgb(255, 255, 255);

	padding-left: 0px;

}

 div.RadTabStrip_ResourcesTheme .rtsSelected:hover .rtsOut {

	padding-right: 0px;

	border-right-color: rgb(0, 161, 214);

	border-left: 0px solid rgb(255, 255, 255);

	padding-left: 0px;

}

 div.RadTabStrip_ResourcesTheme .rtsSelected .rtsIn {

	padding-left: 0px;

	padding-right: 0px;

}

 div.RadTabStrip_ResourcesTheme .rtsSelected:hover .rtsIn {

	padding-left: 0px;

	padding-right: 0px;

}


/*******************************
RadTabStrip CSS Add Theme

********************************/
.RadTabStrip_AddTheme .rtsLI,
.RadTabStrip_AddTheme .rtsLink
{
	background: url('./Platform/Include/Skins/EPM/Images/divider.png') no-repeat 97%;
	color: #000000 !Important;
	font: 12px/26px "Segoe UI", Arial, sans-serif;
}
.RadTabStrip_AddTheme .rtsLast,
.RadTabStrip_AddTheme .rtsLink
{
	background-image: none;
}

.RadTabStrip_AddTheme .rtsLevel1 .rtsLI,
.RadTabStrip_AddTheme .rtsLevel1 .rtsLink
{
	color: #4c607a;
}

.RadTabStrip_AddTheme .rtsLevel .rtsLink:hover,
.RadTabStrip_AddTheme .rtsLevel .rtsSelected,
.RadTabStrip_AddTheme .rtsLevel .rtsSelected:hover
{
	text-decoration: underline;
}

.RadTabStrip_AddTheme .rtsLevel1 .rtsLink:hover,
.RadTabStrip_AddTheme .rtsLevel1 .rtsSelected,
.RadTabStrip_AddTheme .rtsLevel1 .rtsSelected:hover,
.RadTabStrip_AddTheme .rtsLevel .rtsDisabled:hover
{
	text-decoration: none;
}

.RadTabStripLeft_AddTheme .rtsSeparator,
.RadTabStripRight_AddTheme .rtsSeparator
{
	background: #8DB2E3;
}

/* <disabled tabs> */
.RadTabStrip_AddTheme .rtsLevel .rtsDisabled
{
	color: #666;
}
/* </disabled tabs> */

/* <scrolling arrows> */
.RadTabStrip_AddTheme .rtsNextArrow,
.RadTabStrip_AddTheme .rtsPrevArrow,
.RadTabStrip_AddTheme .rtsPrevArrowDisabled,
.RadTabStrip_AddTheme .rtsNextArrowDisabled
{
	background-image: url('TabStrip/TabStripStates.png');
}
/* </scrolling arrows> */

/* <tab backgrounds> */




.RadTabStripTop_AddTheme .rtsLevel2 { background: #ccdbee url('./Platform/Include/TabStrip/Level2Bg.png') repeat-x 0 0; }



.RadTabStripTop_AddTheme .rtsLevel1 .rtsOut,
.RadTabStripBottom_AddTheme .rtsLevel1 .rtsLink,
.RadTabStripBottom_AddTheme .rtsLevel1 .rtsOut,
.RadTabStripTop_AddTheme .rtsLevel1,
.RadTabStripBottom_AddTheme .rtsLevel1 {}

.RadTabStripLeft_AddTheme .rtsLink,
.RadTabStripRight_AddTheme .rtsLink { background-image: url('./Platform/Include/TabStrip/TabStripVStates.png'); }


.RadTabStripLeft_AddTheme .rtsLast .rtsLink,
.RadTabStripRight_AddTheme .rtsLast .rtsLink
{
	border-bottom: 1px solid #898C95;
	background-image:none !Important
}

.RadTabStripRight_AddTheme .rtsLink,
.RadTabStripRight_AddTheme .rtsLI .rtsDisabled:hover { background-position: 100% 0; }
.RadTabStripRight_AddTheme .rtsLink:hover { background-position: 100% -200px; }
.RadTabStripRight_AddTheme .rtsSelected,
.RadTabStripRight_AddTheme .rtsLI .rtsSelected:hover { background-position: 100% -400px; }
/* </tab backgrounds> */


/* <background positioning: tabs with hovers> */

/* <orientation: top> */

.RadTabStripTop_AddTheme .rtsLevel1 .rtsLink { background-position: 0 0; }
.RadTabStripTop_AddTheme .rtsLevel1 .rtsOut { background-position: 100% 0; }

.RadTabStripTop_AddTheme .rtsLevel1 .rtsLink:hover { background-position: 0 -52px; }
.RadTabStripTop_AddTheme .rtsLevel1 .rtsLink:hover .rtsOut { background-position: 100% -52px; }

.RadTabStripTop_AddTheme .rtsLevel1 .rtsDisabled:hover { background-position: 0 0; }
.RadTabStripTop_AddTheme .rtsLevel1 .rtsDisabled:hover .rtsOut { background-position: 100% 0; }

.RadTabStripTop_AddTheme .rtsLevel1 .rtsSelected,
.RadTabStripTop_AddTheme .rtsLevel1 .rtsSelected:hover { background-position: 0 -26px; }
.RadTabStripTop_AddTheme .rtsLevel1 .rtsSelected .rtsOut,
.RadTabStripTop_AddTheme .rtsLevel1 .rtsSelected:hover .rtsOut { background-position: 100% -26px; }

.RadTabStripTop_AddTheme .rtsLevel1 { background-position: 0 100%; background-repeat: repeat-x; }

/* </orientation: top> */

/* <orientation: bottom> */

.RadTabStripBottom_AddTheme .rtsLevel1 .rtsLink { background-position: 0 -182px; }
.RadTabStripBottom_AddTheme .rtsLevel1 .rtsOut { background-position: 100% -182px; }

.RadTabStripBottom_AddTheme .rtsLevel1 .rtsLink:hover { background-position: 0 -130px; }
.RadTabStripBottom_AddTheme .rtsLevel1 .rtsLink:hover .rtsOut { background-position: 100% -130px; }

.RadTabStripBottom_AddTheme .rtsLevel1 .rtsDisabled:hover { background-position: 0 -182px; }
.RadTabStripBottom_AddTheme .rtsLevel1 .rtsDisabled:hover .rtsOut { background-position: 100% -182px; }

.RadTabStripBottom_AddTheme .rtsLevel1 .rtsSelected,
.RadTabStripBottom_AddTheme .rtsLevel1 .rtsSelected:hover { background-position: 0 -156px; }
.RadTabStripBottom_AddTheme .rtsLevel1 .rtsSelected .rtsOut,
.RadTabStripBottom_AddTheme .rtsLevel1 .rtsSelected:hover .rtsOut { background-position: 100% -156px; }

.RadTabStripBottom_AddTheme .rtsLevel1 { background-position: 0 -599px; background-repeat: repeat-x; }

/* </orientation: bottom> */

/* <orientation: right> */

.RadTabStripRight_AddTheme .rtsUL .rtsLink,
.RadTabStripRight_AddTheme .rtsUL .rtsLI .rtsDisabled:hover { background-position: 100% 0; text-align: left; }
.RadTabStripRight_AddTheme .rtsUL .rtsLink:hover { background-position: 100% -200px; }
.RadTabStripRight_AddTheme .rtsUL .rtsSelected,
.RadTabStripRight_AddTheme .rtsUL .rtsLI .rtsSelected:hover { background-position: 100% -400px; }

/* </orientation: right> */

/* </background positioning: tabs with hovers> */


 div.RadTabStrip_AddTheme {

	background-position: 0% 0%;

}

 div.RadTabStrip_AddTheme .rtsLevel1 {


}

 div.RadTabStrip_AddTheme .rtsLink {

	color: rgb(0, 0, 0);

	font-size: 12px;

	font-family: Arial;

	text-indent: -3px;

	background-repeat: repeat-x;
	

}

 div.RadTabStrip_AddTheme .rtsLink .rtsOut {

	border-right: 0px solid rgb(150, 149, 128);

	background-position:97% ;
	
	background-repeat:no-repeat;

	text-indent: 1px;

}

 div.RadTabStrip_AddTheme .rtsLink .rtsIn {

	text-indent: -1px;

}

 div.RadTabStrip_AddTheme .rtsLink:hover {

	background-image: url('./Platform/Include/Skins/EPM/Images/subactive1_selected_hover.png') !Important; 

	background-position:center 5px !Important;

	line-height: 47px;

	font-weight: normal;

	color: rgb(43, 68, 85) !Important;
	
	margin-top:-10px;

}

 div.RadTabStrip_AddTheme .rtsLink:hover .rtsOut {

	border-bottom-style: solid;

	border-bottom-width: 0px;

}

 div.RadTabStrip_AddTheme .rtsSelected {

	background-image: url('./Platform/Include/Skins/EPM/Images/subactive1_selected.png')  !Important; 
	
	background-position:center 5px !Important;

	line-height: 47px;

	font-weight: bold;

	color: rgb(43, 68, 85) !Important;
	
	margin-top:-10px;



}

 div.RadTabStrip_AddTheme .rtsSelected:hover {

	background-image: url('./Platform/Include/Skins/EPM/Images/subactive1_selected.png') !Important; 

	background-position:center 5px !Important;

	line-height: 47px;

	font-weight: bold;

	color: rgb(43, 68, 85) !Important;
	
	margin-top:-10px;


}

 div.RadTabStrip_AddTheme .rtsSelected .rtsOut {

	border-bottom-style: solid;

	border-bottom-width: 0px;

	text-indent: 0px;

}

 div.RadTabStrip_AddTheme .rtsSelected:hover .rtsOut {

	border-bottom-style: solid;

	border-bottom-width: 0px;

	text-indent: 0px;

}

 div.RadTabStrip_AddTheme .rtsSelected .rtsIn {

	border-bottom-style: solid;

	border-bottom-width: 0px;

	text-indent: -2px;

}

 div.RadTabStrip_AddTheme .rtsSelected:hover .rtsIn {

	border-bottom-style: solid;

	border-bottom-width: 0px;

	text-indent: -2px;

}


/* RadTabString Common */
.RadTabStrip,
.RadTabStripVertical
{
	margin: 0;
	padding: 0;
}

.RadTabStripVertical
{
	vertical-align: top;
}

.RadTabStripVertical,
.RadTabStripVertical .rtsLevel
{
	display: -moz-inline-stack;
	display: inline-block;
	zoom: 1;
	*display: inline;
}

.RadTabStripVertical .rtsLevel
{
	height: 100%;
	float: left;
}

* html .RadTabStripVertical .rtsLevel
{
	width: 150px; /* Width is needed for IE6 to show the vertical RadTabStrip properly. */
}

div.RadTabStripVertical .rtsHasWidth,
.RadTabStripVertical .rtsHasWidth .rtsUL,
.RadTabStripVertical .rtsHasWidth .rtsLI
{
	width: 100%;
}

.RadTabStrip .rtsLevel
{
	clear: both;
	overflow: hidden;
	width: 100%;
	position: relative;
	padding-top: 1px;
}

* html .RadTabStrip .rtsLevel
{
	position:static;
}

*+html .RadTabStrip .rtsLevel
{
	position:static;
}

.RadTabStrip .rtsLevel1
{
	padding-top: 0;
}

.RadTabStrip .rtsScroll
{
	width: 10000px;
	white-space:nowrap;
}

.RadTabStrip .rtsUL,
.RadTabStripVertical .rtsUL
{
	overflow: hidden;
	float:left;
	margin: 0;
	padding: 0;
}

.RadTabStrip_rtl .rtsUL
{
	float: right;
}

.RadTabStrip .rtsUL:after
{
	clear: both;
	content: "."; 
	display: block; 
	visibility: hidden;
	height: 0;
	line-height: 0;
	font-size: 0;
}

.RadTabStrip .rtsLI,
.RadTabStripVertical .rtsLI
{
	overflow: hidden;
	list-style-type: none;
	margin: 0; padding: 0;
}

.RadTabStrip .rtsLI
{
	float: left;
	display: inline;
	zoom: 1;
}

* html .RadTabStrip .rtsLI { float: none; }
*+html .RadTabStrip .rtsLI { float: none; }

.RadTabStrip .rtsSeparator,
.RadTabStripVertical .rtsSeparator
{
	height: 26px;
}

.RadTabStrip .rtsLink,
.RadTabStripVertical .rtsLink
{
	display: block;
	outline: none;
	cursor: pointer;
	text-decoration: none;
	white-space: nowrap;
	padding-left: 9px;
}

.RadTabStrip .rtsLink
{
	text-align: center;
}

.RadTabStripVertical .rtsLink
{
	text-align: right;
}

/* Opera & IE8 bozos do not inherit text-decoration */
.RadTabStrip .rtsLevel .rtsOut,
.RadTabStrip .rtsLevel .rtsIn,
.RadTabStrip .rtsLevel .rtsTxt { text-decoration: inherit; }

.RadTabStrip .rtsOut,
.RadTabStripVertical .rtsOut
{
	display: block;
	padding-right: 9px;
}

.RadTabStrip .rtsIn,
.RadTabStripVertical .rtsIn
{
	display: block;
	padding: 0 5px;
}

.RadTabStrip .rtsImg,
.RadTabStripVertical .rtsImg
{
	border: 0;
	margin-top: -2px;
	vertical-align: middle;
}

.RadTabStrip .rtsTxt,
.RadTabStripVertical .rtsTxt
{
	display: inline-block;
}

.RadTabStrip .rtsLevel1 .rtsTxt,
.RadTabStripVertical .rtsLevel1 .rtsTxt
{
	padding: 0 5px;
}

.RadTabStrip .rtsDisabled,
.RadTabStripVertical .rtsDisabled
{
	cursor: default;
}

.RadTabStrip .rtsPrevArrow,
.RadTabStrip .rtsNextArrow,
.RadTabStrip .rtsPrevArrowDisabled,
.RadTabStrip .rtsNextArrowDisabled,
.RadTabStripVertical .rtsPrevArrow,
.RadTabStripVertical .rtsNextArrow,
.RadTabStripVertical .rtsPrevArrowDisabled,
.RadTabStripVertical .rtsNextArrowDisabled
{
	margin-top: 5px;
	height: 18px;
	width: 18px;
	font-size: 0;
	line-height: 18px;
	text-indent:-9999px;
	overflow: hidden;
	outline: 0;
	background-color: transparent;
	background-repeat: no-repeat;
}

.RadTabStrip .rtsPrevArrowDisabled,
.RadTabStrip .rtsNextArrowDisabled,
.RadTabStrip .rtsPrevArrow,
.RadTabStrip .rtsNextArrow
.RadTabStripVertical .rtsPrevArrowDisabled,
.RadTabStripVertical .rtsNextArrowDisabled,
.RadTabStripVertical .rtsPrevArrow,
.RadTabStripVertical .rtsNextArrow
{
	display: block;
}

.RadTabStrip .rtsPrevArrow { background-position: 0 -208px; }
.RadTabStrip .rtsNextArrow { background-position: -18px -208px; }
.RadTabStrip .rtsPrevArrow:hover { background-position: -36px -208px; }
.RadTabStrip .rtsNextArrow:hover { background-position: -54px -208px; }
.RadTabStrip .rtsPrevArrowDisabled,
.RadTabStrip .rtsPrevArrowDisabled:hover { background-position: -72px -208px; }
.RadTabStrip .rtsNextArrowDisabled,
.RadTabStrip .rtsNextArrowDisabled:hover { background-position: -90px -208px; }

.RadTabStripVertical .rtsPrevArrow { background-position: 0 -228px; }
.RadTabStripVertical .rtsNextArrow { background-position: -18px -228px; }
.RadTabStripVertical .rtsPrevArrow:hover { background-position: -36px -228px; }
.RadTabStripVertical .rtsNextArrow:hover { background-position: -54px -228px; }
.RadTabStripVertical .rtsPrevArrowDisabled,
.RadTabStripVertical .rtsPrevArrowDisabled:hover { background-position: -72px -228px; }
.RadTabStripVertical .rtsNextArrowDisabled,
.RadTabStripVertical .rtsNextArrowDisabled:hover { background-position: -90px -228px; }

.RadTabStrip .rtsCenter
{
	text-align: center;
}

.RadTabStrip .rtsImg
{
	border: none;
}
.RadTabStrip .rtsImg+.rtsTxt { display: -moz-inline-box; display: inline-block; }
.RadTabStrip .rtsTxt { display: inline-block; }

.RadTabStrip .rtsRight .rtsUL
{
	float:right;
}

.RadTabStrip .rtsCenter .rtsUL
{
	display: -moz-inline-box;
	display: inline-block;
	float: none;
}

.RadTabStrip .rtsBreak
{
	height: 0;
	width: 0;
	font-size: 0;
	line-height: 0;
	display: block;
	clear: left;
	overflow: hidden;
}

* html .RadTabStrip .rtsCenter .rtsUL { display: inline-block; }
* html .RadTabStrip .rtsCenter .rtsUL { display: inline; }

*+html .RadTabStrip .rtsCenter .rtsUL { display: inline-block; }
*+html .RadTabStrip .rtsCenter .rtsUL { display: inline; }

.RadTabStrip_rtl .rtsLI
{
	float:right;
}

* html .RadTabStrip_rtl .rtsLI
{
	float:none;
}

*+html .RadTabStrip_rtl .rtsLI
{
	float:none;
}

@media screen and (min-width:50px)
{
	:root .RadTabStripHorizontal .rtsScroll
	{
		width: auto;
	}
	
	:root .RadTabStripHorizontal .rtsScroll .rtsLI
	{
		float:none;
		display: inline-block;
	}

	:root .RadTabStripVertical .rtsScroll .rtsLI
	{
		float:none;
	}
}

.RadTabStripVertical .rtsLink,
.RadTabStripVertical .rtsLI .rtsDisabled:hover { background-position: 0 0; }
.RadTabStripVertical .rtsLink:hover { background-position: 0 -200px; }
.RadTabStripVertical .rtsSelected,
.RadTabStripVertical .rtsSelected:hover { background-position: 0 -400px; }

.RadTabStripVertical .rtsLI
{
/*	display: block;*/
}

* html .RadTabStripVertical .rtsLI
{
	display: inline;
}

*+html .RadTabStripVertical .rtsLI
{
	display: inline;
}

.RadTabStripVertical .rtsSeparator
{
	display: block;
	height: 2px;
}

* html .RadTabStripVertical .rtsSeparator
{
	line-height: 0;
	font-size: 0;
}

*+html .RadTabStripVertical .rtsSeparator
{
	line-height: 0;
	font-size: 0;
}

* html .RadTabStripVertical .rtsLevel
{
	overflow: hidden;
}

*+html .RadTabStripVertical .rtsLevel
{
	overflow: hidden;
}

/* RadTabStrip custom */
.RadTabStrip_EPM .rtsLI,
.RadTabStrip_EPM .rtsLink
{
	color: #000;
	font: 1.00em/28px Arial, sans-serif;
}

.RadTabStrip_EPM .rtsLI,
.RadTabStrip_EPM .rtsLink
{
	color: #fff;
	border-right: solid 1px #fff;
}

.RadTabStrip_EPM .rtsLink:hover,
.RadTabStrip_EPM .rtsSelected
{
	color: #000;
}

.RadTabStripLeft_EPM .rtsSeparator,
.RadTabStripRight_EPM .rtsSeparator
{
	background: #6788BE;
}

/* <disabled tabs> */
.RadTabStrip_EPM .rtsLevel .rtsDisabled,
.RadTabStrip_EPM .rtsLevel .rtsDisabled:hover
{
	color: #ddd;
}
/* </disabled tabs> */

/* <scrolling arrows> */
.RadTabStrip_EPM .rtsNextArrow,
.RadTabStrip_EPM .rtsPrevArrow,
.RadTabStrip_EPM .rtsPrevArrowDisabled,
.RadTabStrip_EPM .rtsNextArrowDisabled
{
	background-image: url('./Platform/Include/Skins/EPM/Images/Telerik/TabStrip/TabStripStates.png');
}
/* </scrolling arrows> */

/* <tab backgrounds> */

.RadTabStripTop_EPM .rtsLevel { background-color: transparent; }



.RadTabStripLeft_EPM .rtsLink,
.RadTabStripRight_EPM .rtsLink { background-image: url('./Platform/Include/Skins/EPM/Images/Telerik/TabStrip/TabStripVStates.png'); }

.RadTabStripLeft_EPM .rtsLast .rtsLink,
.RadTabStripRight_EPM .rtsLast .rtsLink
{
	border-bottom: 1px solid #898C95;
}

.RadTabStripRight_EPM .rtsLink,
.RadTabStripRight_EPM .rtsLI .rtsDisabled:hover { background-position: 100% 0; }
.RadTabStripRight_EPM .rtsLink:hover { background-position: 100% -200px; }
.RadTabStripRight_EPM .rtsSelected,
.RadTabStripRight_EPM .rtsSelected:hover { background-position: 100% -400px; }
/* </tab backgrounds> */


/* <background positioning: tabs with hovers> */

/* <orientation: top> */

.RadTabStripTop_EPM .rtsLink { background-position: 0 -4166px !important; }
.RadTabStripTop_EPM .rtsOut { background-position: 100% 0; }

.RadTabStripTop_EPM .rtsLink:hover { background-position: 0 -52px; }
.RadTabStripTop_EPM .rtsLink:hover .rtsOut { background-position: 100% -52px; }

.RadTabStripTop_EPM .rtsSelected,
.RadTabStripTop_EPM .rtsSelected:hover { background-position: 0 -26px; }
.RadTabStripTop_EPM .rtsSelected .rtsOut,
.RadTabStripTop_EPM .rtsSelected:hover .rtsOut { background-position: 100% -26px; }

.RadTabStripTop_EPM .rtsDisabled:hover { background-position: 0 0; }
.RadTabStripTop_EPM .rtsDisabled:hover .rtsOut { background-position: 100% 0; }

.RadTabStripTop_EPM_Baseline .rtsLevel { background-position: 0 100%; background-repeat: repeat-x; }

/* </orientation: top> */

/* <orientation: bottom> */

.RadTabStripBottom_EPM .rtsLink { background-position: 0 -182px; }
.RadTabStripBottom_EPM .rtsOut { background-position: 100% -182px; }

.RadTabStripBottom_EPM .rtsLink:hover { background-position: 0 -130px; }
.RadTabStripBottom_EPM .rtsLink:hover .rtsOut { background-position: 100% -130px; }

.RadTabStripBottom_EPM .rtsSelected,
.RadTabStripBottom_EPM .rtsSelected:hover { background-position: 0 -156px; }
.RadTabStripBottom_EPM .rtsSelected .rtsOut,
.RadTabStripBottom_EPM .rtsSelected:hover .rtsOut { background-position: 100% -156px; }

.RadTabStripBottom_EPM .rtsDisabled:hover { background-position: 0 -182px; }
.RadTabStripBottom_EPM .rtsDisabled:hover .rtsOut { background-position: 100% -182px; }

.RadTabStripBottom_EPM_Baseline .rtsLevel { background-position: 0 -599px; background-repeat: repeat-x; }

/* </orientation: bottom> */

/* <orientation: right> */

.RadTabStripRight_EPM .rtsUL .rtsLink,
.RadTabStripRight_EPM .rtsUL .rtsLI .rtsDisabled:hover { background-position: 100% 0; text-align: left; }
.RadTabStripRight_EPM .rtsUL .rtsLink:hover { background-position: 100% -200px; }
.RadTabStripRight_EPM .rtsUL .rtsSelected,
.RadTabStripRight_EPM .rtsUL .rtsSelected:hover { background-position: 100% -400px; }

/* </orientation: right> */

/* </background positioning: tabs with hovers> */

/* <simplistic sub-item styles> */

.RadTabStrip_EPM_SimpleSubItems .rtsLevel2,
.RadTabStrip_EPM_SimpleSubItems .rtsLevel3,
.RadTabStrip_EPM_SimpleSubItems .rtsLevel4 { background: #fff; }

.RadTabStrip_EPM_SimpleSubItems .rtsLevel2 .rtsLink,
.RadTabStrip_EPM_SimpleSubItems .rtsLevel3 .rtsLink,
.RadTabStrip_EPM_SimpleSubItems .rtsLevel4 .rtsLink
{
	color: #000;
}

.RadTabStrip_EPM_SimpleSubItems .rtsLevel2 .rtsLink:hover,
.RadTabStrip_EPM_SimpleSubItems .rtsLevel3 .rtsLink:hover,
.RadTabStrip_EPM_SimpleSubItems .rtsLevel4 .rtsLink:hover
{
	color: #0f3789;
}

.RadTabStrip_EPM_SimpleSubItems .rtsLevel2 .rtsSelected,
.RadTabStrip_EPM_SimpleSubItems .rtsLevel3 .rtsSelected,
.RadTabStrip_EPM_SimpleSubItems .rtsLevel4 .rtsSelected
{
	text-decoration: underline;
	color: #0f3789;
}

.RadTabStrip_EPM_SimpleSubItems .rtsLevel2 .rtsLink,
.RadTabStrip_EPM_SimpleSubItems .rtsLevel2 .rtsOut,
.RadTabStrip_EPM_SimpleSubItems .rtsLevel2 .rtsIn,
.RadTabStrip_EPM_SimpleSubItems .rtsLevel3 .rtsLink,
.RadTabStrip_EPM_SimpleSubItems .rtsLevel3 .rtsOut,
.RadTabStrip_EPM_SimpleSubItems .rtsLevel3 .rtsIn,
.RadTabStrip_EPM_SimpleSubItems .rtsLevel4 .rtsLink,
.RadTabStrip_EPM_SimpleSubItems .rtsLevel4 .rtsOut,
.RadTabStrip_EPM_SimpleSubItems .rtsLevel4 .rtsIn
{
	background: none;
}

/* </simplistic sub-item styles> */




 DIV.RadTabStrip_EPM {

	BACKGROUND-COLOR: transparent;

}

 DIV.RadTabStrip_EPM .rtsLevel1 {

	BACKGROUND-IMAGE: none;

	BACKGROUND-COLOR: transparent;

}

 DIV.RadTabStrip_EPM .rtsLink
{
    background-image: url('./Platform/Include/Skins/EPM/images/hrsa_theme_sprite_01.png') !important;
    background-color: transparent;
    background-repeat: repeat-x;
    font-family: inherit;
    color: #3A391B !important;
}

 DIV.RadTabStrip_EPM .rtsLink .rtsOut
{
    background-image: none;
    line-height: 28px;
    background-color: transparent;
    text-indent: 0px;
    font-family: inherit;
    background-position: 0px 0px;
    border-right-color: #FFFFFF;
}

 DIV.RadTabStrip_EPM .rtsLink .rtsIn
{
    background-color: transparent;
    font-family: inherit;
    border-right-color: #FFFFFF;
    border-left-color: transparent;
}

 DIV.RadTabStrip_EPM .rtsLink:hover
{
    background-image: url('./Platform/Include/Skins/EPM/images/hrsa_theme_sprite_01.png') !important;
    background-color: #fff;
    background-repeat: repeat-x;
    font-family: inherit;
    background-position: 0 -4106px !important;
    font-weight: normal;
}

 DIV.RadTabStrip_EPM .rtsLink:hover .rtsOut
{
    background-repeat: no-repeat;
}

 DIV.RadTabStrip_EPM .rtsSelected
{
    background-image: url('./Platform/Include/Skins/EPM/images/hrsa_theme_sprite_01.png');
    background-color: transparent;
    text-indent: 0px;
    font-family: inherit;
    background-position: 0 -4106px !important;
    color: #630E0E;
    font-weight: bold;
}

 DIV.RadTabStrip_EPM .rtsSelected:hover
{
    background-image: url('./Platform/Include/Skins/EPM/images/hrsa_theme_sprite_01.png');
    background-color: transparent;
    text-indent: 0px;
    font-family: inherit;
    background-position: 0 -4106px !important;
    color: #630E0E;
    font-weight: bold;
}

 DIV.RadTabStrip_EPM .rtsSelected .rtsOut {

	BACKGROUND-REPEAT: no-repeat;

	BACKGROUND-POSITION: 87px -26px;

}

 DIV.RadTabStrip_EPM .rtsSelected:hover .rtsOut {

	BACKGROUND-REPEAT: no-repeat;

	BACKGROUND-POSITION: 87px -26px;

}

 DIV.RadTabStrip_EPM .rtsDisabled {

	COLOR: #F7F7EC;

}

 DIV.RadTabStrip_EPM .rtsDisabled:hover {

	COLOR: #F7F7EC;

}

.RadTabStrip .rtsIn, .RadTabStripVertical .rtsIn {
padding-left: 2px !Important;
padding-right: 2px !Important;
}

.RadTabStrip .rtsOut, .RadTabStripVertical .rtsOut {

padding-right: 5px !Important;
}

.RadTabStrip .rtsLink, .RadTabStripVertical .rtsLink {
padding-left: 5px !Important;}

/* PanelBar base css */

.RadPanelBar
{
	width: 250px;
	text-align: left;
}

.RadPanelBar_rtl
{
	text-align: right;
}

.RadPanelBar .rpRootGroup
{
	border-width: 1px;
	border-style: solid;
}

.RadPanelBar .rpRootGroup,
.RadPanelBar .rpGroup,
.RadPanelBar .rpItem
{
	margin: 0;
	padding: 0;
	list-style-position:outside;
	list-style: none;
}

.RadPanelBar .rpSlide
{
    position: static;
    float: none;
    height: auto;
	overflow:hidden;
	display:none;
	zoom: 1;
}

.RadPanelBar .rpItem
{
	float: none;
	display: block;
	overflow: hidden;
	position: static;
}
* html .RadPanelBar .rpItem { display: inline; }
* html .RadPanelBar .rpSeparator { display: block; }
* html .RadPanelBar .rpGroup .rpItem { display: block; }

.RadPanelBar .rpItem:after,
.RadPanelBar .rpText:after,
.RadPanelBar .rpTemplate:after
{
    content: ""; 
    display: block; 
    height: 0; 
    line-height: 0;
    font-size: 0;
    clear: both; 
    visibility: hidden;
}

.RadPanelBar .rpLink
{
	cursor: pointer;
	text-decoration: none;
	overflow: hidden;
	background-repeat: repeat-x;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	zoom: 1;
}

.RadPanelBar .rpLink:focus
{
	outline: dotted 1px #000;
}

.RadPanelBar .rpLink,
.RadPanelBar .rpOut,
.RadPanelBar .rpText
{
	display: block;
}

*+html .RadPanelBar .rpItem { display: inline; }
*+html .RadPanelBar .rpGroup .rpItem { display: block; }
*+html .RadPanelBar .rpSeparator { display: block; }

.RadPanelBar .rpOut
{
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

.RadPanelBar .rpFocused .rpOut,
.RadPanelBar a.rpLink:hover .rpOut,
.RadPanelBar .rpSelected .rpOut,
.RadPanelBar a.rpSelected:hover .rpOut
{
	border-bottom-width: 0;
	padding-bottom: 1px;
}

.RadPanelBar a.rpDisabled:hover .rpOut
{
	padding-bottom: 0;
	border-bottom-width: 1px;
}

.RadPanelBar .rpImage
{
	float: left;
	border: 0;
	vertical-align: middle;
	padding: 4px 3px 3px;
}

.RadPanelBar_rtl .rpImage
{
	float: right;
}

* html .RadPanelBar .rpImage { padding-bottom: 4px; }

.RadPanelBar .rpText
{
	padding: 0 10px;
}

/* <sub items> */
.RadPanelBar .rpGroup
{
	overflow: auto;
	overflow-x: hidden;
}

.RadPanelBar .rpGroup .rpLink,
.RadPanelBar .rpGroup .rpTemplate
{
	background-color: transparent;
	
	border-bottom: 0;
	
	font-size: 1.00em;
	
	line-height: 22px;
}


.RadPanelBar .rpGroup a.rpLink:hover
{
	border-bottom: 0;
}

.RadPanelBar .rpGroup .rpLink .rpOut,
.RadPanelBar .rpGroup .rpExpanded .rpOut,
.RadPanelBar .rpGroup .rpSelected .rpOut,
.RadPanelBar .rpGroup a.rpLink:hover .rpOut,
.RadPanelBar .rpGroup a.rpExpanded:hover .rpOut,
.RadPanelBar .rpGroup a.rpSelected:hover .rpOut
{
	padding-bottom: 0;
}

.RadPanelBar .rpGroup a.rpDisabled:hover .rpOut
{
	border-bottom: 0;
}

.RadPanelBar .rpGroup .rpOut
{
	border-bottom: 0;
	margin-right: 3px;
}

.RadPanelBar .rpGroup .rpImage
{
	padding: 0px 3px 0px 0px;
}
/* </sub items> */

/* <level indentation> */
.RadPanelBar .rpLevel2 .rpTemplate,
.RadPanelBar .rpLevel2 .rpOut
{
	padding-left: 15px;
}

.RadPanelBar .rpLevel3 .rpTemplate,
.RadPanelBar .rpLevel3 .rpOut
{
	padding-left: 30px;
}

/*      <rtl> */
.RadPanelBar_rtl .rpLevel2 .rpTemplate,
.RadPanelBar_rtl .rpLevel2 .rpOut
{
	padding-left: 0;
	padding-right: 15px;
}

.RadPanelBar_rtl .rpLevel3 .rpTemplate,
.RadPanelBar_rtl .rpLevel3 .rpOut
{
	padding-left: 0;
	padding-right: 30px;
}
/*      </rtl> */
/* </level indentation> */

.RadPanelBar .rpLevel1 .rpFirst { padding-top: 1px; zoom: 1; }
.RadPanelBar .rpLevel2 .rpItem { padding-top: 0; }

.RadPanelBar .rpLevel1 .rpLast { padding-bottom: 1px; }
.RadPanelBar .rpLevel2 .rpItem { padding-bottom: 0; }

.RadPanelBar .rpExpandable .rpExpandHandle,
.RadPanelBar .rpExpanded .rpExpandHandle
{
	display: block;
	float: right;
	height: 15px;
	width: 15px;
	margin: 5px 5px 0 0;
}

.RadPanelBar .rpGroup .rpExpanded .rpExpandHandle,
.RadPanelBar .rpGroup .rpExpandable .rpExpandHandle
{
	margin: 4px 2px 0 0;
}

.RadPanelBar_rtl .rpExpandable .rpExpandHandle,
.RadPanelBar_rtl .rpExpanded .rpExpandHandle
{
	float: left;
	margin: 5px 0 0 5px;
}

.RadPanelBar_rtl .rpGroup .rpExpanded .rpExpandHandle,
.RadPanelBar_rtl .rpGroup .rpExpandable .rpExpandHandle
{
	margin: 4px 0 0 5px;
}

/*RadPanelBar EHB Skin*/
.RadPanelBar_EPM
{
	background: #fff;
}

.RadPanelBar_EPM .rpRootGroup
{
	border-color: #a5b3c5;
}

.RadPanelBar_EPM .rpLink,
.RadPanelBar_EPM .rpTemplate
{
	color: #000;
	font: normal 1.00em/24px "Segoe UI", Arial, sans-serif;
}

.RadPanelBar_EPM .rpLink
{
	
}

.RadPanelBar_EPM .rpOut
{
	border-color: #D4D3BE;
}

.RadPanelBar_EPM .rpLink
{
	background-color: #a6d9f4;
	border-color:  #abbdd5;
}

.RadPanelBar_EPM .rpExpanded
{
	border-color: #D4D3BE;
}

.RadPanelBar_EPM .rpSelected,
.RadPanelBar_EPM .rpSelected:hover
{
	background-color: #cfdced;
	border-color: #c2cedb;
}

/* <disabled items> */
.RadPanelBar_EPM .rpDisabled,
.RadPanelBar_EPM .rpDisabled:hover
{
	color: #bbb;
}

div.RadPanelBar_EPM .rpDisabled:hover .rpOut
{
	border-bottom: 0px solid #D4D3BE;
	padding-bottom: 0;
}

/* </disabled items> */

/* <expand arrows> */
.RadPanelBar_EPM .rpExpandable .rpText,
.RadPanelBar_EPM .rpExpanded .rpText
{
	background-color: transparent;
	background-image: url('./Platform/Include/Skins/EPM/Images/hrsa_theme_sprite_01.png');
}
/* </expand arrows> */

/* <subitems> */
.RadPanelBar_EPM .rpGroup
{
	background-color: #fff;
}

.RadPanelBar_EPM .rpGroup .rpLink,
.RadPanelBar_EPM .rpGroup .rpTemplate
{
	color: #000;
	background-color: transparent;
	background-image: none;
}

.RadPanelBar_EPM .rpGroup .rpLink:hover
{
	color: #000;
}

.RadPanelBar_EPM .rpGroup .rpLink
{
	background-color: transparent;
	background-image: url('./Platform/Include/Skins/EPM/Images/Telerik/PanelBar/SubItemStates.png');
	background-repeat: no-repeat;
}


/* <subitems (disabled)> */
.RadPanelBar_EPM .rpGroup .rpDisabled,
.RadPanelBar_EPM .rpGroup .rpDisabled:hover,
.RadPanelBar_EPM .rpGroup .rpDisabled:hover .rpOut
{
	background-image: none;
}

.RadPanelBar_EPM .rpGroup .rpDisabled,
.RadPanelBar_EPM .rpGroup .rpDisabled:hover
{
	color: #bbb;
	text-decoration: none;
	background-color: #fff;
}
/* </subitems (disabled)> */

/* <subitems> */

/* <background positioning> */
.RadPanelBar_EPM .rpLink,
.RadPanelBar_EPM .rpExpanded
{
	background-position: 0 -3449px !important;
}

.RadPanelBar_EPM .rpFocused,
.RadPanelBar_EPM .rpLink:hover,
.RadPanelBar_EPM .rpExpanded:hover
{
	background-position: 0 -3649px !important;
}

.RadPanelBar_EPM .rpSelected,
.RadPanelBar_EPM .rpSelected:hover
{
	background-position: 0 -3472px !important;
}

.RadPanelBar_EPM .rpFirst .rpLink,
.RadPanelBar_EPM .rpFirst .rpExpanded
{
	background-position: 0 -3449px !important;
}

.RadPanelBar_EPM .rpFirst .rpFocused,
.RadPanelBar_EPM .rpFirst .rpLink:hover
{
	background-position: 0 -3649px !important;
}

.RadPanelBar_EPM .rpFirst .rpSelected,
.RadPanelBar_EPM .rpFirst .rpSelected:hover
{
	background-position: 0 -3472px !important;
}

/* <root items (disabled)> */
.RadPanelBar_EPM .rpDisabled:hover
{
	cursor: default;
}

.RadPanelBar_EPM .rpDisabled,
.RadPanelBar_EPM .rpDisabled:hover,
.RadPanelBar_EPM .rpDisabled:hover .rpOut
{
	background-color: #fff !Important;
	margin-left: 0px !Important;
	border: none !Important;
	background-image: none !Important
	
}
/* </root items (disabled)> */

/*      <expand arrows> */
.RadPanelBar_EPM .rpExpandable .rpText,
.RadPanelBar_EPM .rpExpanded .rpText
{
	padding-right: 10px;
	background-repeat: no-repeat;
}

.RadPanelBar_EPM_rtl .rpExpandable .rpText,
.RadPanelBar_EPM_rtl .rpExpanded .rpText
{
	padding-left: 20px;
}

.RadPanelBar_EPM_rtl .rpGroup .rpText
{
	padding: 0 8px;
}

.RadPanelBar_EPM .rpExpandable .rpText { background-position: 99% -2854px; }
.RadPanelBar_EPM .rpExpanded .rpText { background-position: 99% -3030px; }
.RadPanelBar_EPM_rtl .rpExpandable .rpText { background-position: 0 0; }
.RadPanelBar_EPM_rtl .rpExpanded .rpText { background-position: 0 -176px; }

/*      </expand arrows> */

.RadPanelBar_EPM .rpGroup .rpLink,
.RadPanelBar_EPM .rpGroup .rpLink .rpOut { background-position: 0 200px  !important; }
.RadPanelBar_EPM .rpGroup .rpLink:hover,
.RadPanelBar_EPM .rpGroup .rpFocused { background-position: 100% -22px !important; }
.RadPanelBar_EPM .rpGroup .rpLink:hover .rpOut,
.RadPanelBar_EPM .rpGroup .rpFocused .rpOut {background:#E2EFFD; margin-left:0px; border-left: 0px solid #BDD9FB; border-top: 0px solid #BDD9FB; color:#660000}

/*      <subitems (selected)> */
.RadPanelBar_EPM .rpGroup .rpSelected,
.RadPanelBar_EPM .rpGroup .rpSelected:hover { background-position: 100% -222px !important; background-color: transparent; }
.RadPanelBar_EPM .rpGroup .rpSelected .rpOut,
.RadPanelBar_EPM .rpGroup .rpSelected:hover .rpOut { background:#BFDAFC url(./Platform/Include/Skins/EPM/images/hrsa_theme_sprite_01.png) repeat-x 0px -2544px !important; margin-left: 0px; border: 1px solid #8FB0D6; border-right: none; border-left: 3px solid #8FB0D6; padding-left: 0px; 
-moz-border-radius-bottomleft:3px;
-moz-border-radius-topleft:3px;

}

/*      </subitems (selected)> */

/*      <subitems (expand arrows)> */
.RadPanelBar_EPM .rpGroup .rpExpandable .rpText,
.RadPanelBar_EPM .rpGroup .rpExpandable:hover .rpText { background-position: 100% -938px !important; }
.RadPanelBar_EPM .rpGroup .rpExpanded .rpText,
.RadPanelBar_EPM .rpGroup .rpExpanded:hover .rpText { background-position: 100% -1078px !important; }
.RadPanelBar_EPM_rtl .rpGroup .rpExpandable .rpText,
.RadPanelBar_EPM_rtl .rpGroup .rpExpandable:hover .rpText { background-position: 0 -938px !important; }
.RadPanelBar_EPM_rtl .rpGroup .rpExpanded .rpText,
.RadPanelBar_EPM_rtl .rpGroup .rpExpanded:hover .rpText { background-position: 0 -1078px !important; }
/*      </subitems (expand arrows)> */
/* </background positioning> */




 DIV.RadPanelBar_EPM .rpRootGroup {

	BORDER-BOTTOM-COLOR: transparent;

	BORDER-TOP-COLOR: transparent;

	BORDER-RIGHT-COLOR: transparent;

	BORDER-LEFT-COLOR: transparent;

}

 DIV.RadPanelBar_EPM .rpRootGroup .rpLink {

	BACKGROUND-IMAGE: url('./Platform/Include/Skins/EPM/images/hrsa_theme_sprite_01.png');

	BORDER-BOTTOM-COLOR: #C3C197;

	BACKGROUND-COLOR: transparent;

	FONT-FAMILY: inherit;

	COLOR: #3D3C21;

}

 DIV.RadPanelBar_EPM .rpRootGroup .rpLink:hover {

	FONT-FAMILY: inherit;

	FONT-WEIGHT: bold;

}

 DIV.RadPanelBar_EPM .rpRootGroup .rpExpandable {

	TEXT-INDENT: 0px;

	FONT-WEIGHT: bold;

}

 DIV.RadPanelBar_EPM .rpRootGroup .rpExpanded {

	TEXT-INDENT: 0px;

}

 DIV.RadPanelBar_EPM .rpRootGroup .rpSelected {

	TEXT-INDENT: 0px;

}

 DIV.RadPanelBar_EPM .rpRootGroup .rpDisabled {

	BORDER-BOTTOM-COLOR: transparent;

	TEXT-INDENT: 0px;

}

 DIV.RadPanelBar_EPM .rpRootGroup .rpDisabled:hover {

	BORDER-BOTTOM-COLOR: transparent;

	

}

 DIV.RadPanelBar_EPM .rpItem .rpGroup .rpLink {

	TEXT-INDENT: 0px;

	FONT-FAMILY: inherit;



	FONT-WEIGHT: normal;

}

 DIV.RadPanelBar_EPM .rpItem .rpGroup .rpSelected {

	TEXT-INDENT: 0px;

	FONT-WEIGHT: bold;

}

 DIV.RadPanelBar_EPM .rpItem .rpGroup .rpExpanded {

	TEXT-INDENT: 0px;

	FONT-WEIGHT: bold;

}

 DIV.RadPanelBar_EPM .rpItem .rpGroup .rpDisabled {

	TEXT-INDENT: 0px;
	FONT-WEIGHT: bold;

}

 DIV.RadPanelBar_EPM .rpItem .rpGroup .rpDisabled:hover {

	TEXT-INDENT: 0px;
	FONT-WEIGHT: bold;
	background-color: #fff !Important

}






 DIV.RadPanelBar_EPM .rpRootGroup {

	BORDER-RIGHT-COLOR: #D4D3BE;

}

 DIV.RadPanelBar_EPM .rpRootGroup .rpLink {

	BORDER-BOTTOM-COLOR: #FFFFFF;

	BORDER-TOP-COLOR: transparent;

	BORDER-RIGHT-COLOR: transparent;

	BORDER-LEFT-COLOR: transparent;

}



 DIV.RadPanelBar_EPM .rpRootGroup .rpExpandable {

	BORDER-BOTTOM-COLOR: #FFFFFF;

	BORDER-TOP-COLOR: transparent;

	FONT-FAMILY: Arial;

	BORDER-RIGHT-COLOR: transparent;

	BORDER-LEFT-COLOR: transparent;

}

 DIV.RadPanelBar_EPM .rpRootGroup .rpExpanded {

	BORDER-BOTTOM-COLOR: transparent;


	BORDER-TOP-COLOR: transparent;

	BORDER-RIGHT-COLOR: transparent;

	BORDER-LEFT-COLOR: transparent;

}

 DIV.RadPanelBar_EPM .rpRootGroup .rpSelected {

	BORDER-BOTTOM-COLOR: transparent;

	BORDER-TOP-COLOR: transparent;

	BORDER-RIGHT-COLOR: transparent;

	BORDER-LEFT-COLOR: transparent;

}

 DIV.RadPanelBar_EPM .rpItem .rpGroup .rpLink {

	COLOR: #006699;
	margin-left: 3px

}

 DIV.RadPanelBar_EPM .rpItem .rpGroup .rpLink:hover {
	FONT-FAMILY: inherit;
	TEXT-DECORATION: none;

}

 DIV.RadPanelBar_EPM .rpItem .rpGroup .rpSelected {
	COLOR: #660000;
}

 DIV.RadPanelBar_EPM .rpItem .rpGroup .rpExpanded {
	COLOR: #660000;
}

 DIV.RadPanelBar_EPM .rpItem .rpGroup .rpDisabled {
	COLOR: #111111;
	padding-left: 4px

}

 DIV.RadPanelBar_EPM .rpItem .rpGroup .rpDisabled:hover {
	COLOR: #111111;
	

}

.RadPanelBar .rpGroup .rpOut
{margin-right:0px; line-height: 18px}

.RadPanelBar .rpLevel2 .rpTemplate, .RadPanelBar .rpLevel2 .rpOut
{padding-left: 3px }

.RadPanelBar .rpLevel2 .rpItem {
padding-bottom:6px;
margin-left: 6px
}

.RadPanelBar .rpText  {padding: 0px 6px 0px 8px; text-indent:0px}


.RadTreeList_EHB .rtlPager .rtlPageFirst,
.RadTreeList_EHB .rtlPager .rtlPagePrev,
.RadTreeList_EHB .rtlPager .rtlPageNext,
.RadTreeList_EHB .rtlPager .rtlPageLast
{
	background:transparent no-repeat url("./Platform/Include/Skins/EHB/Grid/sprite.gif");
	 font-size: 1px;
	 border: 0;
    margin: 0;
    padding: 0;  
    background-repeat: no-repeat;
    vertical-align: middle;
    font-size: 1px;
    cursor: pointer;
    text-indent: -1000px;
}
