.RadPanelBar_SearchTheme
{
	background: none;
}

.RadPanelBar_SearchTheme .rpLink,
.RadPanelBar_SearchTheme .rpTemplate
{
	color: #000;
	font: normal 12px/24px "Segoe UI", Arial, sans-serif;
}

.RadPanelBar_SearchTheme .rpOut
{
	border-bottom:0 !important;
}
.RadPanelBar_SearchTheme .rpOut .rpImage
{
	padding-top:10px ;
}
.RadPanelBar_SearchTheme .rpLink
{
	background-color: #a6d9f4;
	
}

.RadPanelBar_SearchTheme .rpSelected,
.RadPanelBar_SearchTheme .rpSelected:hover
{
	background-color: #cfdced;
	
}

/* <disabled items> */
.RadPanelBar_SearchTheme .rpDisabled,
.RadPanelBar_SearchTheme .rpDisabled:hover
{
	color: #bbb;
}

div.RadPanelBar_SearchTheme .rpDisabled:hover .rpOut
{
	border-bottom: 0 solid #D4D3BE;
	
}

/* </disabled items> */

/* <expand arrows> */
.RadPanelBar_SearchTheme .rpExpandable .rpText,
.RadPanelBar_SearchTheme .rpExpanded .rpText
{
	background-color: transparent;
	background-image: url('./Images/results_filtertitles_bg_arrows.png');
}
/* </expand arrows> */

/* <subitems> */
.RadPanelBar_SearchTheme .rpGroup
{
	background: none;
	
}

.RadPanelBar_SearchTheme .rpGroup .rpLink,
.RadPanelBar_SearchTheme .rpGroup .rpTemplate
{
	color: #000;
	background-color: transparent;
}

.RadPanelBar_SearchTheme .rpGroup .rpLink:hover
{
	color: #000;
}

.RadPanelBar_SearchTheme .rpGroup .rpLink
{
	background-color: transparent;
	background-image: url('./PanelBar/SubItemStates.png');
	background-repeat: no-repeat;
	
}


/* <subitems (disabled)> */
.RadPanelBar_SearchTheme .rpGroup .rpDisabled,
.RadPanelBar_SearchTheme .rpGroup .rpDisabled:hover,
.RadPanelBar_SearchTheme .rpGroup .rpDisabled:hover .rpOut
{
	background-image: none;
}

.RadPanelBar_SearchTheme .rpGroup .rpDisabled,
.RadPanelBar_SearchTheme .rpGroup .rpDisabled:hover
{
	color: #bbb;
	text-decoration: none;
	background-color: #fff;
}
/* </subitems (disabled)> */

/* <subitems> */

/* <background positioning> */
.RadPanelBar_SearchTheme .rpLink,
.RadPanelBar_SearchTheme .rpExpanded
{
	background-position: 0 0;
}

.RadPanelBar_SearchTheme .rpFocused,
.RadPanelBar_SearchTheme .rpLink:hover,
.RadPanelBar_SearchTheme .rpExpanded:hover
{
	background-position: 0 0;
}

.RadPanelBar_SearchTheme .rpSelected,
.RadPanelBar_SearchTheme .rpSelected:hover
{
	background-position: 0 -27px;
}

.RadPanelBar_SearchTheme .rpFirst .rpLink,
.RadPanelBar_SearchTheme .rpFirst .rpExpanded
{
	background-position: 0 0;
}

.RadPanelBar_SearchTheme .rpFirst .rpFocused,
.RadPanelBar_SearchTheme .rpFirst .rpLink:hover
{
	padding-bottom:0;
}

/* <root items (disabled)> */
.RadPanelBar_SearchTheme .rpDisabled:hover
{
	cursor: default;
}

.RadPanelBar_SearchTheme .rpDisabled,
.RadPanelBar_SearchTheme .rpDisabled:hover,
.RadPanelBar_SearchTheme .rpDisabled:hover .rpOut
{
	background-color: #fff !important;
	margin-left: 0 !important;
	background-image: none !important
	
}
/* </root items (disabled)> */

/*      <expand arrows> */
.RadPanelBar_SearchTheme .rpExpandable .rpText,
.RadPanelBar_SearchTheme .rpExpanded .rpText
{
	padding-right: 10px;
	background-repeat: no-repeat;
}

.RadPanelBar_SearchTheme_rtl .rpExpandable .rpText,
.RadPanelBar_SearchTheme_rtl .rpExpanded .rpText
{
	padding-left: 20px;
}

.RadPanelBar_SearchTheme_rtl .rpGroup .rpText
{
	padding: 0 8px;
}

.RadPanelBar_SearchTheme .rpExpandable .rpText { background-position: 99% -2854px; }
.RadPanelBar_SearchTheme .rpExpanded .rpText { background-position: 99% -3030px; }
.RadPanelBar_SearchTheme_rtl .rpExpandable .rpText { background-position: 0 0; }
.RadPanelBar_SearchTheme_rtl .rpExpanded .rpText { background-position: 0 -176px; }

/*      </expand arrows> */

.RadPanelBar_SearchTheme .rpGroup .rpLink,
.RadPanelBar_SearchTheme .rpGroup .rpLink .rpOut { background-position: 0 200px; }

.RadPanelBar_SearchTheme .rpGroup .rpLink:hover,
.RadPanelBar_SearchTheme .rpGroup .rpFocused { background-position: 100% -22px; }

.RadPanelBar_SearchTheme .rpGroup .rpLink:hover .rpOut,
.RadPanelBar_SearchTheme .rpGroup .rpFocused .rpOut {
	background:#E2EFFD;
	margin-left:0;
	border-left: 0 solid #BDD9FB;
	border-top: 0 solid #BDD9FB;
	color:#660000;
}

/*      <subitems (selected)> */
.RadPanelBar_SearchTheme .rpGroup .rpSelected,
.RadPanelBar_SearchTheme .rpGroup .rpSelected:hover {
	background-position: 100% -222px;
	background-color: transparent;
}

.RadPanelBar_SearchTheme .rpGroup .rpSelected .rpOut,
.RadPanelBar_SearchTheme .rpGroup .rpSelected:hover .rpOut {
	background:#BFDAFC url(./Images/hrsa_theme_sprite_01.png) repeat-x 0 -2544px;
	margin-left: 0;
	border: 1px solid #8FB0D6;
	border-right: none;
	border-left: 3px solid #8FB0D6;
	padding-left: 0; 
	border-radius:3px 0 0 3px;

}

/*      </subitems (selected)> */

/*      <subitems (expand arrows)> */
.RadPanelBar_SearchTheme .rpGroup .rpExpandable .rpText,
.RadPanelBar_SearchTheme .rpGroup .rpExpandable:hover .rpText { background-position: 100% -938px; }
.RadPanelBar_SearchTheme .rpGroup .rpExpanded .rpText,
.RadPanelBar_SearchTheme .rpGroup .rpExpanded:hover .rpText { background-position: 100% -1078px; }
.RadPanelBar_SearchTheme_rtl .rpGroup .rpExpandable .rpText,
.RadPanelBar_SearchTheme_rtl .rpGroup .rpExpandable:hover .rpText { background-position: 0 -938px; }
.RadPanelBar_SearchTheme_rtl .rpGroup .rpExpanded .rpText,
.RadPanelBar_SearchTheme_rtl .rpGroup .rpExpanded:hover .rpText { background-position: 0 -1078px; }
/*      </subitems (expand arrows)> */
/* </background positioning> */




 DIV.RadPanelBar_SearchTheme .rpRootGroup {

	BORDER-BOTTOM-COLOR: transparent;

	BORDER-TOP-COLOR: transparent;

	BORDER-RIGHT-COLOR: transparent;

	BORDER-LEFT-COLOR: transparent;
	margin-bottom:-2px;

}

 DIV.RadPanelBar_SearchTheme .rpRootGroup .rpLink {

	BACKGROUND-IMAGE: url('./Images/results_filtertitles_bg_arrows.png');

	BACKGROUND-COLOR: transparent;

	FONT-FAMILY: inherit;

	COLOR: #3D3C21;
	
	padding-left:15px;
	
	border-top: solid 1px #c7d7e4;
	border-bottom: solid 1px #c7d7e4;
	

}

 DIV.RadPanelBar_SearchTheme .rpRootGroup .rpLink:hover {

	FONT-FAMILY: inherit;

	FONT-WEIGHT: bold;

}

 DIV.RadPanelBar_SearchTheme .rpRootGroup .rpExpandable {

	TEXT-INDENT: 0;

	FONT-WEIGHT: bold;
	background-position: 0 -1px;
}

 DIV.RadPanelBar_SearchTheme .rpRootGroup .rpExpanded {

	TEXT-INDENT: 0;
	background-position: 0 -27px;

}

 DIV.RadPanelBar_SearchTheme .rpRootGroup .rpSelected {

	TEXT-INDENT: 0;

}

 DIV.RadPanelBar_SearchTheme .rpRootGroup .rpDisabled {

	

	TEXT-INDENT: 0;

}


 DIV.RadPanelBar_SearchTheme .rpItem .rpGroup .rpLink {

	TEXT-INDENT: 0;

	FONT-FAMILY: inherit;

	FONT-WEIGHT: normal;

}

 DIV.RadPanelBar_SearchTheme .rpItem .rpGroup .rpSelected {

	TEXT-INDENT: 0;

	FONT-WEIGHT: bold;

}

 DIV.RadPanelBar_SearchTheme .rpItem .rpGroup .rpExpanded {

	TEXT-INDENT: 0;

	FONT-WEIGHT: bold;

}

 DIV.RadPanelBar_SearchTheme .rpItem .rpGroup .rpDisabled {

	TEXT-INDENT: 0;
	FONT-WEIGHT: bold;

}

 DIV.RadPanelBar_SearchTheme .rpItem .rpGroup .rpDisabled:hover {

	TEXT-INDENT: 0;
	FONT-WEIGHT: bold;
	background-color: #fff !Important;

}


 DIV.RadPanelBar_SearchTheme .rpRootGroup .rpExpandable {

	FONT-FAMILY: Arial;	
}

 DIV.RadPanelBar_SearchTheme .rpItem .rpGroup .rpLink {

	COLOR: #006699;
	margin-left: 3px;
}

 DIV.RadPanelBar_SearchTheme .rpItem .rpGroup .rpLink:hover {
	FONT-FAMILY: inherit;
	TEXT-DECORATION: none;
}

 DIV.RadPanelBar_SearchTheme .rpItem .rpGroup .rpSelected {
	COLOR: #660000;
}

 DIV.RadPanelBar_SearchTheme .rpItem .rpGroup .rpExpanded {
	COLOR: #660000;
}

 DIV.RadPanelBar_SearchTheme .rpItem .rpGroup .rpDisabled {
	COLOR: #111111;
	padding-left: 4px;
}

 DIV.RadPanelBar_SearchTheme .rpItem .rpGroup .rpDisabled:hover {
	COLOR: #111111;
	

}

.RadPanelBar .rpGroup .rpOut{
	margin-right:0;
	line-height: 18px;
}

.RadPanelBar .rpLevel2 .rpTemplate, .RadPanelBar .rpLevel2 .rpOut{
	padding-left: 3px;
}

.RadPanelBar .rpLevel2 .rpItem {
	padding-bottom:6px;
	margin-left: 6px;
}

.RadPanelBar .rpText  {
	padding: 0 6px 0 8px;
	text-indent:0;
}


