<root>
  <connections>
    <connection name="Gems" connectionString="hGPuBs/X2CGVbhoboJhNT02Uhc/iURG6szvvU7dl/Hirzp3aMG/GvdZgTkwQUL4FpoNhwhHkqen+0LcjQvAqRzdk/GSO/gdRDPrMz+vdqaITqQOUDdA0ZqdJaYKPTsAe" provider="SqlClient" />
    <connection name="Common" connectionString="hGPuBs/X2CGVbhoboJhNT02Uhc/iURG6szvvU7dl/Hirzp3aMG/GvdZgTkwQUL4FpoNhwhHkqen+0LcjQvAqRzdk/GSO/gdRDPrMz+vdqaITqQOUDdA0ZqdJaYKPTsAe" provider="SqlClient" />
  </connections>
  <defaultConnection name="Gems" />
  <statements delimiter=";" />
  <!--<parameters maintainParamState="true" />-->
  <parameters metadata="true" />
</root>