/*Telerik RadInput Common CSS*/

/*global*/

.RadInput,
.RadInputMgr
{
	vertical-align:middle;
	width: 160px;
}

.RadInput table
{
	border:0;
	vertical-align:bottom;
}

.RadInput table.riTable td
{
	border:0;
	padding:0;
	vertical-align:middle;
	overflow:visible;/*RadGrid*/
}

.RadInput table td.riCell
{
	padding-right:4px;
}

.RadInput textarea
{
	vertical-align:bottom;
	overflow:auto;
	resize:none;
    white-space:normal;
}

/*textbox states*/

html body .RadInput .riTextBox,
html body .RadInputMgr
{
	border-width:1px;
	border-style:solid;
	padding:2px 1px 3px;
	vertical-align:middle;
}

textarea.RadInputMgr
{
	overflow:auto;
}

/*buttons*/

.RadInput a
{
	display:block;
	overflow:hidden;
	position:relative;/*FF*/
	outline:none;/*FF*/
	z-index:2;/*Opera*/
	text-indent:-2222px;
	text-align:center;
	text-decoration:none;
}
* html .RadInput a{position:static}/*IE6*/
*+html .RadInput a{position:static}/*IE7*/

.RadInput .riSpin a
{
	margin:0 1px;
}

.RadInput a.riDown
{
	margin-top:3px;
}

/*\*/ * html .RadInput a.riDown
{
	margin-top /**/:0;
}/**/

/*label*/

.RadInput .riLabel
{
	margin:0 4px 0 0;
	white-space:nowrap;
	width: 40%;
	background: transparent;
}

/*fixes*/
@media screen and (-webkit-min-device-pixel-ratio:0)
{
	.rdfd_
	{
		position:absolute;
	}
}

* html .RadInput
{
	display:inline-block;
	height:25px;
}

/*rtl*/

.RadInputRTL table td.riCell
{
	padding:0 0 0 4px;
}

.RadInputRTL .riLabel
{
	margin:0 0 0 4px;
}



/*password strength metter*/
.riStrengthBar
{
	background:url('Common/PasswordStrength.png') repeat-y;
	display:inline-block;
	width:100px;
	height:20px;
	margin-left:5px;
	font:12px/18px "segoe ui",arial,sans-serif;
	color:#000;
	text-align:center;
	vertical-align:middle;
	overflow:hidden;
}

.riStrengthBarL0
{
	background:none;
}

.riStrengthBarL1
{
	background-color:#ff3933;
	background-position:0 0;
	color:#620000;
}

.riStrengthBarL2
{
	background-color:#ff7833;
	background-position:-300px 0;
	color:#922b00;
}

.riStrengthBarL3
{
	background-color:#ffbe33;
	background-position:-600px 0;
	color:#9e5900;
}

.riStrengthBarL4
{
	background-color:#ddcc33;
	background-position:-900px 0;
	color:#696400;
}

.riStrengthBarL5
{
	background-color:#6bcc33;
	background-position:100% 0;
	color:#236800;
}

/*Single Input Rendering*/
.riSingle
{
	display:inline-block;
	white-space:nowrap;
	text-align:left;
}

.riSingle,
.riLabel,
.riSingle .riTextBox,
.riSingle .riContentWrapper
{
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-khtml-box-sizing:border-box;
}

.riSingle a.riButton
{
	display:inline-block;
	vertical-align:middle;
}

.riSingle a.riButton
{
	background-position:3px 5px;
	height:18px;
	line-height:18px;
	width:20px;
}

.riSingle a.riButton:hover
{
	background-position:3px -45px
}

.riSingle .riLabel
{
	vertical-align:middle;
	display:inline-block;
	margin-right:0;
	padding-right: 5px;
}

.riSingle a.riUp,
.riSingle a.riDown
{
	display: inline-block;
	height:8px;
	width:15px;
	vertical-align:top;
}

.riSingle a.riDown
{
	margin-left: -15px;
	vertical-align:bottom;
}

.riSingle .riContentWrapper
{
	display:inline-block;
	vertical-align:middle;
	overflow:visible;
	width: 60%;
}

* + html .riSingle .riContentWrapper
{
	overflow:visible;
}

.riContButton
{
	padding-right:22px;
}

.riContSpinButtons
{
	padding-right:17px;
}

.riContButton.riContSpinButtons
{
	padding-right:35px;
}

.riContButton .riContentWrapper
{
	padding-right:21px;
}

.riContSpinButtons .riContentWrapper
{
	padding-right:17px;
}

.riContButton.riContSpinButtons .riContentWrapper
{
	padding-right:35px;
}

html body .riSingle .riTextBox,
html body .riSingle .riTextBox[type="text"]
{
	padding-right:5px;
	padding-left:5px;
	margin:0;
	width:100%;
}

.RadForm.rfdTextbox .riSingle input.rfdDecorated
{
	padding-right:5px;
	padding-left:5px;
}

.riSingle .riButton
{
	display: inline-block;
	margin-top: 2px;
}

.riSingle .riStrengthBar
{
	margin-left:0;
}

.rcSingle .riSingle
{
	white-space:normal; /*fix for Chrome and Safari*/
}

div.RadPicker table.rcSingle .rcInputCell
{
	padding-right:0;
}

/*RTL and Swap Button support */
.RadInputRTL
{
	text-align:right;
}

.riSingle.RadInputRTL a.riDown
{
	margin-left:0;
	margin-right:-15px;
}

/*Fixes for Opera */
._Telerik_Opera11 .riSingle.RadInputRTL a.riUp
{
	margin-right: -15px;
}
._Telerik_Opera11 .riSingle.RadInputRTL a.riDown
{
	margin-right: 0;
}
/*End fixes for Opera */

.riContButton.RadInputRTL,
.riContButton.riButtonSwap
{
	padding-right:0;
	padding-left:21px;
}

.riContSpinButtons.RadInputRTL,
.riContSpinButtons.riButtonSwap
{
	padding-right:0;
	padding-left:17px;
}

.riContButton.riContSpinButtons.RadInputRTL,
.riContButton.riContSpinButtons.riButtonSwap
{
	padding-right:0;
	padding-left:35px;
}

.riContButton.RadInputRTL .riContentWrapper,
.riContButton.riButtonSwap .riContentWrapper
{
	padding-right:0;
	margin-right:0;
	padding-left:21px;
	margin-left:-21px;
}

.riContSpinButtons.RadInputRTL .riContentWrapper,
.riContSpinButtons.riButtonSwap .riContentWrapper
{
	padding-right:0px;
	padding-left:17px;
}
	
.riContButton.riContSpinButtons.RadInputRTL .riContentWrapper,
.riContButton.riContSpinButtons.riButtonSwap .riContentWrapper
{
	padding-right:0;
	padding-left:35px;
}

.riContButton.riContSpinButtons.riButtonSwap .riLabel
{
	margin-left:-35px;
	margin-right:35px;
}
/*End RTL and Swap Button support*/

/*Fixes for IE */
* html body .riSingle .riTextBox
{
	margin-top: -2px;
}

/*\*/ * html body .riSingle .riTextBox
{
	margin-top /**/:0;
}/**/
/*End Fixes for IE*/
/* End Single Input Rendering*/


/*Telerik RadInput Vista Skin*/

/*global*/

.RadInput_EPM,
.RadInputMgr_EPM
{
	font:12px "segoe ui",arial,sans-serif;
}

/*textbox states*/

html body .RadInput_EPM .riTextBox,
html body .RadInputMgr_EPM
{
	border-color:#abadb3 #dbdfe6 #e3e9ef #e2e3ea;
	background:#fff;
	color:#000;
	font:12px "segoe ui",arial,sans-serif;
}

html body .RadInput_EPM .riEmpty,
html body .RadInput_Empty_EPM
{
	color:#8a8a8a;
}

html body .RadInput_EPM .riHover,
html body .RadInput_Hover_EPM,
html body .RadInput_EPM .riFocused,
html body .RadInput_Focused_EPM
{
	border-color:#5794bf #b7d5ea #c7e2f1 #c5daed;
}

html body .RadInput_EPM .riRead,
html body .RadInput_Read_EPM
{
	border-color:#e3e9ef;
}

html body .RadInput_EPM .riDisabled,
html body .RadInput_Disabled_EPM
{
	border-color:#e3e9ef;
	color:#8a8a8a;
	cursor:default;
}

html body .RadInput_EPM .riError,
html body .RadInput_Error_EPM
{
	border-color:#b32d34 #dc643f #ea8541 #e5713e;
	background:#fff 100% -298px no-repeat url('Input/sprite.gif');
	color:#b32d34;
}

.RadForm.rfdTextbox .RadInput_EPM .riError[type="text"],
.RadForm.rfdTextbox .RadInput_Error_EPM[type="text"]
{
	border-color:#b32d34 #dc643f #ea8541 #e5713e;
	background:#fff 100% -298px no-repeat url('Input/sprite.gif');
	color:#b32d34;
}

html body .RadInput_EPM .riNegative,
html body .RadInput_Negative_EPM
{
	color:#565656;
}

/*buttons*/

.RadInput_EPM a
{
	background:transparent no-repeat url('Input/sprite.gif');
}

/*go*/

.RadInput_EPM .riBtn a
{
	width:20px;
	height:18px; 
	line-height:18px;
	background-position:3px 5px;
}

.RadInput_EPM .riBtn a:hover
{
	background-position:3px -45px;
}

/*spin*/

.RadInput_EPM .riSpin a
{
	width:15px;
	height:7px; 
	line-height:7px;
}

.RadInput_EPM a.riUp
{
	background-position:4px -98px;
}

.RadInput_EPM a.riUp:hover
{
	background-position:4px -148px;
}

.RadInput_EPM a.riDown
{
	background-position:4px -199px;
}

.RadInput_EPM a.riDown:hover
{
	background-position:4px -249px;
}

/*label*/

.RadInput_EPM .riLabel
{
	color:#000;
}

/*rtl*/

html body .RadInputRTL_EPM .riError,
html body .RadInputRTL_Error_EPM
{
	background-position:3px -298px;
}

.RadForm.rfdTextbox .RadInputRTL_EPM .riError[type="text"],
.RadForm.rfdTextbox .RadInputRTL_Error_EPM[type="text"]
{
	background-position:3px -298px;
}
