<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="documentSettings"
             type="Platform.CrossCutting.Configuration.StorageProvider.FileStorageProvider.DocumentConfigSettings,
             Platform.CrossCutting.Configuration,Version=3.0.0.0,Culture=neutral,PublicKeyToken=677fce62a3a80367" />
    <section name="enterpriseLibrary.ConfigurationSource"
             type="Platform.CrossCutting.Configuration.StorageProvider.FileStorageProvider.PlatformSettings,
             Platform.CrossCutting.Configuration,Version=3.0.0.0,Culture=neutral,PublicKeyToken=677fce62a3a80367" />
  </configSections>

  <enterpriseLibrary.ConfigurationSource>
    <sources>
      <add name="Filebased" sourceType="file" sectionName="documentSettings" />
    </sources>
  </enterpriseLibrary.ConfigurationSource>

  <documentSettings>
    <documentMaps>
      <add name="DataAccess" sourceDirectory="Y:\Technical\Foundation\4.3\Config" filePath="foundationDocumentMap-legacy.config" />
    </documentMaps>
  </documentSettings>
</configuration>


