/********Dashboards CSS********/

/****MasterPage***/
.dashpagebody {width: auto; padding: 10px 10px 0px 12px;}

/****Scorecard****/
.dashwrapper {overflow:hidden}
.dashtop{ border-bottom:3px solid #f2f2f2;}
.dashleft{ border-right:3px solid #f2f2f2;}
.Scorecard {overflow:hidden;background-image:url(./Platform/Include/Skins/PAMS/images/scorecard-pipe.png); padding:0px 5px 0px 5px; background-repeat:no-repeat; background-position: center top;}

.dash-divide{background-image:url(./Platform/Include/Skins/PAMS/images/scorecard-border.png); background-position:center; margin-bottom:20px;  background-repeat:no-repeat;}
.dash-pipe{ margin-left:1.5%; margin-right:1%;background-image:url(./Platform/Include/Skins/PAMS/images/scorecard-pipe.png);  height:250px; padding:0px 5px 0px 5px; background-repeat:no-repeat; float:left; display:inline-block;}

.dashwrapper .dashmodule {background-color: #fff; padding:0px 0px 15px 0px; margin-bottom: 0px; width:48%; margin-top:10px; }

.dashwrapper .PAMS_dashtable {background-image:url(./Platform/Include/Skins/PAMS/images/dashtable-bg.png); background-repeat:repeat-x; background-position:bottom;}
.PAMS_dashtable tr.coleven {background:none;}
.PAMS_dashtable tr.colodd {background:none;}

.dashwrapper .PAMS_dashtable{ width:100%}
.dashwrapper .PAMS_dashtable {border-collapse:collapse; border: 0px}


.dashwrapper .PAMS_dashtable  {background-color: #fff; height: 25px; margin-top: 0px; border-bottom: 1px solid #E5E5E5;}

.dashwrapper .PAMS_dashtable th {padding-left: 7px;   padding-bottom: 4px; padding-top: 4px; padding-right: 10px;  }
.dashwrapper .PAMS_dashtable .header{text-align:left;}

.dashwrapper .PAMS_dashtable td {padding-left: 7px;   padding-bottom: 4px; padding-top: 4px; padding-right: 10px; border-bottom: 1px solid #E5E5E5;}
.dashwrapper .PAMS_dashtable tr { border-top:1px solid #efefef}

.dashwrapper .dashmodule .dashtitle  { font-family:Georgia; font-size:14px; color:#7e330f; display:block; padding: 8px 10px 10px 0px;}
.dash-highlight{color:#658F22; display:inline;}

.dashtitle h3 {font-size:14px;}
.dashwrapper .rowheader{ background:none; border:0px !important; color:#000000;}
.dashwrapper .rowheader td {border-top:0px;}
.dashspacing {padding-bottom:0px;}

/****Dashboard****/
.dashwrapper .dashbox {background-color: #fff; padding:10px 10px 15px 10px; margin-bottom: 0px; width:47%; margin-top:25px; border: 1px solid #eff0f1; }
.dashcontainer {width:100%; margin-left:auto; margin-right:auto; display:inline-block;}
.dashdate{padding-left:25px; font-size:11px; margin-top:-10px;}
.dashheight{min-height:575px;}
.dashchart {padding: 25px 0px 0px 0px;}
.dashblockprimary {margin-top: 5px}
.dashblocksecondary {margin-top: 2%}

.dashheaderspacing{padding-bottom:5px !important;}
.dashwrapper .dashbox .runner{background-color: #eff2f7; border-top: 1px solid #eff0f1; float:left; margin: 40px 0px -16px -11px; padding:0px 20px 25px 0px; width:100%; border: 1px solid #dbdada;}
.runnerarrow { position:relative; background-image:url(./Platform/Include/Skins/PAMS/images/runner-arrow.png); padding-left:20px; background-repeat:no-repeat; margin-left:12px; margin-top:-12px;float:left;}

/****Dash Display All****/
.dashbox_all {width:98% !important; margin-left:auto !important; margin-right:auto !important; }

.dashwrapper .dashbox .dashtitle  { font-family:Georgia; font-size:14px; color:#24567f; display:block; padding: 5px 5px 5px 5px; background-color:#ffffff; margin-top:-25px;}

.dashdown{border: 1px solid #c0cad6; padding-bottom:4px;}

.tableSubLink{font-size:11px;}
.menuGearIcon{padding-top:4px;}


.filterBoxes{  float:left; margin-top:0px; position:absolute; }
.comboboxRight{bottom:0px; position:relative;  }
.comboboxLeft{float:left; padding-top:4px; margin-right:-10px; bottom:0px; position:relative; }
.indicatorcol {text-align:center;}

.indentcol {padding-left:30px;}


.dashblock {background-color:#E5E5E5; padding-left:3px; padding-right:3px;}
.statuscontainer {display:inline; padding-bottom:3px;}
.dashstatus{border: 1px solid #c1c1c1;padding: 3px 3px 3px 3px; display:inline; background-image:url(./Platform/Include/Skins/PAMS/images/dashstatus-bg.png); background-repeat:repeat-x; background-position:bottom; color:#000000;margin-bottom:8px;}
.dashstatus .subtext {font-size:14px; display:inline; padding:0px; background:none;}
.dashstatusarrow{ margin-top:-1px; left:7px; background-repeat:no-repeat; display:inline; position:relative;}
.dashstatus-symbols{border: 1px solid #c1c1c1;padding: 3px 6px 3px 6px; display:inline; background-image:url(./Platform/Include/Skins/PAMS/images/dashstatus-symbol-bg.png); background-repeat:repeat-x;  color:#c1c1c1; font-weight:normal; margin-left:5px;}

/****Dashboard Data Table View****/
.dashwrapper .PAMS_datatable .rowheader{ background:url(./Platform/Include/HrsaTheme/images/DashboardImages/datatable-bg-alt.png) 0 0; background-repeat:repeat-x; background-color:#ededed; }
.PAMS_datatable tr.coleven {background:#ffffff;}
.PAMS_datatable tr.colodd {background:#f4f5f5;}

.dashwrapper .PAMS_datatable{ width:100%; margin-top:20px !important;}
.dashwrapper .PAMS_datatable {border-collapse:collapse; border: 0px}


.dashwrapper .PAMS_datatable  {background-color: #fff; height: 25px; margin-top: 0px; border-bottom: 1px solid #E5E5E5;}
.dashwrapper .dashbox_all .PAMS_datatable {margin-top:9px !important}

.dashwrapper .PAMS_datatable th {padding-left: 7px;   padding-bottom: 2px; padding-top: 4px; padding-right: 0px; border-top:1px solid #e1e1e1; border-bottom:1px solid #e1e1e1; text-align:left }
.dashwrapper .PAMS_datatable .header{text-align:left;}

.dashwrapper .PAMS_datatable td {padding-left: 7px;   padding-bottom: 4px; padding-top: 4px; padding-right: 0px; border-bottom: 1px solid #E5E5E5;}
.dashwrapper .PAMS_datatable tr { border-top:1px solid #efefef}
 
.contextmenu_selected{background-color:#e5f0fc; border: 1px solid #abc9eb; }
.contextmenu_disable{color:#a7a7a7 !important; text-decoration:none !important; cursor:default;}

.insight_table{width:100%; padding-right:0px; padding-left:0px;}
.dashall_table{min-width:42%; vertical-align:top; float:right !important;padding-right:0px;}
.dashchart_all{width:47%;height: 250px; padding-right:50px}

/***repeat from global.css***/
.posLeft {float:left}
.posRight {float:right !important;}

.posFilterText {float:left; padding-top:5px; font-weight:bold}

input.hrsaSkingreybtn, input.hrsaSkingreydisbled, .hrsaSkingreylink{color:#404040;background:#F3F3F4 url(./Platform/Include/Skins/PAMS/images/hrsa_theme_sprite_01.png) repeat-x 0 -473px;height:22px;border:1px solid #999;cursor:pointer;letter-spacing:.45px;-moz-border-radius-bottomleft:3px;-moz-border-radius-bottomright:3px;-moz-border-radius-topleft:3px;-moz-border-radius-topright:3px;margin:0 1px 1px;padding:2px 4px 5px;}
input.hrsaSkingreybtn:hover{background:#F6F7DF url(./Platform/Include/Skins/PAMS/images/hrsa_theme_sprite_01.png) repeat-x 0 -416px;border:1px solid #999;color:#404040;}
/*** .buttonadjustment {padding-bottom:3px !important;}***/
