.RadFilter {
  display: inline-block;
  background: transparent;
  min-width: 400px;
  display: block; }
  .RadFilter .rfDiv {
    display: inline-block;
    display: block; }
  .RadFilter:after,
  .RadFilter .rfDiv:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden; }
  .RadFilter li {
    min-width: 400px; }
  .RadFilter .rfLeft,
  .RadFilter .rfMid,
  .RadFilter .rfTools,
  .RadFilter .rfRight,
  .RadFilter .rfAddGr,
  .RadFilter .rfAddExp,
  .RadFilter .rfDel {
    background-repeat: no-repeat;
    background-color: transparent; }
  .RadFilter .rfApply a,
  .RadFilter .rfApply input {
    background-repeat: no-repeat;
    background-color: transparent; }
  .RadFilter ul,
  .RadFilter li {
    float: left;
    clear: both;
    margin: 0;
    padding: 0; }
  .RadFilter ul {
    list-style: none;
    line-height: 25px; }
    .RadFilter ul ul {
      margin: 1px 0 -1px 0; }
      .RadFilter ul ul ul {
        margin-left: 20px; }
  .RadFilter li {
    padding: 0 0 1px; }
    .RadFilter li li {
      background-repeat: repeat-y; }
  .RadFilter .rfLines li li.rfLast {
    background-image: none; }
  .RadFilter li li .rfDiv {
    padding: 0 0 0 20px;
    background-repeat: repeat-y; }
  .RadFilter .rfLeft,
  .RadFilter .rfMid,
  .RadFilter .rfTools,
  .RadFilter .rfRight {
    float: left;
    height: 26px;
    white-space: nowrap; }
  .RadFilter .rfMid,
  .RadFilter .rfTools {
    background-repeat: repeat-x; }
  .RadFilter .rfMid {
    padding: 0 0 0 3px; }
  .RadFilter .rfLeft,
  .RadFilter .rfRight {
    width: 4px;
    font-size: 1px; }
  .RadFilter span.RadInput {
    vertical-align: baseline; }
  .RadFilter .rfOper,
  .RadFilter .rfField,
  .RadFilter .rfExp {
    padding: 0 12px 0 0;
    text-decoration: none; }
  .RadFilter .rfOper:hover,
  .RadFilter .rfField:hover,
  .RadFilter .rfExp:hover {
    background-repeat: no-repeat; }
  .RadFilter .rfOper {
    text-transform: uppercase; }
  .RadFilter .rfText {
    border-style: solid;
    border-width: 1px;
    padding: 2px 1px 3px; }
  .RadFilter .rfAddGr,
  .RadFilter .rfAddExp,
  .RadFilter .rfDel {
    float: left;
    width: 22px;
    height: 22px;
    margin: 2px 0 0;
    text-indent: -3333px;
    text-decoration: none;
    outline: none; }
  .RadFilter .rfAddGr,
  .RadFilter .rfAddExp {
    margin-left: 3px; }
  .RadFilter .rfDel {
    margin-left: 4px;
    margin-right: 1px; }
  .RadFilter .rfPreview,
  .RadFilter .rfApply {
    clear: both;
    padding: 18px 0 0; }
  .RadFilter .rfPreviewTop {
    padding: 0 0 18px; }
  .RadFilter .rfPreview strong {
    font-weight: normal; }
  .RadFilter .rfPreview em {
    font-style: normal;
    text-transform: uppercase; }
  .RadFilter .rfBr {
    font-weight: bold; }
  .RadFilter .rfApply a,
  .RadFilter .rfApply input {
    cursor: pointer; }
  .RadFilter .rfApply a {
    display: inline-block;
    height: 21px;
    padding: 0 4px 0 0;
    text-decoration: none; }
  .RadFilter .rfApply input {
    height: 21px;
    border: 0;
    margin: 0;
    padding: 0 5px 2px 8px;
    vertical-align: top; }

.RadFilterRTL ul,
.RadFilterRTL li,
.RadFilterRTL .rfLeft,
.RadFilterRTL .rfMid,
.RadFilterRTL .rfTools,
.RadFilterRTL .rfRight,
.RadFilterRTL .rfOper,
.RadFilterRTL .rfField,
.RadFilterRTL .rfExp,
.RadFilterRTL .rfAddGr,
.RadFilterRTL .rfAddExp,
.RadFilterRTL .rfDel {
  float: right; }
.RadFilterRTL ul ul ul {
  margin-right: 20px; }
.RadFilterRTL li li {
  background-position: 100% 0; }
  .RadFilterRTL li li .rfDiv {
    padding: 0 20px 0 0;
    background-position: 100% 0; }
.RadFilterRTL .rfMid {
  padding: 0 3px 0 0; }
.RadFilterRTL .rfOper,
.RadFilterRTL .rfField,
.RadFilterRTL .rfExp {
  padding: 0 0 0 12px; }
.RadFilterRTL .rfAddGr,
.RadFilterRTL .rfAddExp {
  margin-left: 0;
  margin-right: 3px; }
.RadFilterRTL .rfDel {
  margin-left: 1px;
  margin-right: 4px; }

* + html .RadFilterRTL .rfOper,
* + html .RadFilterRTL .rfField,
* + html .RadFilterRTL .rfExp {
  float: none;
  zoom: 1; }
* html .RadFilterRTL .rfOper,
* html .RadFilterRTL .rfField,
* html .RadFilterRTL .rfExp {
  float: none;
  zoom: 1; }
* + html .RadFilterRTL .rfAddGr,
* + html .RadFilterRTL .rfAddExp,
* + html .RadFilterRTL .rfDel {
  float: left; }
* html .RadFilterRTL .rfAddGr,
* html .RadFilterRTL .rfAddExp,
* html .RadFilterRTL .rfDel {
  float: left; }
* + html .RadFilterRTL {
  min-width: 500px;
  overflow: hidden; }
  * + html .RadFilterRTL ul,
  * + html .RadFilterRTL li {
    min-width: 500px;
    overflow: hidden; }
* html .RadFilterRTL {
  width: 500px;
  overflow: hidden; }
  * html .RadFilterRTL ul,
  * html .RadFilterRTL li {
    width: 500px;
    overflow: hidden; }
* html .RadFilter ul,
* html .RadFilter li {
  float: none;
  zoom: 1; }


/*Telerik RadFilter Windows7 skin*/

/*sprite*/

.RadFilter_PAMS .rfLeft,
.RadFilter_PAMS .rfMid,
.RadFilter_PAMS .rfTools,
.RadFilter_PAMS .rfRight,
.RadFilter_PAMS .rfOper:hover,
.RadFilter_PAMS .rfField:hover,
.RadFilter_PAMS .rfExp:hover,
.RadFilter_PAMS .rfOper:focus,
.RadFilter_PAMS .rfField:focus,
.RadFilter_PAMS .rfExp:focus,
.RadFilter_PAMS .rfOper:active,
.RadFilter_PAMS .rfField:active,
.RadFilter_PAMS .rfExp:active,
.RadFilter_PAMS .rfAddGr,
.RadFilter_PAMS .rfAddExp,
.RadFilter_PAMS .rfDel,
.RadFilter_PAMS .rfApply a,
.RadFilter_PAMS .rfApply input
{
	background-image:url('Filter/sprite.gif');
}

/*global*/

.RadFilter_PAMS,
.RadFilter_PAMS .rfText,
.RadFilter_PAMS .rfApply input
{
	font-size:12px;
	font-family:"segoe ui",arial,sans-serif;
}

.RadFilter_PAMS,
.RadFilter_PAMS a,
.RadFilter_PAMS .rfText,
.RadFilter_PAMS .rfApply input
{
	color:#1e395b;
}

/*lines*/

.RadFilter_PAMS .rfLines li li
{
	background-image:url('Filter/rfLine.gif');
}

.RadFilter_PAMS .rfLines li li .rfDiv
{
	background-image:url('Filter/rfMiddle.gif');
}

.RadFilter_PAMS .rfLines li li.rfLast .rfDiv
{
	background-image:url('Filter/rfLast.gif');
}

/*item elements*/

.RadFilter_PAMS .rfLeft
{
	background-position:0 0;
}

.RadFilter_PAMS .rfRight
{
	background-position:100% 0;
}

.RadFilter_PAMS .rfMid,
.RadFilter_PAMS .rfTools
{
	background-position:0 -100px;
}

.RadFilter_PAMS .rfOper:hover,
.RadFilter_PAMS .rfField:hover,
.RadFilter_PAMS .rfExp:hover,
.RadFilter_PAMS .rfOper:focus,
.RadFilter_PAMS .rfField:focus,
.RadFilter_PAMS .rfExp:focus,
.RadFilter_PAMS .rfOper:active,
.RadFilter_PAMS .rfField:active,
.RadFilter_PAMS .rfExp:active
{
	background-position:100% -76px;
	color:#000;
}

.RadFilter_PAMS .rfText
{
	border-color:#b8cbde;
}

.RadFilter_PAMS .rfAddExp
{
	background-position:-300px 0;
}
.RadFilter_PAMS .rfAddExp:hover
{
	background-position:-350px 0;
}

.RadFilter_PAMS .rfAddGr
{
	background-position:-400px 0;
}
.RadFilter_PAMS .rfAddGr:hover
{
	background-position:-450px 0;
}

.RadFilter_PAMS .rfDel
{
	background-position:-150px 0;
}
.RadFilter_PAMS .rfDel:hover
{
	background-position:-200px 0;
}

/*preview*/

.RadFilter_PAMS .rfPreview
{
	color:#375070;
}

.RadFilter_PAMS .rfPreview strong
{
	color:#2c7916;
}

.RadFilter_PAMS .rfPreview em,
.RadFilter_PAMS .rfPreview .rfBr
{
	color:#003cc4;
}

/*apply*/

.RadFilter_PAMS .rfApply a
{
	background-position:100% -29px;
}
.RadFilter_PAMS .rfApply input
{
	background-position:0 -50px;
}

/*rtl*/

.RadFilterRTL_PAMS .rfLines li li
{
	background-image:url('Filter/rfLine-rtl.gif');
}

.RadFilterRTL_PAMS .rfLines li li .rfDiv
{
	background-image:url('Filter/rfMiddle-rtl.gif');
}

.RadFilterRTL_PAMS .rfLines li li.rfLast .rfDiv
{
	background-image:url('Filter/rfLast-rtl.gif');
}

.RadFilterRTL_PAMS .rfLeft
{
	background-position:100% 0;
}

.RadFilterRTL_PAMS .rfRight
{
	background-position:0 0;
}

.RadFilterRTL_PAMS .rfOper:hover,
.RadFilterRTL_PAMS .rfField:hover,
.RadFilterRTL_PAMS .rfExp:hover,
.RadFilterRTL_PAMS .rfOper:focus,
.RadFilterRTL_PAMS .rfField:focus,
.RadFilterRTL_PAMS .rfExp:focus,
.RadFilterRTL_PAMS .rfOper:active,
.RadFilterRTL_PAMS .rfField:active,
.RadFilterRTL_PAMS .rfExp:active
{
	background-position:-586px -76px;
}
