<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Error"
      internalLogToConsole="true"
      internalLogToConsoleError="true"
      internalLogFile="Y:\logs\Themes\1.2\internal-nlog.log">
  <variable name="basePath" value="Y:\logs\Themes\1.2" />
  <variable name="connectionString" value="" />
  <targets async="true">
    <target xsi:type="File"
      name="TextFileLogger"
      fileName="${var:basePath}\text\error-${shortdate}.log"
      encoding="utf-8"
      layout="
      ###############################################################
      ${newline}
      Timestamp: ${date:universalTime=true:format=o}${newline}
      Event_Id: ${event-properties:item=EventId}${newline}
      Error_Id: ${event-properties:item=ErrorId}${newline}
      Logger: ${logger}${newline}
      Process_Id: ${processid}${newline}
      Process_Name: ${processname}${newline}
      Process_Time: ${processtime}${newline}
      Windows_Identity: ${aspnet-user-identity}${newline}
      Host_Name: ${machinename}${newline}
      User_Id: ${event-properties:item=UserId}${newline}
      Session_Id: ${event-properties:item=SessionId}${newline}
      Module_Name: ${event-properties:item=ModuleName}${newline}
      TaskProvider: ${event-properties:item=TaskProvider}${newline}
      Url: ${aspnet-request-url:includeQueryString=true}${newline}
      Referrer_Url: ${aspnet-request-referrer}${newline}
      Solution_Name: ${gdc:Solution_Name}${newline}
      OS_Version: ${gdc:OS_Version}${newline}
      CLR_Version: ${gdc:CLR_Version}${newline}
      App_Domain_Name: ${gdc:App_Domain_Name}${newline}
      Level: ${uppercase:${level}}${newline}
      Exception_Type: ${exception:format=type}${newline}
      Message: ${message}
      Exception_Message: ${exception:maxInnerExceptionLevel=10:format=message:innerExceptionSeparator=&#xD;&#xA;Inner Exception Message\: }${newline}
      Stack_Trace: ${exception:maxInnerExceptionLevel=10:format=StackTrace:innerExceptionSeparator=&#xD;&#xA;Inner Exception Stack Trace\:&#xD;&#xA;}${newline}
      Cookies: ${event-properties:item=Cookies}${newline}
      Source_Type: ${event-properties:item=SourceType:whenEmpty=Server}${newline}
      All_Properties: ${all-event-properties}${newline}
      ${newline}
      ################################################################" >
    </target>
    <target xsi:type="File"
      name="JsonFileLogger"
      fileName="${var:basePath}\json\error-${shortdate}.json"
      encoding="utf-8">
      <layout xsi:type="JsonLayout">
        <attribute name="Timestamp" layout="${date:universalTime=true:format=o}" />
        <attribute name="Event_Id" layout="${event-properties:item=EventId}" />
        <attribute name="Error_Id" layout="${event-properties:item=ErrorId}" />
        <attribute name="Logger" layout="${logger}" />
        <attribute name="Process_Id" layout="${processid}" />
        <attribute name="Process_Name" layout="${processname}" />
        <attribute name="Process_Time" layout="${processtime}" />
        <attribute name="Windows_Identity" layout="${aspnet-user-identity}" />
        <attribute name="Host_Name" layout="${machinename}" />
        <attribute name="User_Id" layout="${event-properties:item=UserId}" />
        <attribute name="Session_Id" layout="${event-properties:item=SessionId}" />
        <attribute name="Module_Name" layout="${event-properties:item=ModuleName}" />
        <attribute name="Task_Provider" layout="${event-properties:item=TaskProvider}" />
        <attribute name="Url" layout="${aspnet-request-url:includeQueryString=true}" />
        <attribute name="Referrer_Url" layout="${aspnet-request-referrer}" />
        <attribute name="Solution_Name" layout="${gdc:Solution_Name}" />
        <attribute name="OS_Version" layout="${gdc:OS_Version}" />
        <attribute name="CLR_Version" layout="${gdc:CLR_Version}" />
        <attribute name="App_Domain_Name" layout="${gdc:App_Domain_Name}" />
        <attribute name="Level" layout="${level:uppercase=true}"/>
        <attribute name="Message" layout="${message}"/>
        <attribute name="Exception_Type" layout="${exception:format=type}" />
        <attribute name="Exception_Message" layout="${exception:maxInnerExceptionLevel=10:format=message:innerExceptionSeparator=&#xD;&#xA;Inner Exception Message\: }" />
        <attribute name="Stack_Trace" layout="${exception:maxInnerExceptionLevel=10:format=StackTrace:innerExceptionSeparator=&#xD;&#xA;Inner Exception Stack Trace\:&#xD;&#xA;}" />
        <attribute name="Cookies" layout="${event-properties:item=Cookies}" />
        <attribute name="Source_Type" layout="${event-properties:item=SourceType:whenEmpty=Server}" />
        <attribute name="All_Properties" layout="${all-event-properties}" />
      </layout>
    </target>
    <target xsi:type="Database"
      name="DBLogger"
      dbProvider="System.Data.SqlClient"
      commandType="Text"
      connectionString="${var:connectionString}"
      commandText="INSERT into [Audit] (AuditId, EventTypeCode, SuccessFlag, Server, MethodName, EventDatetime, LogDatetime, description, ExtendedInfoXML) values (newid(), @eventTypeCode, @successFlag, @machinename,left(@logger, 199),getdate(), getdate(), left(@description, 7999), @extendedInfoXML)">
      <parameter name="@machinename" layout="${machinename}" />
      <parameter name="@logger" layout="${logger}" />
      <parameter name="eventTypeCode" layout="${event-properties:item=EventTypeCode}" />
      <parameter name="successFlag" layout="${event-properties:item=SuccessFlag}" />
      <parameter name="extendedInfoXML" layout="${event-properties:item=ExtendedInfoXML}" />
      <parameter name="@description" >
        <layout xsi:type="JsonLayout">
          <attribute name="timestamp" layout="${longdate}"/>
          <attribute name="eventId" layout="${event-properties:item=EventId}"/>
          <attribute name="errorId" layout="${event-properties:item=errorId}"/>
          <attribute name="logger" layout="${logger}" />
          <attribute name="processid" layout="${processid}" />
          <attribute name="User_Id" layout="${event-properties:item=UserId}" />
          <attribute name="processname" layout="${processname}" />
          <attribute name="processtime" layout="${processtime}" />
          <attribute name="windows-identity" layout="${aspnet-user-identity}" />
          <attribute name="machinename" layout="${machinename}" />
          <attribute name="level" layout="${level:uppercase=true}"/>
          <attribute name="messages" layout="${message}" />
        </layout>
      </parameter>
    </target>
    <target xsi:type="ColoredConsole"
        name="coloredConsole"
        layout="pid:${processid}:[(${date:format=yy-MM-dd HH\:mm\:ss}) - ${level} - ${logger}]: ${message}  ${event-properties:item=UserId}">
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" />
      <highlight-row condition="level == LogLevel.Trace" foregroundColor="Gray" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
    </target>
    <target xsi:type="File"
      name="TextTraceFileLogger"
      fileName="${var:basePath}\text\trace-${shortdate}.log"
      encoding="utf-8"
      layout="(${date:format=yy-MM-dd HH\:mm\:ss}) - ${level} - ${logger}]: ${message}" >
    </target>
  </targets>
  <rules>
    <logger name="*" 			levels="Warn, Error, Fatal" writeTo="JsonFileLogger" />
    <logger name="*" 			levels="Warn, Error, Fatal" writeTo="TextFileLogger" />
    <logger name="*" 			levels="Warn, Error, Fatal" writeTo="TextTraceFileLogger" />
    <logger name="*" 			levels="Warn, Error, Fatal" writeTo="ColoredConsole" />
    <logger name="AUDIT.*" 		levels="Info" writeTo="DBLogger" />
    <logger name="SSIAUDIT.*" 	levels="Info" writeTo="DBLogger" />
  </rules>
</nlog>

