.RadComboBox {
  margin: 0;
  padding: 0;
  min-height: 0;
  *zoom: 1;
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  text-align: left;
  vertical-align: middle;
  _vertical-align: top;
  white-space: nowrap; }
  .RadComboBox:after {
    content: "";
    height: 0;
    clear: both;
    display: block; }
  .RadComboBox table {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    display: -moz-inline-stack;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 100%;
    border-collapse: collapse; }
  .RadComboBox .rcbInputCell,
  .RadComboBox .rcbArrowCell {
    margin: 0;
    padding: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    *zoom: 1; }
  .RadComboBox .rcbInputCell {
    width: 100%;
    height: 20px;
    _height: 22px;
    line-height: 20px;
    _line-height: 22px;
    text-align: left;
    vertical-align: middle; }
  .RadComboBox table td.rcbInputCell {
    padding: 0 4px 0 5px; }
  .RadComboBox .rcbInput {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    padding: 2px 0 1px;
    _padding: 2px 0 0;
    width: 100%;
    _height: 18px;
    outline: 0;
    vertical-align: middle;
    -webkit-appearance: none;
    /* iOS renders an additional shadow on the input */ }
  .RadComboBox .rcbDisabled .rcbInput {
    cursor: default; }
  .RadComboBox .rcbEmptyMessage {
    font-style: italic; }
  .RadComboBox .rcbArrowCell {
    width: 18px; }
    .RadComboBox .rcbArrowCell a {
      width: 18px;
      height: 22px;
      position: relative;
      outline: 0;
      font-size: 0;
      line-height: 1px;
      text-decoration: none;
      text-indent: 9999px;
      display: block;
      overflow: hidden;
      cursor: default;
      *zoom: 1; }
  .RadComboBox table td.rcbArrowCell {
    padding: 0; }
  .RadComboBox .rcbArrowCellHidden,
  .RadComboBox .rcbArrowCellHidden a {
    width: 3px; }
  .RadComboBox .rcbReadOnly .rcbInput {
    cursor: default; }
  .RadComboBox .rcbLabel {
    vertical-align: top;
    padding-right: 10px;
    line-height: 22px;
    *zoom: 1; }

.RadComboBox_rtl {
  text-align: right; }
  .RadComboBox_rtl .rcbInputCell {
    padding-right: 5px;
    padding-left: 4px; }
  .RadComboBox_rtl .rcbInput {
    text-align: right; }
  .RadComboBox_rtl .rcbLabel {
    *margin-right: 5px;
    padding: 0 0 0 10px;
    text-align: right; }

.rcbSlide {
  _height: 1px;
  float: left;
  display: none;
  position: absolute;
  overflow: hidden; }

.RadComboBoxDropDown {
  min-height: 0;
  *zoom: 1;
  border: 1px solid;
  text-align: left;
  cursor: default;
  position: absolute; }
  .RadComboBoxDropDown:after {
    content: "";
    height: 0;
    clear: both;
    display: block; }
  .RadComboBoxDropDown .rcbScroll {
    min-height: 0;
    *zoom: 1;
    position: relative;
    overflow: auto; }
    .RadComboBoxDropDown .rcbScroll:after {
      content: "";
      height: 0;
      clear: both;
      display: block; }
  .RadComboBoxDropDown .rcbHeader,
  .RadComboBoxDropDown .rcbFooter {
    min-height: 0;
    *zoom: 1;
    padding: 5px 7px 4px;
    background-repeat: repeat-x; }
    .RadComboBoxDropDown .rcbHeader:after,
    .RadComboBoxDropDown .rcbFooter:after {
      content: "";
      height: 0;
      clear: both;
      display: block; }
  .RadComboBoxDropDown .rcbHeader {
    margin-bottom: 1px;
    border-bottom: 1px solid; }
  .RadComboBoxDropDown .rcbFooter {
    margin-top: 1px;
    border-top: 1px solid; }
  .RadComboBoxDropDown .rcbList {
    margin: 0;
    padding: 0;
    list-style: none;
    min-height: 0;
    *zoom: 1;
    position: relative; }
    .RadComboBoxDropDown .rcbList:after {
      content: "";
      height: 0;
      clear: both;
      display: block; }
  .RadComboBoxDropDown .rcbItem,
  .RadComboBoxDropDown .rcbHovered,
  .RadComboBoxDropDown .rcbDisabled,
  .RadComboBoxDropDown .rcbLoading,
  .RadComboBoxDropDown .rcbCheckAllItems,
  .RadComboBoxDropDown .rcbCheckAllItemsHovered {
    min-height: 0;
    *zoom: 1;
    margin: 0 1px;
    padding: 2px 6px;
    height: auto;
    min-height: 13px;
    background-repeat: repeat-x; }
    .RadComboBoxDropDown .rcbItem:after,
    .RadComboBoxDropDown .rcbHovered:after,
    .RadComboBoxDropDown .rcbDisabled:after,
    .RadComboBoxDropDown .rcbLoading:after,
    .RadComboBoxDropDown .rcbCheckAllItems:after,
    .RadComboBoxDropDown .rcbCheckAllItemsHovered:after {
      content: "";
      height: 0;
      clear: both;
      display: block; }
    .RadComboBoxDropDown .rcbItem > label,
    .RadComboBoxDropDown .rcbHovered > label,
    .RadComboBoxDropDown .rcbDisabled > label,
    .RadComboBoxDropDown .rcbLoading > label,
    .RadComboBoxDropDown .rcbCheckAllItems > label,
    .RadComboBoxDropDown .rcbCheckAllItemsHovered > label {
      margin: -2px -6px;
      padding: 2px 6px;
      display: block; }
  .RadComboBoxDropDown .rcbNoWrap .rcbItem,
  .RadComboBoxDropDown .rcbNoWrap .rcbHovered,
  .RadComboBoxDropDown .rcbNoWrap .rcbDisabled,
  .RadComboBoxDropDown .rcbNoWrap .rcbLoading {
    white-space: nowrap; }
  .RadComboBoxDropDown .rcbDisabled {
    cursor: default; }
  .RadComboBoxDropDown .rcbLoading {
    text-align: center; }
  .RadComboBoxDropDown em {
    font-style: normal;
    font-weight: bold; }
  .RadComboBoxDropDown .rcbCheckBox,
  .RadComboBoxDropDown .rcbCheckAllItemsCheckBox {
    background-image: url('Common/Gradients/lightSmoothTile.png');
    _background-image: none;
    background-repeat: repeat-x;
    vertical-align: middle; }
  .RadComboBoxDropDown .RadComboBoxDropDown .rcbCheckAllItems {
    background-position: 0 0; }
  .RadComboBoxDropDown .RadComboBoxDropDown .rcbCheckAllItemsHovered {
    background-position: 0 -20px; }
  .RadComboBoxDropDown .rcbImage {
    margin: 0 6px 2px 0;
    vertical-align: middle; }
  .RadComboBoxDropDown .rcbMoreResults {
    clear: both;
    border-top-width: 1px;
    border-top-style: solid;
    background-repeat: repeat-x;
    position: relative;
    padding: 0 6px 0;
    text-align: center;
    margin-top: 1px; }
    .RadComboBoxDropDown .rcbMoreResults a {
      width: 15px;
      height: 9px;
      background-repeat: no-repeat;
      *font-size: 0;
      *line-height: 0;
      text-decoration: none;
      text-indent: -9999px;
      *text-indent: 0;
      display: inline-block;
      overflow: hidden;
      vertical-align: middle;
      cursor: pointer; }
    .RadComboBoxDropDown .rcbMoreResults span {
      height: 19px;
      line-height: 19px;
      display: inline-block;
      vertical-align: middle; }
  .RadComboBoxDropDown .rcbSeparatedList .rcbSeparator {
    padding-left: 6px; }
  .RadComboBoxDropDown .rcbSeparatedList .rcbItem,
  .RadComboBoxDropDown .rcbSeparatedList .rcbHovered,
  .RadComboBoxDropDown .rcbSeparatedList .rcbDisabled,
  .RadComboBoxDropDown .rcbSeparatedList .rcbLoading {
    padding-left: 12px; }

.RadComboBoxDropDown_rtl {
  text-align: right;
  direction: rtl; }
  .RadComboBoxDropDown_rtl .rcbImage {
    margin: 0 0 2px 6px; }
  .RadComboBoxDropDown_rtl .rcbSeparatedList .rcbSeparator {
    padding-right: 6px; }
  .RadComboBoxDropDown_rtl .rcbSeparatedList .rcbItem,
  .RadComboBoxDropDown_rtl .rcbSeparatedList .rcbHovered,
  .RadComboBoxDropDown_rtl .rcbSeparatedList .rcbDisabled,
  .RadComboBoxDropDown_rtl .rcbSeparatedList .rcbLoading {
    padding-right: 12px; }

.RadComboBoxWithLabel {
  zoom: normal; }
  .RadComboBoxWithLabel table {
    display: -moz-inline-stack;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    *margin-right: 5px;
    vertical-align: top; }

@media screen and (min-width: 550px) {
  .RadComboBoxDropDown_rtl .rcbItem,
  .RadComboBoxDropDown_rtl .rcbHovered,
  .RadComboBoxDropDown_rtl .rcbDisabled,
  .RadComboBoxDropDown_rtl .rcbLoading {
    padding: 2px 6px 2px 19px; } }



.RadComboBox_EPM {
  color: black;
  font: normal 12px "Segoe UI", Arial, Helvetica, sans-serif;
  line-height: 16px; }
  .RadComboBox_EPM .rcbInputCell,
  .RadComboBox_EPM .rcbArrowCell {
    background-image: url('Common/radFormSprite.png');
    _background-image: url('Common/radFormSpriteIE6.png'); }
  .RadComboBox_EPM .rcbInputCellLeft {
    background-position: 0 0; }
  .RadComboBox_EPM .rcbInputCellRight {
    background-position: 100% 0; }
  .RadComboBox_EPM .rcbInput {
    color: black;
    font: normal 12px "Segoe UI", Arial, Helvetica, sans-serif;
    line-height: 16px; }
  .RadComboBox_EPM .rcbEmptyMessage {
    color: #a0a0a0;
    font-style: italic; }
  .RadComboBox_EPM .rcbArrowCellLeft {
    background-position: 0 -176px; }
  .RadComboBox_EPM .rcbArrowCellRight {
    background-position: -18px -176px; }
  .RadComboBox_EPM .rcbArrowCellLeft.rcbArrowCellHidden {
    background-position: 0 0; }
  .RadComboBox_EPM .rcbArrowCellRight.rcbArrowCellHidden {
    background-position: 100% 0; }
  .RadComboBox_EPM .rcbHovered .rcbInputCellLeft {
    background-position: 0 -22px; }
  .RadComboBox_EPM .rcbHovered .rcbInputCellRight {
    background-position: 100% -22px; }
  .RadComboBox_EPM .rcbHovered .rcbInput {
    color: black; }
  .RadComboBox_EPM .rcbHovered .rcbArrowCellLeft {
    background-position: -36px -176px; }
  .RadComboBox_EPM .rcbHovered .rcbArrowCellRight {
    background-position: -54px -176px; }
  .RadComboBox_EPM .rcbHovered .rcbArrowCellLeft.rcbArrowCellHidden {
    background-position: 0 -22px; }
  .RadComboBox_EPM .rcbHovered .rcbArrowCellRight.rcbArrowCellHidden {
    background-position: 100% -22px; }
  .RadComboBox_EPM .rcbFocused .rcbInputCellLeft {
    background-position: 0 -44px; }
  .RadComboBox_EPM .rcbFocused .rcbInputCellRight {
    background-position: 100% -44px; }
  .RadComboBox_EPM .rcbFocused .rcbInput {
    color: black; }
  .RadComboBox_EPM .rcbFocused .rcbArrowCellLeft {
    background-position: -72px -176px; }
  .RadComboBox_EPM .rcbFocused .rcbArrowCellRight {
    background-position: -90px -176px; }
  .RadComboBox_EPM .rcbFocused .rcbArrowCellLeft.rcbArrowCellHidden {
    background-position: 0 -44px; }
  .RadComboBox_EPM .rcbFocused .rcbArrowCellRight.rcbArrowCellHidden {
    background-position: 100% -44px; }
  .RadComboBox_EPM .rcbDisabled .rcbInputCellLeft {
    background-position: 0 -66px; }
  .RadComboBox_EPM .rcbDisabled .rcbInputCellRight {
    background-position: 100% -66px; }
  .RadComboBox_EPM .rcbDisabled .rcbInput {
    color: #a7a7a7; }
  .RadComboBox_EPM .rcbDisabled .rcbArrowCellLeft {
    background-position: -108px -176px; }
  .RadComboBox_EPM .rcbDisabled .rcbArrowCellRight {
    background-position: -126px -176px; }
  .RadComboBox_EPM .rcbDisabled .rcbArrowCellLeft.rcbArrowCellHidden {
    background-position: 0 -66px; }
  .RadComboBox_EPM .rcbDisabled .rcbArrowCellRight.rcbArrowCellHidden {
    background-position: 100% -66px; }
  .RadComboBox_EPM .rcbReadOnly .rcbInputCellLeft {
    background-position: 0 -88px; }
  .RadComboBox_EPM .rcbReadOnly .rcbInputCellRight {
    background-position: 100% -88px; }
  .RadComboBox_EPM .rcbReadOnly .rcbInput {
    color: #1e395b; }
  .RadComboBox_EPM .rcbReadOnly .rcbArrowCellLeft {
    background-position: -144px -176px; }
  .RadComboBox_EPM .rcbReadOnly .rcbArrowCellRight {
    background-position: -162px -176px; }
  .RadComboBox_EPM .rcbReadOnly .rcbArrowCellLeft.rcbArrowCellHidden {
    background-position: 0 -88px; }
  .RadComboBox_EPM .rcbReadOnly .rcbArrowCellRight.rcbArrowCellHidden {
    background-position: 100% -88px; }
  .RadComboBox_EPM .rcbHovered .rcbReadOnly .rcbInputCellLeft {
    background-position: 0 -110px; }
  .RadComboBox_EPM .rcbHovered .rcbReadOnly .rcbInputCellRight {
    background-position: 100% -110px; }
  .RadComboBox_EPM .rcbHovered .rcbReadOnly .rcbInput {
    color: #1e395b; }
  .RadComboBox_EPM .rcbHovered .rcbReadOnly .rcbArrowCellLeft {
    background-position: -180px -176px; }
  .RadComboBox_EPM .rcbHovered .rcbReadOnly .rcbArrowCellRight {
    background-position: -198px -176px; }
  .RadComboBox_EPM .rcbHovered .rcbReadOnly .rcbArrowCellLeft.rcbArrowCellHidden {
    background-position: 0 -110px; }
  .RadComboBox_EPM .rcbHovered .rcbReadOnly .rcbArrowCellRight.rcbArrowCellHidden {
    background-position: 100% -110px; }
  .RadComboBox_EPM .rcbFocused .rcbReadOnly .rcbInputCellLeft {
    background-position: 0 -132px; }
  .RadComboBox_EPM .rcbFocused .rcbReadOnly .rcbInputCellRight {
    background-position: 100% -132px; }
  .RadComboBox_EPM .rcbFocused .rcbReadOnly .rcbInput {
    color: #1e395b; }
  .RadComboBox_EPM .rcbFocused .rcbReadOnly .rcbArrowCellLeft {
    background-position: -216px -176px; }
  .RadComboBox_EPM .rcbFocused .rcbReadOnly .rcbArrowCellRight {
    background-position: -234px -176px; }
  .RadComboBox_EPM .rcbFocused .rcbReadOnly .rcbArrowCellLeft.rcbArrowCellHidden {
    background-position: 0 -132px; }
  .RadComboBox_EPM .rcbFocused .rcbReadOnly .rcbArrowCellRight.rcbArrowCellHidden {
    background-position: 100% -132px; }
  .RadComboBox_EPM .rcbDisabled .rcbReadOnly .rcbInputCellLeft {
    background-position: 0 -154px; }
  .RadComboBox_EPM .rcbDisabled .rcbReadOnly .rcbInputCellRight {
    background-position: 100% -154px; }
  .RadComboBox_EPM .rcbDisabled .rcbReadOnly .rcbInput {
    color: #a7a7a7; }
  .RadComboBox_EPM .rcbDisabled .rcbReadOnly .rcbArrowCellLeft {
    background-position: -252px -176px; }
  .RadComboBox_EPM .rcbDisabled .rcbReadOnly .rcbArrowCellRight {
    background-position: -270px -176px; }
  .RadComboBox_EPM .rcbDisabled .rcbReadOnly .rcbArrowCellLeft.rcbArrowCellHidden {
    background-position: 0 -154px; }
  .RadComboBox_EPM .rcbDisabled .rcbReadOnly .rcbArrowCellRight.rcbArrowCellHidden {
    background-position: 100% -154px; }

.RadComboBoxDropDown_EPM {
  border-color: #b8cbde;
  color: black;
  background: white;
  font: normal 12px "Segoe UI", Arial, Helvetica, sans-serif;
  line-height: 16px; }
  .RadComboBoxDropDown_EPM .rcbHeader,
  .RadComboBoxDropDown_EPM .rcbFooter {
    color: black;
    background-color: #f1f5fb;
    background-image: url('Common/radFormSprite.png');
    _background-image: url('Common/radFormSpriteIE6.png');
    background-position: 0 -500px; }
  .RadComboBoxDropDown_EPM .rcbHeader {
    border-bottom-color: #b8cbde; }
  .RadComboBoxDropDown_EPM .rcbFooter {
    border-top-color: #b8cbde; }
  .RadComboBoxDropDown_EPM .rcbHovered {
    color: black;
    background: #eef6ff; }
  .RadComboBoxDropDown_EPM .rcbLoading {
    color: black;
    background: #eef6ff; }
  .RadComboBoxDropDown_EPM .rcbItem em,
  .RadComboBoxDropDown_EPM .rcbHovered em {
    color: black;
    background: #eef6ff; }
  .RadComboBoxDropDown_EPM .rcbCheckAllItems {
    color: black;
    background-color: #f1f5fb; }
  .RadComboBoxDropDown_EPM .rcbCheckAllItemsHovered {
    color: black;
    background-color: #f1f5fb; }
  .RadComboBoxDropDown_EPM .rcbMoreResults {
    border-top-color: #b8cbde;
    color: black;
    background-color: #f1f5fb;
    background-position: 0 -500px;
    background-image: url('Common/radFormSprite.png');
    _background-image: url('Common/radFormSpriteIE6.png'); }
    .RadComboBoxDropDown_EPM .rcbMoreResults a {
      background-image: url('Common/radFormSprite.png');
      _background-image: url('Common/radFormSpriteIE6.png');
      background-position: -308px -181px; }
  .RadComboBoxDropDown_EPM .rcbSeparator {
    color: #666666;
    background: #e0e0e0; }

