/*******************************
RadTabStrip CSS Add Theme

********************************/
.RadTabStrip_AddTheme .rtsLI,
.RadTabStrip_AddTheme .rtsLink
{
	color: #000000 !Important;
	font: 1.00em/26px "Segoe UI", Arial, sans-serif;
}

.RadTabStrip_AddTheme .rtsLevel1 .rtsLI,
.RadTabStrip_AddTheme .rtsLevel1 .rtsLink
{
	color: #4c607a;
}

.RadTabStrip_AddTheme .rtsLevel .rtsLink:hover,
.RadTabStrip_AddTheme .rtsLevel .rtsSelected,
.RadTabStrip_AddTheme .rtsLevel .rtsSelected:hover
{
	text-decoration: underline;
}

.RadTabStrip_AddTheme .rtsLevel1 .rtsLink:hover,
.RadTabStrip_AddTheme .rtsLevel1 .rtsSelected,
.RadTabStrip_AddTheme .rtsLevel1 .rtsSelected:hover,
.RadTabStrip_AddTheme .rtsLevel .rtsDisabled:hover
{
	text-decoration: none;
}

.RadTabStripLeft_AddTheme .rtsSeparator,
.RadTabStripRight_AddTheme .rtsSeparator
{
	background: #8DB2E3;
}

/* <disabled tabs> */
.RadTabStrip_AddTheme .rtsLevel .rtsDisabled
{
	color: #666;
}
/* </disabled tabs> */

/* <scrolling arrows> */
.RadTabStrip_AddTheme .rtsNextArrow,
.RadTabStrip_AddTheme .rtsPrevArrow,
.RadTabStrip_AddTheme .rtsPrevArrowDisabled,
.RadTabStrip_AddTheme .rtsNextArrowDisabled
{
	background-image: url('TabStrip/TabStripStates_AddTheme.png');
}
/* </scrolling arrows> */

/* <tab backgrounds> */

.RadTabStrip_AddTheme .rtsLevel { background: #dfe9f5; }

.RadTabStrip_AddTheme .rtsLevel1 { background-color: #dfe9f5; }
.RadTabStripTop_AddTheme .rtsLevel2 { background: #ccdbee url('./Platform/Include/Skins/EHB/TabStrip/Level2Bg_AddTheme.png') repeat-x 0 0; }

.RadTabStripTop_AddTheme .rtsLevel .rtsLink,
.RadTabStripTop_AddTheme .rtsLevel .rtsOut { background-image: none; }

.RadTabStripTop_AddTheme .rtsLevel1 .rtsLink,
.RadTabStripTop_AddTheme .rtsLevel1 .rtsOut,
.RadTabStripBottom_AddTheme .rtsLevel1 .rtsLink,
.RadTabStripBottom_AddTheme .rtsLevel1 .rtsOut,
.RadTabStripTop_AddTheme .rtsLevel1,
.RadTabStripBottom_AddTheme .rtsLevel1 { background-image: url('./Platform/Include/Skins/EHB/TabStrip/TabStripStates_AddTheme.png'); }

.RadTabStripLeft_AddTheme .rtsLink,
.RadTabStripRight_AddTheme .rtsLink { background-image: url('./Platform/Include/Skins/EHB/TabStrip/TabStripVStates_AddTheme.png'); }

.RadTabStripLeft_AddTheme .rtsLast .rtsLink,
.RadTabStripRight_AddTheme .rtsLast .rtsLink
{
	border-bottom: 1px solid #898C95;
}

.RadTabStripRight_AddTheme .rtsLink,
.RadTabStripRight_AddTheme .rtsLI .rtsDisabled:hover { background-position: 100% 0; }
.RadTabStripRight_AddTheme .rtsLink:hover { background-position: 100% -200px; }
.RadTabStripRight_AddTheme .rtsSelected,
.RadTabStripRight_AddTheme .rtsLI .rtsSelected:hover { background-position: 100% -400px; }
/* </tab backgrounds> */


/* <background positioning: tabs with hovers> */

/* <orientation: top> */

.RadTabStripTop_AddTheme .rtsLevel1 .rtsLink { background-position: 0 0; }
.RadTabStripTop_AddTheme .rtsLevel1 .rtsOut { background-position: 100% 0; }

.RadTabStripTop_AddTheme .rtsLevel1 .rtsLink:hover { background-position: 0 -52px; }
.RadTabStripTop_AddTheme .rtsLevel1 .rtsLink:hover .rtsOut { background-position: 100% -52px; }

.RadTabStripTop_AddTheme .rtsLevel1 .rtsDisabled:hover { background-position: 0 0; }
.RadTabStripTop_AddTheme .rtsLevel1 .rtsDisabled:hover .rtsOut { background-position: 100% 0; }

.RadTabStripTop_AddTheme .rtsLevel1 .rtsSelected,
.RadTabStripTop_AddTheme .rtsLevel1 .rtsSelected:hover { background-position: 0 -26px; }
.RadTabStripTop_AddTheme .rtsLevel1 .rtsSelected .rtsOut,
.RadTabStripTop_AddTheme .rtsLevel1 .rtsSelected:hover .rtsOut { background-position: 100% -26px; }

.RadTabStripTop_AddTheme .rtsLevel1 { background-position: 0 100%; background-repeat: repeat-x; }

/* </orientation: top> */

/* <orientation: bottom> */

.RadTabStripBottom_AddTheme .rtsLevel1 .rtsLink { background-position: 0 -182px; }
.RadTabStripBottom_AddTheme .rtsLevel1 .rtsOut { background-position: 100% -182px; }

.RadTabStripBottom_AddTheme .rtsLevel1 .rtsLink:hover { background-position: 0 -130px; }
.RadTabStripBottom_AddTheme .rtsLevel1 .rtsLink:hover .rtsOut { background-position: 100% -130px; }

.RadTabStripBottom_AddTheme .rtsLevel1 .rtsDisabled:hover { background-position: 0 -182px; }
.RadTabStripBottom_AddTheme .rtsLevel1 .rtsDisabled:hover .rtsOut { background-position: 100% -182px; }

.RadTabStripBottom_AddTheme .rtsLevel1 .rtsSelected,
.RadTabStripBottom_AddTheme .rtsLevel1 .rtsSelected:hover { background-position: 0 -156px; }
.RadTabStripBottom_AddTheme .rtsLevel1 .rtsSelected .rtsOut,
.RadTabStripBottom_AddTheme .rtsLevel1 .rtsSelected:hover .rtsOut { background-position: 100% -156px; }

.RadTabStripBottom_AddTheme .rtsLevel1 { background-position: 0 -599px; background-repeat: repeat-x; }

/* </orientation: bottom> */

/* <orientation: right> */

.RadTabStripRight_AddTheme .rtsUL .rtsLink,
.RadTabStripRight_AddTheme .rtsUL .rtsLI .rtsDisabled:hover { background-position: 100% 0; text-align: left; }
.RadTabStripRight_AddTheme .rtsUL .rtsLink:hover { background-position: 100% -200px; }
.RadTabStripRight_AddTheme .rtsUL .rtsSelected,
.RadTabStripRight_AddTheme .rtsUL .rtsLI .rtsSelected:hover { background-position: 100% -400px; }

/* </orientation: right> */

/* </background positioning: tabs with hovers> */


 div.RadTabStrip_AddTheme {

	background-position: 0% 0%;

}

 div.RadTabStrip_AddTheme .rtsLevel1 {

	background-color: rgb(238, 237, 215);

	background-image: none;

	border-bottom: 0px solid rgb(199, 198, 157);

}

 div.RadTabStrip_AddTheme .rtsLink {

	background-image: url('./Platform/Include/Skins/EHB/TabStrip/subtabs_bg_AddTheme.png') !Important;

	color: rgb(0, 0, 0);

	font-size: 1.00em;

	font-family: Arial;

	text-indent: -3px;

	background-repeat: repeat-x;

}

 div.RadTabStrip_AddTheme .rtsLink .rtsOut {

	background-image: none;

	border-right: 1px solid rgb(255, 255, 255);

	text-indent: 1px;

}

 div.RadTabStrip_AddTheme .rtsLink .rtsIn {

	text-indent: -1px;

}

 div.RadTabStrip_AddTheme .rtsLink:hover {

	background-image: url('./Platform/Include/Skins/EHB/TabStrip/subtabsel_bg_AddTheme.png') !Important;

	background-position: 0px 0px !Important;

	border-bottom: 1px solid rgb(255, 255, 255) ;

	color: rgb(99, 14, 14) !Important;

	font-weight:normal;

}

 div.RadTabStrip_AddTheme .rtsLink:hover .rtsOut {

	border-bottom-style: solid;

	border-bottom-width: 0px;

}

 div.RadTabStrip_AddTheme .rtsSelected {

	background-image: url('./Platform/Include/Skins/EHB/TabStrip/subtabsel_bg_AddTheme.png') !Important;

	background-position: 0px 0px !Important;

	border-bottom: 1px solid rgb(255, 255, 255);

	line-height: 26px;

	font-weight: bold;

	color: rgb(99, 14, 14) !Important;

}

 div.RadTabStrip_AddTheme .rtsSelected:hover {

	background-image: url('./Platform/Include/Skins/EHB/TabStrip/subtabsel_bg_AddTheme.png') !Important;

	background-position: 0px 0px !Important;

	border-bottom: 1px solid rgb(255, 255, 255);

	line-height: 26px;

	font-weight: bold;

	color: rgb(99, 14, 14) !Important;

}

 div.RadTabStrip_AddTheme .rtsSelected .rtsOut {

	border-bottom-style: solid;

	border-bottom-width: 0px;

	text-indent: 0px;

}

 div.RadTabStrip_AddTheme .rtsSelected:hover .rtsOut {

	border-bottom-style: solid;

	border-bottom-width: 0px;

	text-indent: 0px;

}

 div.RadTabStrip_AddTheme .rtsSelected .rtsIn {

	border-bottom-style: solid;

	border-bottom-width: 0px;

	text-indent: -2px;

}

 div.RadTabStrip_AddTheme .rtsSelected:hover .rtsIn {

	border-bottom-style: solid;

	border-bottom-width: 0px;

	text-indent: -2px;

}

