<configuration>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
    <diagnostics wmiProviderEnabled="true">
      <messageLogging logEntireMessage="true" logMalformedMessages="true"
         logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true"
         maxMessagesToLog="500000" maxSizeOfMessageToLog="500000" />
    </diagnostics>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBindingConfig">
          <readerQuotas maxStringContentLength="65536" />
          <security mode="None" />
        </binding>
        <binding name="BasicHttpsBindingConfig">
          <readerQuotas maxStringContentLength="65536" />
          <security mode="Transport">
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="EndpointBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceAuthorization impersonateCallerForAllOperations="false" />
          <serviceThrottling maxConcurrentCalls="32" maxConcurrentSessions="200"
           maxConcurrentInstances="232" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="coreFaultBehavior" type="REISys.Platform.Services.FaultManagement.CoreFaultBehavior, REISys.Platform.Services, Version=2.0.5.0, Culture=neutral, PublicKeyToken=null"/>
      </behaviorExtensions>
    </extensions>
    <services>
      <service behaviorConfiguration="ServiceBehavior" name="REISys.Platform.Services.ApplicationConfigWS">
        <!--Works only on local with HTTPS-->
        <!--<endpoint behaviorConfiguration="EndpointBehavior" binding="basicHttpBinding"
         bindingConfiguration="BasicHttpsBindingConfig" name="BasicHttpEndpoint"
         contract="REISys.Platform.Core.IApplicationConfig" />-->

        <!--Works only on load balanced environments HTTP-->
        <endpoint behaviorConfiguration="EndpointBehavior" binding="basicHttpBinding"
         bindingConfiguration="BasicHttpBindingConfig" name="BasicHttpEndpoint"
         contract="REISys.Platform.Core.IApplicationConfig" />
      </service>
    </services>
  </system.serviceModel>
</configuration>
