<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>

    <diagnostics wmiProviderEnabled="true">
      <messageLogging logEntireMessage="true" logMalformedMessages="true"
        logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true"
        maxMessagesToLog="500000" maxSizeOfMessageToLog="500000" />
    </diagnostics>

    <behaviors>
      <endpointBehaviors>
        <behavior name="EndpointBehavior">
          <dataContractSerializer />
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpsBindingConfig"  maxReceivedMessageSize="1000000001">
          <readerQuotas  maxStringContentLength="5000000" maxArrayLength="5000000"  />
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBindingConfig"  maxReceivedMessageSize="1000000001">
          <readerQuotas  maxStringContentLength="5000000" maxArrayLength="5000000"  />
          <security mode="None" />
        </binding>
      </basicHttpBinding>

      <customBinding>
        <binding name="JsonBindingConfig">
          <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
            messageVersion="Soap12" writeEncoding="utf-8">
            <readerQuotas maxDepth="32" maxStringContentLength="65536" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          </textMessageEncoding>
        </binding>
      </customBinding>

      <netTcpBinding>
        <binding name="NetTcpBindingConfig">
          <readerQuotas maxStringContentLength="65536" />
        </binding>
      </netTcpBinding>

      <wsHttpBinding>
        <binding name="wsHttpBindingConfig">
          <readerQuotas maxStringContentLength="65536" />
        </binding>
        <binding name="wsHttpsBindingConfig">
          <readerQuotas maxStringContentLength="65536" />
        </binding>
      </wsHttpBinding>
    </bindings>

    <client>
      <endpoint address="EmailWebService.svc" behaviorConfiguration="EndpointBehavior"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBindingConfig"
        contract="REISys.Platform.Services.EmailService.IEmailService"
        name="BasicHttpsEndpoint" />
    </client>

  </system.serviceModel>
</configuration>