<configuration>
  <cookieDomain>.reisystems.com</cookieDomain>
  <users>
	  <user type="1">
		<auth type="legacy" mode="authenticate" cookieName="external_cookie" />
	  </user>
	  <user type="2">
		<auth type="legacy" mode="refreshonly" cookieName="internal_cookie"/>
		<auth type="eauthns" mode="authenticate" cookieName="EAASCookie"/>
	  </user>
  </users>
  <httpOnly>true</httpOnly>
  <secureCookie>true</secureCookie>
</configuration>
