<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nhibernateSettings" type="ProjectBase.Data.NHibernateSessionMgmt.OpenSessionInViewSection, ProjectBase.Data" />
  </configSections>
  <!--<connectionStrings>
    <add name="habwebdataconn" connectionString="hGPuBs/X2CGVbhoboJhNT41W79m+3L/0hnpG//gHH88M5d7w7F99w+NSCS9PBwp5txjsRlkZuEgIAh+M5MEWPQS9Ni45juJjCTadsl74IKvDnIpFcYQv+Qbeo1WsjLpx" providerName="System.Data.EntityClient" />
  </connectionStrings>-->
  <!--<HABSettings>
    <DBConfig>
      -->
  <!-- if no environment is specified above, this will be used -->
  <!--
      -->
  <!-- application database information -->
  <!--
      <add key="defaultDBServer" value="OAK-HRSA-DB01" />
      <add key="defaultDBName" value="habwebdata_prod" />
      <add key="defaultDBUser" value="rsrUser" />
      <add key="defaultDBPassword" value="rsrUser123!" />
      <add key="authDBServer" value="OAK-HRSA-DB01" />
      <add key="authDBName" value="habwebdata_prod_AC" />
      <add key="authDBUser" value="acUser" />
      <add key="authDBPassword" value="@cUser1" />
      <add key="defaultDBTableOwner" value="rsrAdmin" />
      <add key="appTableOwner" value="rsrAdmin" />
      <add key="habTableOwner" value="habAdmin" />
      -->
  <!-- xml file containing the static queries for the application -->
  <!--
      <add key="staticQueriesFile" value="c:\Projects\HabProject\Dev\RSR\Rsr.Web\XML\StaticQueries.xml" />
    </DBConfig>
  </HABSettings>-->
  <appSettings>
    <add key="habwebdataconn" value="IicmYlo++MnmL2RfKa/lo9w4zjROBGMqprDFk1gcZoO92J3lO1DVrTafRFikgYMRVkL/nBlZQuwKxSg+89kjKeTlBgpw6hX9NZt3i1jU2v/VEPDRzVt5ClBQGNwIbqQB" />
    <add key="connectionStringKey" value="habwebdataconn" />
    <add key="appTableOwner" value="adrAdmin" />
    <add key="habTableOwner" value="habAdmin" />
    <!-- scheduling -->
    <add key="autoReload_Freq" value="60" />
    <add key="timerInterval" value="1000" />
    <!-- frequency of running task -->
    <add key="freq_min_1" value="30" />
    <add key="freq_min_2" value="300" />
    <add key="freq_min_3" value="5" />
    <add key="freq_min_4" value="1" />
    <add key="monday_freq" value="freq_min_4" />
    <add key="tuesday_freq" value="freq_min_4" />
    <add key="wednesday_freq" value="freq_min_4" />
    <add key="thursday_freq" value="freq_min_4" />
    <add key="friday_freq" value="freq_min_4" />
    <add key="saturday_freq" value="freq_min_4" />
    <add key="sunday_freq" value="freq_min_4" />
    <!-- window for running task -->
    <add key="window_start_1" value="22:00:00" />
    <add key="window_end_1" value="23:59:59" />
    <add key="window_start_2" value="00:00:00" />
    <add key="window_end_2" value="23:59:59" />
    <add key="window_start_3" value="00:00:00" />
    <add key="window_end_3" value="23:59:59" />
    <add key="window_start_4" value="00:00:00" />
    <add key="window_end_4" value="23:59:59" />
    <add key="monday_window_start" value="window_start_4" />
    <add key="tuesday_window_start" value="window_start_4" />
    <add key="wednesday_window_start" value="window_start_4" />
    <add key="thursday_window_start" value="window_start_4" />
    <add key="friday_window_start" value="window_start_4" />
    <add key="saturday_window_start" value="window_start_4" />
    <add key="sunday_window_start" value="window_start_4" />
    <add key="monday_window_end" value="window_end_4" />
    <add key="tuesday_window_end" value="window_end_4" />
    <add key="wednesday_window_end" value="window_end_4" />
    <add key="thursday_window_end" value="window_end_4" />
    <add key="friday_window_end" value="window_end_4" />
    <add key="saturday_window_end" value="window_end_4" />
    <add key="sunday_window_end" value="window_end_4" />
    <!-- logging -->
    <add key="habDataSystemId" value="5" />
    <add key="maxDegreeOfParallelism" value="1" />
    <!-- email -->
    <add key="EmailTemplatePath" value="xml\Email.xml" />
    <add key="SMTPServer" value="smtpgw.reisys.com" />
    <!--todo: verify RsrSupportEmail-->
    <!--<add key="AdrSupportEmail" value="reirsrtest@gmail.com"/>-->
    <add key="RsrSupportEmail" value="brstest@smtpgw.reisys.com" />
    <add key="hccEmail" value="reirsrtest@gmail.com" />
    <add key="devEmail" value="reirsrtest@gmail.com" />
    <add key="devCC" value="" />
    <add key="devBCC" value="" />
    <add key="SecurityKeyProvider" value="REISys.Security.DevKeyProvider,REISys.Security.KeyProvider" />
    <!--impersonation credentials -->
    <add key="userId" value="EHB_gemsappTest_svc" />
    <add key="password" value="6AH6Zp6HdL+QApNHKkb8Rg==" />
    <add key="domain" value="amer.reisystems.com" />
    <add key="FileUploadPath" value="Y:\FileUpload\" />
    <add key="environment" value="test" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Microsoft.Practices.Unity.Interception" publicKeyToken="31bf3856ad364e35" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Microsoft.Practices.Unity.Configuration" publicKeyToken="31bf3856ad364e35" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Microsoft.AnalysisServices.AdomdClient" publicKeyToken="89845dcd8080cc91" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-9.0.242.0" newVersion="9.0.242.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>