<configuration> 
	<assemblies>
		<assembly name="Core2DataAccess" type="Platform.FoundationCore.DataAccess, Version=2.0.0.0, Culture=neutral, PublicKeyToken=677fce62a3a80367" />
		<assembly name="Core2Identity" type="Platform.FoundationCore.Identity, Version=2.0.0.0, Culture=neutral, PublicKeyToken=677fce62a3a80367" />
		<assembly name="Core2Services" type="Platform.FoundationCore.Services, Version=2.0.0.0, Culture=neutral, PublicKeyToken=677fce62a3a80367" />
		<assembly name="Core2WebBase" type="Platform.FoundationCore.WebBase, Version=2.0.0.0, Culture=neutral, PublicKeyToken=677fce62a3a80367" />
	</assemblies>
</configuration>
