<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="documentSettings"
               type="Platform.CrossCutting.Configuration.StorageProvider.FileStorageProvider.DocumentConfigSettings,
                                                Platform.CrossCutting.Configuration,Version=1.5.0.0,Culture=neutral,PublicKeyToken=677fce62a3a80367" />
    <section name="enterpriseLibrary.ConfigurationSource"
             type="Platform.CrossCutting.Configuration.StorageProvider.FileStorageProvider.PlatformSettings,
                                                Platform.CrossCutting.Configuration,Version=1.5.0.0,Culture=neutral,PublicKeyToken=677fce62a3a80367" />
  </configSections> 

  <enterpriseLibrary.ConfigurationSource>
    <sources>
      <add name="Filebased" sourceType="file" sectionName="documentSettings" />
    </sources>
  </enterpriseLibrary.ConfigurationSource>

  <documentSettings>
    <documentMaps>
      <add name="ExceptionHandling" sourceDirectory="Y:\CrossCutting\1.5\Config\ExceptionHandling" filePath="ExceptionHandling.config" />
      <add name="CrosscuttingDocumentMap" sourceDirectory="Y:\CrossCutting\1.5\Config\" filePath="CrosscuttingDocumentMap.config" />
    </documentMaps>
  </documentSettings>

</configuration>
