<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<error>System.OutOfMemoryException</error>
	<error>System.StackOverflowException</error>
	<error>System.UnauthorizedAccessException</error>
	<error>System.BadImageFormatException</error>
	<error>System.InsuficientExecutionStackException</error>
	<error>System.InvalidProgramException</error>
	<error>System.NotImplementedException</error>
	<error>System.Data.SqlClient.SqlException</error>
	<error>System.NotSupportedException</error>
	<error>System.IO.IOException</error>
	<error>System.Security.SecurityException</error>
</configuration>