.RadAutoCompleteBox {
  *zoom: 1;
  width: 160px;
  cursor: default; }
  .RadAutoCompleteBox:after {
    content: "";
    height: 0;
    clear: both;
    display: block; }
  .RadAutoCompleteBox .racTokenList {
    margin: 0;
    padding: 0;
    *zoom: 1;
    padding: 1px;
    border: 1px solid;
    overflow: hidden; }
    .RadAutoCompleteBox .racTokenList:after {
      content: "";
      height: 0;
      clear: both;
      display: block; }
  .RadAutoCompleteBox .racToken {
    *zoom: 1;
    float: left;
    display: inline;
    margin: 0 0 0 1px;
    padding: 0 18px 0 5px;
    border: 1px solid;
    background-position: 0 0;
    background-repeat: repeat-x;
    position: relative;
    white-space: nowrap; }
    .RadAutoCompleteBox .racToken:after {
      content: "";
      height: 0;
      clear: both;
      display: block; }
    .RadAutoCompleteBox .racToken:first-child {
      margin-left: 0; }
  .RadAutoCompleteBox .racDisabled .racToken {
    -moz-opacity: 0.8;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    *filter: alpha("opacity=80");
    padding-right: 5px; }
    .RadAutoCompleteBox .racDisabled .racToken .racRemoveTokenLink {
      display: none; }
  .RadAutoCompleteBox .racRemoveTokenLink {
    width: 12px;
    height: 12px;
    background-repeat: no-repeat;
    position: absolute;
    top: 2px;
    right: 2px;
    left: auto;
    cursor: pointer; }
  .RadAutoCompleteBox .racTextToken {
    *zoom: 1;
    float: left;
    display: inline;
    margin: 0 0 0 1px;
    padding: 0 0 0 4px;
    white-space: nowrap;
    position: relative; }
    .RadAutoCompleteBox .racTextToken:after {
      content: "";
      height: 0;
      clear: both;
      display: block; }
    .RadAutoCompleteBox .racTextToken:first-child {
      margin-left: 0; }
  .RadAutoCompleteBox .racTokenSeparator,
  .RadAutoCompleteBox .racStringSeparator {
    float: left;
    display: inline; }
  .RadAutoCompleteBox .racTokenSeparator {
    display: none; }
  .RadAutoCompleteBox .racInput {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    list-style: none;
    float: left;
    display: inline;
    height: 18px;
    text-indent: 4px; }
    .RadAutoCompleteBox .racInput:focus {
      outline: none; }
  .RadAutoCompleteBox .racEmptyMessage {
    font-style: italic; }
  .RadAutoCompleteBox .racEditTokenInput {
    margin: 0;
    padding: 0;
    height: 16px;
    border: 0;
    background: none;
    font: inherit; }

.racSlide {
  width: 160px;
  position: absolute;
  z-index: 9999; }

.RadAutoCompleteBoxPopup {
  margin: 0;
  padding: 0;
  *zoom: 1;
  border: 1px solid;
  cursor: default; }
  .RadAutoCompleteBoxPopup:after {
    content: "";
    height: 0;
    clear: both;
    display: block; }
  .RadAutoCompleteBoxPopup .racList {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    list-style: none;
    *zoom: 1;
    padding: 1px;
    height: 100%;
    overflow: auto; }
    .RadAutoCompleteBoxPopup .racList:after {
      content: "";
      height: 0;
      clear: both;
      display: block; }
  .RadAutoCompleteBoxPopup .racHeader,
  .RadAutoCompleteBoxPopup .racFooter {
    *zoom: 1;
    padding: 2px 7px; }
    .RadAutoCompleteBoxPopup .racHeader:after,
    .RadAutoCompleteBoxPopup .racFooter:after {
      content: "";
      height: 0;
      clear: both;
      display: block; }
  .RadAutoCompleteBoxPopup .racHeader {
    border-bottom: 1px solid; }
  .RadAutoCompleteBoxPopup .racFooter {
    border-top: 1px solid; }
  .RadAutoCompleteBoxPopup .racItem {
    *zoom: 1;
    padding: 2px 6px; }
    .RadAutoCompleteBoxPopup .racItem:after {
      content: "";
      height: 0;
      clear: both;
      display: block; }


.RadAutoCompleteBox_PAMS {
  color: black;
  font: normal 12px/16px "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadAutoCompleteBox_PAMS .racTokenList {
    border-color: #b8cbde;
    color: black;
    background-color: white; }
  .RadAutoCompleteBox_PAMS .racDisabled {
    border-color: #b8cbde;
    color: black;
    background-color: white; }
  .RadAutoCompleteBox_PAMS .racToken {
    background-image: -webkit-linear-gradient(top, #f4f8fa 0%, #e9f2fb 50%, #dde7f5 50%, #dde8f6 100%);
    background-image: -moz-linear-gradient(top, #f4f8fa 0%, #e9f2fb 50%, #dde7f5 50%, #dde8f6 100%);
    background-image: -ms-linear-gradient(top, #f4f8fa 0%, #e9f2fb 50%, #dde7f5 50%, #dde8f6 100%);
    background-image: -o-linear-gradient(top, #f4f8fa 0%, #e9f2fb 50%, #dde7f5 50%, #dde8f6 100%);
    background-image: linear-gradient(top, #f4f8fa 0%, #e9f2fb 50%, #dde7f5 50%, #dde8f6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f8fa', endColorstr='#dde8f6',GradientType=0 );
    border-color: #c2cedb;
    color: #1e395b;
    background-color: #dde7f5;
    border-radius: 3px; }
  .RadAutoCompleteBox_PAMS .racTokenHovered {
    background-image: -webkit-linear-gradient(top, #fcfdfe 0%, #f7f8fb 50%, #edf2f9 50%, #e7ecf5 100%);
    background-image: -moz-linear-gradient(top, #fcfdfe 0%, #f7f8fb 50%, #edf2f9 50%, #e7ecf5 100%);
    background-image: -ms-linear-gradient(top, #fcfdfe 0%, #f7f8fb 50%, #edf2f9 50%, #e7ecf5 100%);
    background-image: -o-linear-gradient(top, #fcfdfe 0%, #f7f8fb 50%, #edf2f9 50%, #e7ecf5 100%);
    background-image: linear-gradient(top, #fcfdfe 0%, #f7f8fb 50%, #edf2f9 50%, #e7ecf5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfdfe', endColorstr='#e7ecf5',GradientType=0 );
    border-color: #c2dbfb;
    color: #1e395b;
    background-color: #edf2f9; }
  .RadAutoCompleteBox_PAMS .racTokenSelected {
    background-image: -webkit-linear-gradient(top, #f3f7fa 0%, #e9f2fb 50%, #dde7f5 50%, #dde8f6 100%);
    background-image: -moz-linear-gradient(top, #f3f7fa 0%, #e9f2fb 50%, #dde7f5 50%, #dde8f6 100%);
    background-image: -ms-linear-gradient(top, #f3f7fa 0%, #e9f2fb 50%, #dde7f5 50%, #dde8f6 100%);
    background-image: -o-linear-gradient(top, #f3f7fa 0%, #e9f2fb 50%, #dde7f5 50%, #dde8f6 100%);
    background-image: linear-gradient(top, #f3f7fa 0%, #e9f2fb 50%, #dde7f5 50%, #dde8f6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3f7fa', endColorstr='#dde8f6',GradientType=0 );
    border-color: #9bc9ff;
    color: #1e395b;
    background-color: #dde7f5; }
  .RadAutoCompleteBox_PAMS .racDisabled .racToken {
    background-image: -webkit-linear-gradient(top, #f7f7f7 0%, #e7e7e7 100%);
    background-image: -moz-linear-gradient(top, #f7f7f7 0%, #e7e7e7 100%);
    background-image: -ms-linear-gradient(top, #f7f7f7 0%, #e7e7e7 100%);
    background-image: -o-linear-gradient(top, #f7f7f7 0%, #e7e7e7 100%);
    background-image: linear-gradient(top, #f7f7f7 0%, #e7e7e7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#e7e7e7',GradientType=0 );
    border-color: #dddddd;
    color: #a7a7a7;
    background-color: #e8e8e8; }
  .RadAutoCompleteBox_PAMS .racRemoveTokenLink {
    background-image: url('../Common/AutoCompleteBox/racActionsSprite.png');
    background-position: -2px -2px; }
  .RadAutoCompleteBox_PAMS .racInput {
    color: black;
    font: normal 12px "Segoe UI", Arial, Helvetica, sans-serif;
    line-height: 16px; }
  .RadAutoCompleteBox_PAMS .racEmptyMessage {
    color: #a0a0a0;
    font-style: italic; }

.RadAutoCompleteBoxPopup_PAMS {
  border-color: #b8cbde;
  color: black;
  background: white;
  font: normal 12px "Segoe UI", Arial, Helvetica, sans-serif;
  line-height: 16px; }
  .RadAutoCompleteBoxPopup_PAMS .racHeader,
  .RadAutoCompleteBoxPopup_PAMS .racFooter {
    color: black;
    background-color: #f1f5fb; }
  .RadAutoCompleteBoxPopup_PAMS .racHeader {
    border-bottom-color: #b8cbde; }
  .RadAutoCompleteBoxPopup_PAMS .racFooter {
    border-top-color: #b8cbde; }
  .RadAutoCompleteBoxPopup_PAMS .racItemHovered {
    color: black;
    background-color: #eef6ff; }
