/*Telerik RadGrid Common CSS*/
/*global*/
.RadGrid .rgMasterTable, .RadGrid .rgDetailTable, .RadGrid .rgEditForm table {
  border-collapse: separate;
  border-spacing: 0; }
.RadGrid .rgRow, .RadGrid .rgAltRow, .RadGrid .rgHeader, .RadGrid .rgResizeCol, .RadGrid .rgPager, .RadGrid .rgGroupPanel, .RadGrid .rgGroupHeader {
  cursor: default; }
.RadGrid input[type="image"] {
  cursor: pointer; }
.RadGrid .rgRow td, .RadGrid .rgAltRow td, .RadGrid .rgEditRow td, .RadGrid .rgFooter td, .RadGrid .rgFilterRow td, .RadGrid .rgHeader, .RadGrid .rgResizeCol, .RadGrid .rgGroupHeader td {
  padding-left: 7px;
  padding-right: 7px; }
.RadGrid .rgClipCells .rgHeader, .RadGrid .rgClipCells .rgFilterRow > td, .RadGrid .rgClipCells .rgRow > td, .RadGrid .rgClipCells .rgAltRow > td, .RadGrid .rgClipCells .rgEditRow > td, .RadGrid .rgClipCells .rgFooter > td {
  overflow: hidden; }
.RadGrid .rgAdd, .RadGrid .rgRefresh, .RadGrid .rgEdit, .RadGrid .rgDel, .RadGrid .rgDrag, .RadGrid .rgFilter, .RadGrid .rgPagePrev, .RadGrid .rgPageNext, .RadGrid .rgPageFirst, .RadGrid .rgPageLast, .RadGrid .rgExpand, .RadGrid .rgCollapse, .RadGrid .rgSortAsc, .RadGrid .rgSortDesc, .RadGrid .rgUpdate, .RadGrid .rgCancel, .RadGrid .rgUngroup, .RadGrid .rgExpXLS, .RadGrid .rgExpDOC, .RadGrid .rgExpPDF, .RadGrid .rgExpCSV {
  width: 16px;
  height: 16px;
  border: 0;
  margin: 0;
  padding: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  vertical-align: middle;
  font-size: 1px;
  cursor: pointer; }
.RadGrid .rgGroupItem input, .RadGrid .rgCommandRow img, .RadGrid .rgHeader input {
  vertical-align: middle; }
.RadGrid .rgFilterRow img, .RadGrid .rgFilterRow input {
  vertical-align: middle; }
.RadGrid .rgPager img {
  vertical-align: middle; }
.RadGrid .rgRow td, .RadGrid .rgAltRow td, .RadGrid .rgEditRow td, .RadGrid .rgFooter td {
  padding-top: 4px;
  padding-bottom: 3px; }
.RadGrid table.rgMasterTable tr .rgDragCol {
  padding-left: 0;
  padding-right: 0;
  text-align: center; }
.RadGrid .rgDrag {
  width: 15px;
  height: 15px;
  cursor: url('Common/grab.cur'), move; }
.RadGrid .rgPager .rgStatus {
  width: 35px;
  padding: 3px 0 2px; }
.RadGrid .rgStatus div {
  width: 24px;
  height: 24px;
  overflow: hidden;
  border: 0;
  margin: 0 auto;
  padding: 0;
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  text-indent: -2222px; }
.RadGrid .rgPager td {
  padding: 0; }
.RadGrid td.rgPagerCell {
  border: 0;
  padding: 5px 0 4px; }
.RadGrid .rgWrap {
  float: left;
  padding: 0 10px;
  line-height: 22px;
  white-space: nowrap; }
.RadGrid .rgArrPart1 {
  padding-right: 0; }
.RadGrid .rgArrPart2 {
  padding-left: 0; }
.RadGrid .rgInfoPart {
  float: right; }
  .RadGrid .rgInfoPart strong {
    font-weight: normal; }
.RadGrid .rgArrPart1 img, .RadGrid .rgArrPart2 img {
  border: 0;
  margin: -3px 1px 0; }
.RadGrid .rgPageFirst, .RadGrid .rgPagePrev, .RadGrid .rgPageNext, .RadGrid .rgPageLast {
  width: 22px;
  height: 22px;
  vertical-align: top; }
.RadGrid .NextPrev .rgPageFirst, .RadGrid .NextPrev .rgPagePrev, .RadGrid .NextPrev .rgPageNext, .RadGrid .NextPrev .rgPageLast {
  vertical-align: middle; }
.RadGrid .rgPageFirst, .RadGrid .rgPagePrev {
  margin-right: 1px; }
.RadGrid .rgPageNext, .RadGrid .rgPageLast {
  margin-left: 1px; }
.RadGrid .rgPager .rgPagerButton {
  height: 22px;
  border-style: solid;
  border-width: 1px;
  margin: 0 14px 0 0;
  padding: 0 4px 2px;
  font-size: 12px;
  line-height: 12px;
  vertical-align: top;
  cursor: pointer; }
.RadGrid .rgNumPart {
  padding: 0; }
.RadGrid .NumericPages .rgNumPart {
  padding: 0 10px; }
.RadGrid .rgNumPart a {
  float: left;
  line-height: 22px;
  margin: 0;
  padding: 0 5px 0 0;
  text-decoration: none; }
.RadGrid .rgNumPart span {
  float: left;
  padding: 0 0 0 5px; }
.RadGrid .rgNumPart a:hover span {
  cursor: pointer; }
.RadGrid .rgNumPart a.rgCurrentPage {
  cursor: default; }
  .RadGrid .rgNumPart a.rgCurrentPage:hover, .RadGrid .rgNumPart a.rgCurrentPage span, .RadGrid .rgNumPart a.rgCurrentPage:hover span {
    cursor: default; }
.RadGrid .NextPrevNumericAndAdvanced .rgAdvPart {
  float: none;
  text-align: center; }
.RadGrid .rgPager .RadSlider {
  float: left;
  margin: 0 10px 0 0; }
.RadGrid .rgPagerLabel {
  margin: 0 4px 0 0;
  vertical-align: top; }
.RadGrid .rgPager .RadComboBox {
  margin: 0 4px 0 0;
  vertical-align: top; }
.RadGrid .rgPager .RadInput {
  margin: 0 4px 0 0;
  vertical-align: top;
  display: inline-block; }
.RadGrid .rgPager .riTextBox {
  height: 15px; }
.RadGrid div.rgHeaderWrapper {
  border-left: 0 none;
  border-right: 0 none;
  padding: 0;
  overflow: hidden; }
.RadGrid .rgFooterWrapper {
  border-top-style: solid;
  overflow: hidden; }

.rgCellSelectorArea {
  position: absolute;
  z-index: 1000100;
  opacity: 0.1;
  -moz-opacity: 0.1;
  filter: alpha(opacity=10); }

/*header*/
.rgNoScrollImage div.rgHeaderDiv {
  background-image: none; }

.rgMultiHeader {
  overflow: hidden; }
  .rgMultiHeader .rgHeaderDiv {
    margin-left: -1px; }

.rgHeaderWrapper .rgHeaderDiv {
  margin-bottom: -1px;
  margin-right: -1px;
  border-right: 1px solid transparent; }

.rgFooterWrapper .rgFooterDiv {
  margin-top: -1px; }

.RadGrid .rgHeader, .RadGrid th.rgResizeCol {
  padding-top: 5px;
  padding-bottom: 4px;
  text-align: left;
  font-weight: normal; }
.RadGrid .rgHeader a {
  text-decoration: none; }
.RadGrid .rgCheck input {
  height: 15px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  cursor: default; }

.rfdCheckbox .RadGrid .rgCheck input {
  height: 20px; }

/*status*/
/*pager*/
.rgPager .riSingle .riTextBox {
  height: 22px; }

* + html .RadGrid .rgPager .RadComboBox {
  margin-top: -1px; }
* html .RadGrid .rgPager .RadComboBox {
  margin-top: -1px;
  padding: 1px 0; }

.RadGrid .rgPagerTextBox {
  text-align: center; }

/*reordering*/
.GridReorderTop, .GridReorderBottom {
  width: 9px;
  height: 9px;
  margin: 0 0 0 -5px;
  padding: 0; }

/*filtering*/
.RadGrid .rgFilterRow td {
  padding-top: 4px;
  padding-bottom: 7px; }
.RadGrid .rgFilter {
  width: 22px;
  height: 22px;
  margin: 0 0 0 2px; }
.RadGrid .rgFilterBox {
  border-width: 1px;
  border-style: solid;
  margin: 0;
  height: 15px;
  padding: 2px 1px 3px;
  font-size: 12px;
  vertical-align: middle; }

/**+html .rgFilterRow .riSingle .riTextBox,
.rgFilterRow .riTextBox
{
	height: 15px;
}*/
.rgFilterRow .riSingle .riTextBox {
  height: 22px; }

.RadGrid .rgFilterRow .RadInput, .RadGrid .rgFilterRow .RadRating {
  display: inline-block;
  vertical-align: middle; }

* + html .RadGrid .rgFilterRow .RadRating, * html .RadGrid .rgFilterRow .RadRating {
  display: inline;
  zoom: 1; }

div.RadGrid .RadComboBox td {
  border: 0 none; }

/*context menu*/
.GridContextMenu .rmLeftImage {
  background-repeat: no-repeat;
  background-color: transparent; }

/*filter context menu*/
.RadMenu .rmGroup .rgHCMItem .rmText {
  width: 161px;
  padding: 6px 5px 5px 30px; }

.rgHCMItem .rgHCMClear, .rgHCMItem .rgHCMShow, .rgHCMItem .rgHCMAnd, .rgHCMItem .rgHCMFilter {
  display: block; }
.rgHCMItem .rgHCMShow, .rgHCMItem .rgHCMAnd {
  padding-top: 5px;
  line-height: 12px; }
.rgHCMItem .rgHCMClear, .rgHCMItem .rgHCMShow, .rgHCMItem .RadComboBox {
  margin: 0 0 5px; }
.rgHCMItem .rgHCMAnd {
  margin: 0 0 5px;
  margin-top: 5px; }
.rgHCMItem .rgHCMFilter {
  margin-top: 11px; }
.rgHCMItem .rgHCMClear, .rgHCMItem .rgHCMFilter {
  width: 160px;
  border-style: solid;
  border-width: 1px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 1px 0;
  font-size: 12px;
  cursor: pointer; }

/*grouping*/
.RadGrid .rgGroupPanel {
  height: 24px; }
.RadGrid .rgGroupItem {
  padding: 0 2px 1px 3px;
  line-height: 20px;
  font-weight: normal;
  vertical-align: middle; }
.RadGrid .rgGroupHeader td {
  padding-top: 0;
  padding-bottom: 0; }
  .RadGrid .rgGroupHeader td p {
    display: inline;
    margin: 0;
    padding: 0 10px; }
  .RadGrid .rgGroupHeader td div div {
    top: -0.8em;
    padding: 0 10px; }

/*IE quirks mode*/
/*\*/
* html .RadGrid .rgGroupHeader td div div {
  top: 0; }

/**/
.RadGrid .rgGroupHeader td div div div {
  top: 0;
  padding: 0;
  border: 0; }
.RadGrid .rgUpdate, .RadGrid .rgCancel {
  width: 18px;
  height: 18px; }
.RadGrid .rgDetailTable {
  border-style: solid;
  border-width: 1px;
  border-right-width: 0; }
.RadGrid .rgAdd, .RadGrid .rgRefresh {
  width: 18px;
  height: 18px;
  vertical-align: bottom; }

/*editing*/
/*hierarchy*/
/*command row*/
* + html .RadGrid .rgPager .rgPagerButton, * + html .RadGrid .rgPagerLabel, * + html .RadGrid .rgPager .RadComboBox, * + html .RadGrid .rgAdd, * + html .RadGrid .rgRefresh {
  vertical-align: middle; }
* html .RadGrid .rgPager .rgPagerButton, * html .RadGrid .rgPagerLabel {
  vertical-align: middle; }
* html .RadGrid .rgPager .RadComboBox, * html .RadGrid .rgPager .RadInput {
  vertical-align: middle; }
* html .RadGrid .rgAdd, * html .RadGrid .rgRefresh {
  vertical-align: middle; }

.RadGrid .rgEdit, .RadGrid .rgDel {
  width: 15px;
  height: 15px;
  display: inline-block;
  text-indent: -9999px; }

.rgPager thead,
.rgPager caption,
.rgCommandTable thead {
  display: none; }

/*rtl*/
.RadGridRTL .rgHeader, .RadGridRTL .rgResizeCol {
  text-align: right; }
.RadGridRTL .rgPager .rgStatus {
  border-right: 0;
  border-left-width: 1px; }
.RadGridRTL .rgWrap {
  float: right; }
.RadGridRTL .rgArrPart1 {
  padding-left: 0;
  padding-right: 10px; }
.RadGridRTL .rgPageFirst, .RadGridRTL .rgPagePrev {
  margin-right: 0;
  margin-left: 1px; }
.RadGridRTL .rgPageNext, .RadGridRTL .rgPageLast {
  margin-left: 0;
  margin-right: 1px; }
.RadGridRTL .rgInfoPart {
  float: left; }
.RadGridRTL .rgNumPart {
  width: 220px; }
  .RadGridRTL .rgNumPart a {
    float: right; }
.RadGridRTL .rgDetailTable {
  border-right-width: 1px;
  border-left-width: 0; }
.RadGridRTL input.rgRefresh, .RadGridRTL input.rgAdd {
  margin: 0 0 0 4px; }
.RadGridRTL .rgInfoPart {
  text-align: left; }
.RadGridRTL .rgSliderLabel {
  float: right; }
.RadGridRTL .rgPager div.RadSlider {
  float: right;
  margin: 0 0 0 10px; }



/*Telerik RadGrid Vista Skin*/
/*global*/
.RadGrid_PAMS {
  border: 1px solid #9cb6c5;
  background: #fff;
  color: #333;
  font: 12px/16px "segoe ui", arial, sans-serif; }
  .RadGrid_PAMS .rgMasterTable, .RadGrid_PAMS .rgDetailTable, .RadGrid_PAMS .rgGroupPanel table, .RadGrid_PAMS .rgCommandRow table, .RadGrid_PAMS .rgEditForm table, .RadGrid_PAMS .rgPager table {
    font: 12px/16px "segoe ui", arial, sans-serif; }

.GridToolTip_PAMS {
  font: 12px/16px "segoe ui", arial, sans-serif; }

.RadGrid_PAMS .rgHeader:first-child, .RadGrid_PAMS th.rgResizeCol:first-child, .RadGrid_PAMS .rgFilterRow > td:first-child, .RadGrid_PAMS .rgRow > td:first-child, .RadGrid_PAMS .rgAltRow > td:first-child {
  border-left-width: 0;
  padding-left: 8px; }
.RadGrid_PAMS .rgAdd, .RadGrid_PAMS .rgRefresh, .RadGrid_PAMS .rgEdit, .RadGrid_PAMS .rgDel, .RadGrid_PAMS .rgFilter, .RadGrid_PAMS .rgPagePrev, .RadGrid_PAMS .rgPageNext, .RadGrid_PAMS .rgPageFirst, .RadGrid_PAMS .rgPageLast, .RadGrid_PAMS .rgExpand, .RadGrid_PAMS .rgCollapse, .RadGrid_PAMS .rgSortAsc, .RadGrid_PAMS .rgSortDesc, .RadGrid_PAMS .rgUpdate, .RadGrid_PAMS .rgCancel, .RadGrid_PAMS .rgUngroup, .RadGrid_PAMS .rgExpXLS, .RadGrid_PAMS .rgExpDOC, .RadGrid_PAMS .rgExpPDF, .RadGrid_PAMS .rgExpCSV {
  background-image: url('Grid/sprite.gif'); }
.RadGrid_PAMS .rgHeaderDiv {
  background: #ebeef6 0 -7750px repeat-x url('Grid/sprite.gif'); }

/*header*/
.rgTwoLines .rgHeaderDiv {
  background-position: 0 -7250px; }

.RadGrid_PAMS .rgHeader, .RadGrid_PAMS th.rgResizeCol, .RadGrid_PAMS .rgHeaderWrapper {
  border: 1px solid;
  border-color: #fff #dcf2fc #3c7fb1 #8bbdde;
  border-top-width: 0;
  background: 0 -2300px repeat-x #a6d9f4 url('Grid/sprite.gif'); }
.RadGrid_PAMS .rgMultiHeaderRow th.rgHeader, .RadGrid_PAMS .rgMultiHeaderRow th.rgResizeCol {
  border: 1px solid;
  border-color: #fff #dcf2fc #3c7fb1 #8bbdde;
  border-top-width: 0;
  background: 0 -2300px repeat-x #a6d9f4 url('Grid/sprite.gif'); }
.RadGrid_PAMS .rgHeaderDiv {
  border-right-color: #e2e3ea; }
.RadGrid_PAMS th.rgSorted {
  border-bottom-color: #79b3d8;
  background-color: #d9ecf6;
  background-position: 0 -2600px; }
.RadGrid_PAMS .rgHeader {
  color: #333; }
  .RadGrid_PAMS .rgHeader a {
    color: #333; }
.RadGrid_PAMS .rgRow td, .RadGrid_PAMS .rgAltRow td, .RadGrid_PAMS .rgEditRow td, .RadGrid_PAMS .rgFooter td {
  border-style: solid;
  border-width: 0 1px 1px; }
.RadGrid_PAMS .rgRow td, .RadGrid_PAMS .rgAltRow td {
  border-color: #fff #fff #fff #ededed; }
.RadGrid_PAMS .rgRow .rgSorted, .RadGrid_PAMS .rgAltRow .rgSorted {
  background-color: #f2f3f5; }
.RadGrid_PAMS .rgSelectedRow .rgSorted, .RadGrid_PAMS .rgActiveRow .rgSorted, .RadGrid_PAMS .rgHoveredRow .rgSorted, .RadGrid_PAMS .rgEditRow .rgSorted {
  background-color: transparent; }
.RadGrid_PAMS .rgRow a, .RadGrid_PAMS .rgAltRow a, .RadGrid_PAMS .rgEditRow a, .RadGrid_PAMS .rgFooter a, .RadGrid_PAMS .rgEditForm a {
  color: #06c; }
.RadGrid_PAMS .rgMasterTable .rgSelectedCell, .RadGrid_PAMS .rgSelectedRow {
  background: #abdbf5 0 -3900px repeat-x url('Grid/sprite.gif'); }

/*rows*/
* + html .RadGrid_PAMS .rgSelectedRow .rgSorted, * html .RadGrid_PAMS .rgSelectedRow .rgSorted {
  background-color: #abdbf5; }

.RadGrid_PAMS .rgMasterTable .rgActiveCell, .RadGrid_PAMS .rgActiveRow, .RadGrid_PAMS .rgHoveredRow {
  background: #d7f0fc 0 -2900px repeat-x url('Grid/sprite.gif'); }

* + html .RadGrid_PAMS .rgActiveRow .rgSorted, * + html .RadGrid_PAMS .rgHoveredRow .rgSorted {
  background-color: #d7f0fc; }
* html .RadGrid_PAMS .rgActiveRow .rgSorted, * html .RadGrid_PAMS .rgHoveredRow .rgSorted {
  background-color: #d7f0fc; }

.RadGrid_PAMS .rgEditRow {
  background: #96cfee 0 -4900px repeat-x url('Grid/sprite.gif'); }

* + html .RadGrid_PAMS .rgEditRow .rgSorted, * html .RadGrid_PAMS .rgEditRow .rgSorted {
  background-color: #96cfee; }

.RadGrid_PAMS .rgSelectedRow td, .RadGrid_PAMS .rgActiveRow td, .RadGrid_PAMS .rgHoveredRow td, .RadGrid_PAMS .rgEditRow td {
  border-left-width: 0;
  border-right-width: 0;
  padding-left: 8px;
  padding-right: 8px; }
.RadGrid_PAMS .rgSelectedRow td {
  border-bottom-color: #d7f0fc; }
.RadGrid_PAMS .rgActiveRow td, .RadGrid_PAMS .rgHoveredRow td {
  border-bottom-color: #99defd; }
.RadGrid_PAMS .rgEditRow td {
  border-bottom-color: #96cfee; }
.RadGrid_PAMS .rgDrag {
  background-image: url('Grid/rgDrag.gif'); }
.RadGrid_PAMS .rgFooterDiv, .RadGrid_PAMS .rgFooter, .RadGrid_PAMS .rgFooterWrapper {
  background: #e0e5f5; }
.RadGrid_PAMS .rgFooter td, .RadGrid_PAMS .rgFooterWrapper {
  border-top-width: 1px;
  border-color: #aec5d1 #e0e5f5 #fff #e0e5f5; }
.RadGrid_PAMS .rgPager .rgStatus {
  border: 1px solid;
  border-color: #aec5d1 #9cb6c5 #fff #9cb6c5;
  border-left-width: 0; }
.RadGrid_PAMS .rgStatus div {
  background-image: url('Common/loading_small.gif'); }
.RadGrid_PAMS .rgPager {
  background: #eff7fc; }
.RadGrid_PAMS td.rgPagerCell {
  border: 1px solid;
  border-color: #aec5d1 #fff #fff;
  border-right-width: 0; }
.RadGrid_PAMS .rgInfoPart {
  color: #8a8a8a; }
  .RadGrid_PAMS .rgInfoPart strong {
    color: #4c4e54; }
.RadGrid_PAMS .rgPageFirst {
  background-position: 0 -550px; }
  .RadGrid_PAMS .rgPageFirst:hover {
    background-position: 0 -600px; }
.RadGrid_PAMS .rgPagePrev {
  background-position: 0 -700px; }
  .RadGrid_PAMS .rgPagePrev:hover {
    background-position: 0 -750px; }
.RadGrid_PAMS .rgPageNext {
  background-position: 0 -850px; }
  .RadGrid_PAMS .rgPageNext:hover {
    background-position: 0 -900px; }
.RadGrid_PAMS .rgPageLast {
  background-position: 0 -1000px; }
  .RadGrid_PAMS .rgPageLast:hover {
    background-position: 0 -1050px; }
.RadGrid_PAMS .rgPager .rgPagerButton {
  border-color: #a6d9f4;
  background: #acdbf5 repeat-x 0 -1550px url('Grid/sprite.gif');
  color: #000;
  font: 12px/12px "segoe ui", arial, sans-serif; }
.RadGrid_PAMS .rgNumPart a {
  color: #000; }
  .RadGrid_PAMS .rgNumPart a:hover, .RadGrid_PAMS .rgNumPart a.rgCurrentPage {
    background: no-repeat url('Grid/sprite.gif'); }
    .RadGrid_PAMS .rgNumPart a:hover span, .RadGrid_PAMS .rgNumPart a.rgCurrentPage span {
      background: no-repeat url('Grid/sprite.gif'); }
  .RadGrid_PAMS .rgNumPart a:hover {
    background-position: 100% -1250px;
    color: #06c; }
    .RadGrid_PAMS .rgNumPart a:hover span {
      background-position: 0 -1150px; }
  .RadGrid_PAMS .rgNumPart a.rgCurrentPage {
    background-position: 100% -1450px;
    color: #000; }
    .RadGrid_PAMS .rgNumPart a.rgCurrentPage:hover {
      background-position: 100% -1450px;
      color: #000; }
    .RadGrid_PAMS .rgNumPart a.rgCurrentPage span, .RadGrid_PAMS .rgNumPart a.rgCurrentPage:hover span {
      background-position: 0 -1350px; }
.RadGrid_PAMS .rgHeader .rgSortAsc {
  background-position: 3px -248px;
  height: 10px; }
.RadGrid_PAMS .rgHeader .rgSortDesc {
  background-position: 3px -198px;
  height: 10px; }

/*footer*/
/*status*/
/*pager*/
/*sorting, reordering*/
.GridReorderTop_PAMS {
  height: 11px;
  background: 0 0 no-repeat url('Grid/sprite.gif'); }

.GridReorderBottom_PAMS {
  height: 11px;
  background: 0 0 no-repeat url('Grid/sprite.gif');
  background-position: 0 -50px; }

/*filtering*/
.RadGrid_PAMS .rgFilterRow {
  background: #ebeef6; }
  .RadGrid_PAMS .rgFilterRow td {
    border-left: 1px solid #ededed;
    border-right: 1px solid #fff; }
.RadGrid_PAMS .rgFilter {
  background-position: 0 -300px; }
  .RadGrid_PAMS .rgFilter:hover {
    background-position: 0 -350px; }
.RadGrid_PAMS .rgFilterActive {
  background-position: 0 -400px; }
  .RadGrid_PAMS .rgFilterActive:hover {
    background-position: 0 -400px; }
.RadGrid_PAMS .rgFilterBox {
  border-color: #abadb3 #dbdfe6 #e3e9ef #e2e3ea;
  font: 12px "segoe ui",arial,sans-serif;
  color: #333; }

/*filter context menu*/
.RadMenu_PAMS .rgHCMClear, .RadMenu_PAMS .rgHCMFilter {
  border-color: #707070;
  background: #cfcfcf center -23px repeat-x url('FormDecorator/ButtonSprites.gif');
  color: #000;
  font-family: "segoe ui",arial,sans-serif; }
.RadMenu_PAMS .rgHCMClear:hover, .RadMenu_PAMS .rgHCMFilter:hover {
  border-color: #3c7fb1;
  background-position: center -67px;
  background-color: #a7d9f5; }

/*context menu*/
.GridContextMenu_PAMS .rmLeftImage {
  background-image: url('../Common/Grid/contextMenu.gif'); }
.GridContextMenu_PAMS .rgHCMSortAsc .rmLeftImage {
  background-position: 0 0; }
.GridContextMenu_PAMS .rgHCMSortDesc .rmLeftImage {
  background-position: 0 -40px; }
.GridContextMenu_PAMS .rgHCMUnsort .rmLeftImage {
  background-position: 0 -80px; }
.GridContextMenu_PAMS .rgHCMGroup .rmLeftImage {
  background-position: 0 -120px; }
.GridContextMenu_PAMS .rgHCMUngroup .rmLeftImage {
  background-position: 0 -160px; }
.GridContextMenu_PAMS .rgHCMCols .rmLeftImage {
  background-position: 0 -200px; }
.GridContextMenu_PAMS .rgHCMFilter .rmLeftImage {
  background-position: 0 -240px; }
.GridContextMenu_PAMS .rgHCMUnfilter .rmLeftImage {
  background-position: 0 -280px; }

/*grouping*/
.RadGrid_PAMS .rgGroupPanel {
  border: 1px solid;
  border-color: #eaedf6 #f2f5fa #9cb6c5;
  background: #e6ebf5 0 -1900px repeat-x url('Grid/sprite.gif'); }
  .RadGrid_PAMS .rgGroupPanel td {
    border: 0;
    border-bottom: 1px solid #f2f5fa;
    padding: 0; }
    .RadGrid_PAMS .rgGroupPanel td td {
      border: 0;
      padding: 2px 3px 1px; }
      .RadGrid_PAMS .rgGroupPanel td td td {
        padding: 0; }
  .RadGrid_PAMS .rgGroupPanel .rgSortAsc {
    background-position: 4px -144px; }
  .RadGrid_PAMS .rgGroupPanel .rgSortDesc {
    background-position: 4px -94px; }
.RadGrid_PAMS .rgUngroup {
  background-position: 0 -7200px; }
.RadGrid_PAMS .rgGroupItem {
  border: 1px solid;
  border-color: #8a929e #9298a1 #9298a1;
  background: #e6ebf5 0 -7000px repeat-x url('Grid/sprite.gif'); }
.RadGrid_PAMS .rgGroupHeader {
  background: 0 -6489px repeat-x url('Grid/sprite.gif');
  font-size: 1.1em;
  line-height: 21px;
  color: #039; }
  .RadGrid_PAMS .rgGroupHeader td {
    padding: 0 8px; }
  .RadGrid_PAMS .rgGroupHeader .rgGroupCol {
    background: #fff none; }
.RadGrid_PAMS .rgExpand {
  background-position: 5px -496px; }
.RadGrid_PAMS .rgCollapse {
  background-position: 3px -444px; }
.RadGrid_PAMS .rgGroupHeader .rgExpand, .RadGrid_PAMS .rgGroupHeader .rgCollapse {
  background-color: #fff; }
.RadGrid_PAMS .rgGroupHeader td p, .RadGrid_PAMS .rgGroupHeader td div div {
  background: #fff; }
.RadGrid_PAMS .rgEditForm {
  border-bottom: 1px solid #ededed; }
.RadGrid_PAMS .rgUpdate {
  background-position: 0 -1800px; }
.RadGrid_PAMS .rgCancel {
  background-position: 0 -1850px; }
.RadGrid_PAMS .rgDetailTable {
  border-color: #ededed; }
.RadGrid_PAMS .rgCommandRow {
  background: #4e96aa 0 0 repeat-x url('Grid/rgCommandRow.gif');
  color: #fff; }
.RadGrid_PAMS .rgCommandCell {
  border: 0;
  padding: 0; }
.RadGrid_PAMS thead .rgCommandCell {
  border-bottom: 1px solid #3c7fb1; }
.RadGrid_PAMS tfoot .rgCommandCell, .RadGrid_PAMS .rgMasterTable > tbody > tr.rgCommandRow .rgCommandCell {
  border-top: 1px solid #3c7fb1; }
.RadGrid_PAMS .rgCommandTable {
  border: 1px solid;
  border-color: #b2ccd8 #75a4b7 #95c3ce; }
  .RadGrid_PAMS .rgCommandTable td {
    border: 0;
    padding: 2px 7px; }
.RadGrid_PAMS .rgCommandRow a {
  color: #fff;
  text-decoration: none; }
.RadGrid_PAMS .rgAdd {
  margin-right: 3px;
  background-position: 0 -1650px; }
.RadGrid_PAMS .rgRefresh {
  margin-right: 3px;
  background-position: 0 -1600px; }
.RadGrid_PAMS .rgEdit {
  background-position: 0 -1700px; }
.RadGrid_PAMS .rgDel {
  background-position: 0 -1750px; }
.RadGrid_PAMS .rgExpXLS, .RadGrid_PAMS .rgExpDOC, .RadGrid_PAMS .rgExpPDF, .RadGrid_PAMS .rgExpCSV {
  background-image: url('../Common/Grid/export.gif'); }
.RadGrid_PAMS .rgExpXLS {
  background-position: 0 0; }
.RadGrid_PAMS .rgExpDOC {
  background-position: 0 -50px; }
.RadGrid_PAMS .rgExpPDF {
  background-position: 0 -100px; }
.RadGrid_PAMS .rgExpCSV {
  background-position: 0 -150px; }

/*editing*/
/*hierarchy*/
/*command row*/
/*multirow select*/
.rgCellSelectorArea_PAMS, .GridRowSelector_PAMS {
  background: #039; }

/*row drag n drop*/
.GridItemDropIndicator_PAMS {
  border-top: 1px dashed #039; }

/*tooltip*/
.GridToolTip_PAMS {
  border: 1px solid #767676;
  padding: 3px;
  background: #e4e5f0;
  color: #000; }

/*rtl*/
.RadGridRTL_PAMS .rgHeader:first-child, .RadGridRTL_PAMS th.rgResizeCol:first-child, .RadGridRTL_PAMS .rgFilterRow > td:first-child, .RadGridRTL_PAMS .rgRow > td:first-child, .RadGridRTL_PAMS .rgAltRow > td:first-child {
  border-left-width: 1px;
  padding-left: 7px; }
.RadGridRTL_PAMS .rgPageFirst {
  background-position: 0 -1000px; }
  .RadGridRTL_PAMS .rgPageFirst:hover {
    background-position: 0 -1050px; }
.RadGridRTL_PAMS .rgPagePrev {
  background-position: 0 -850px; }
  .RadGridRTL_PAMS .rgPagePrev:hover {
    background-position: 0 -900px; }
.RadGridRTL_PAMS .rgPageNext {
  background-position: 0 -700px; }
  .RadGridRTL_PAMS .rgPageNext:hover {
    background-position: 0 -750px; }
.RadGridRTL_PAMS .rgPageLast {
  background-position: 0 -550px; }
  .RadGridRTL_PAMS .rgPageLast:hover {
    background-position: 0 -600px; }
.RadGridRTL_PAMS .rgExpand {
  background-position: -20px -496px; }

