.RadTagCloud {
  margin: 0;
  padding: 5px 5px 10px 5px;
  overflow: hidden; }
  .RadTagCloud .rtcTagList {
    list-style: none;
    margin: 0;
    padding: 0; }
  .RadTagCloud .rtcTagList .rtcTagItem {
    position: relative;
    display: inline-block;
    *display: inline;
    zoom: 1;
    padding: 3px; }
  .RadTagCloud .rtcTagList .rtcTagItem:hover {
    cursor: default; }
  .RadTagCloud .rtcTagList .rtcTagItem a {
    padding: 2px 4px; }
  .RadTagCloud .rtcTagList .rtcTagItem a,
  .RadTagCloud .rtcTagList .rtcTagItem a:hover {
    text-decoration: none; }

/* Right to Left Support */
.rtcRtl {
  text-align: right;
  direction: ltr; }

div.rtcRtl .rtcTagList .rtcTagItem {
  line-height: 100%; }

div.rtcRtl .rtcTagList .rtcTagItem span {
  float: left;
  *float: none; }

/* Disabled state - only Black skin has skin specific styles */
div.rtcDisabled .rtcTagList .rtcTagItem,
div.rtcDisabled .rtcTagList .rtcTagItem a {
  border: none !important;
  color: #ccc !important;
  cursor: text !important; }

div.rtcDisabled .rtcTagList .rtcTagItem:hover,
div.rtcDisabled .rtcTagList .rtcTagItem a:hover {
  background: none !important;
  border: none !important;
  text-decoration: none !important;
  color: #ccc !important; }

/* loading image styles */
div.rtcLoading {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  _background-image: none; }


.RadTagCloud_PAMS {
  border: 1px dotted #b8cbde;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  /* Loading image */ }
  .RadTagCloud_PAMS .rtcTagList .rtcTagItem {
    color: #749dd1; }
  .RadTagCloud_PAMS .rtcTagList .rtcTagItem:hover {
    color: #1e395b; }
  .RadTagCloud_PAMS .rtcTagList .rtcTagItem a {
    color: #1e395b;
    border: 1px solid transparent; }
  .RadTagCloud_PAMS .rtcTagList .rtcTagItem a:hover {
    color: #1e395b;
    background: #eef6ff;
    border: 1px solid #bdd9fb; }
  .RadTagCloud_PAMS.rtcLoading {
    background-image: url('Common/loading_small.gif'); }

