<configuration>
  <DataAccess>
    <Config>DataAccess\DataAccess.config</Config>
  </DataAccess>
  <pfm-lookup>
    <config>Lookup\lookup.json</config>
    <sql>Lookup\lookupSql.xml</sql>
  </pfm-lookup>
  <ApplicationConfig>
    <data>Configuration\Statements.xml</data>
  </ApplicationConfig>
  <FoldersToScanForModuleRegistration>
    <Config>Configuration\FoldersToScanForModuleRegistration.config</Config>
  </FoldersToScanForModuleRegistration>
  <AssembliesToScanForModuleRegistration>
    <Config>Configuration\AssembliesToScanForModuleRegistration.config</Config>
  </AssembliesToScanForModuleRegistration>
  <pfm-user-action>
    <sql>UserAction\UserActionSql.xml</sql>
  </pfm-user-action>
</configuration>
