<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="documentSettings"
             type="Platform.CrossCutting.Configuration.StorageProvider.FileStorageProvider.DocumentConfigSettings,Platform.CrossCutting.Configuration" />
    <section name="enterpriseLibrary.ConfigurationSource"
             type="Platform.CrossCutting.Configuration.StorageProvider.FileStorageProvider.PlatformSettings,Platform.CrossCutting.Configuration" />
  </configSections>
  <enterpriseLibrary.ConfigurationSource>
    <sources>
      <add name="Filebased" sourceType="file" sectionName="documentSettings" />
    </sources>
  </enterpriseLibrary.ConfigurationSource>
  <documentSettings>
    <documentMaps>
      <add name="sln" sourceDirectory="Y:\Technical\PlatformServices\Config" filePath="pfmDocumentMap.config" />
    </documentMaps>
  </documentSettings>
</configuration>


