<root>
  <connections>
    <connection name="Gems" connectionString="hGPuBs/X2CGVbhoboJhNT0FFuXlJk3ALxqsFJy7ppC5wTWsZbEWwIq9RZKiXq0bg3xd2Idmv0n9PsCeBA9nspyJ4BMU1QaTQ8nPGeIp751g=" provider="SqlClient" />
    <connection name="Common" connectionString="hGPuBs/X2CGVbhoboJhNT0FFuXlJk3ALxqsFJy7ppC5wTWsZbEWwIq9RZKiXq0bg3xd2Idmv0n9PsCeBA9nspyJ4BMU1QaTQ8nPGeIp751g=" provider="SqlClient" />
  </connections>
  <defaultConnection name="Gems" />
  <statements delimiter=";" />
  <!--<parameters maintainParamState="true" />-->
  <parameters metadata="true" />
</root>

