<root>
  <connections>
    <connection name="GEMS" connectionString="hGPuBs/X2CGVbhoboJhNT0FFuXlJk3ALxqsFJy7ppC5wTWsZbEWwIq9RZKiXq0bg3xd2Idmv0n9PsCeBA9nspyJ4BMU1QaTQ8nPGeIp751g=" provider="SqlClient"></connection>
    <connection name="Common" connectionString="hGPuBs/X2CGVbhoboJhNT0FFuXlJk3ALxqsFJy7ppC5wTWsZbEWwIq9RZKiXq0bg3xd2Idmv0n9PsCeBA9nspyJ4BMU1QaTQ8nPGeIp751g=" provider="SqlClient"></connection>
    <connection name="FLAG" connectionString="hGPuBs/X2CGVbhoboJhNT0FFuXlJk3ALxqsFJy7ppC4VeC3TX1R0Msy0CEkXRSoeC1D20NH5II7PJTaZiZ0R21B92oKsmJF/StBHYm2aiwE=" provider="SqlClient"></connection>
	<connection name="MAIL" connectionString="hGPuBs/X2CGVbhoboJhNT0FFuXlJk3ALxqsFJy7ppC5wTWsZbEWwIq9RZKiXq0bg3xd2Idmv0n9PsCeBA9nspyJ4BMU1QaTQ8nPGeIp751g=" provider="SqlClient"></connection>
  </connections>
  <defaultConnection name="GEMS" />
  <statements delimiter=";" />
  <parameters metadata="true" />
</root>

