<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <AssembliesToScanForModuleRegistration>
    <Config>IOC\AssembliesToScanForModuleRegistration.config</Config>
  </AssembliesToScanForModuleRegistration>
  <FoldersToScanForModuleRegistration>
      <Config>FoldersToScanForModuleRegistration.config</Config>  
  </FoldersToScanForModuleRegistration>  
 <customConfiguration>
    <config>customConfig.config</config>
  </customConfiguration>
  <Cache>
    <Config>Cache\Cache.config</Config>
  </Cache>
  <Logging>
	<Errors>
		<Config>Logging\fatal-errors.config</Config>
	</Errors>
  </Logging>
</configuration>