<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <default>
    <authorization>
      <location path="/" allowAnonymous="true">      
        <allow roleIds="*" />
      </location>
    </authorization>
    <layout visible="true" windowTitle="Welcome | Electronic Handbooks for Grantors" supportsClassicUI="false">
      <header visible="true" mode="Expand">
        <banner visible="true" homePagePath="http://www.hrsa.gov/" imagePath="~/Platform/Include/Skins/{0}/Images/hrsa_t_logo.png">
          <value>
            <![CDATA[<div id="logowrapper">
                                                        <div class="logo">
                                                            <a href="{0}" accesskey="h" target="_blank">
                                                                <img id="Img1" src="{1}"  alt="HRSA"  /></a>
                                                        </div>
                                                        <h1 class="title">
                                                            <a href="{0}" id="site-name">HRSA</a> Electronic Handbooks 
                                                        </h1>                                                        
                                                    </div>]]>
          </value>
        </banner>
       
        <topMenu visible="true" >
          <navigation navigationItemId="92B612FA-FB62-4133-9BD6-7ACD6B5F2BE9" markupID="menu1" displayValue="{0}/{1}" destination="#" description="" >
            <navigation navigationItemId="F8909BEA-856A-4CBF-B93A-65ECDAC94F19" markupID="diffUserSubMenu" displayValue="Login as Different User" destination="#" description="" parentID="92B612FA-FB62-4133-9BD6-7ACD6B5F2BE9"  />
            <navigation navigationItemId="2D5C6F02-9221-4825-A2DD-CB2B71D5772A" markupID="viewUpdateSubTab" displayValue="View/Update Profile" destination="#" description="" parentID="92B612FA-FB62-4133-9BD6-7ACD6B5F2BE9"  />
            <navigation navigationItemId="DE2BCE09-778A-4518-9C07-E4B063C5AC3A" markupID="changePasswdSubMenu" displayValue="Change Password" destination="#" description="" parentID="92B612FA-FB62-4133-9BD6-7ACD6B5F2BE9"  />
          </navigation>
          <navigation navigationItemId="08C13ACA-BA80-4041-B9DF-F862366E9A43" markupID="menu2" displayValue="Request Access" destination="#" description="Coming Soon " >
            <navigation navigationItemId="2368010D-98D6-4A3D-A3DB-E42701E05ED1" markupID="newAccountSubMenu" displayValue="New Account" destination="#" description="" parentID="08C13ACA-BA80-4041-B9DF-F862366E9A43"  />
            <navigation navigationItemId="9793E6BD-E7F4-4DB6-9B74-600F5447F66C" markupID="roleModSubMenu" displayValue="Role Modification" destination="#" description="" parentID="08C13ACA-BA80-4041-B9DF-F862366E9A43"  />
          </navigation>
          <navigation navigationItemId="AAC1F414-DCBC-41CA-A57E-1D21EE2296A3" markupID="menu3" displayValue="Support" destination="#" description="Coming Soon " >
            <navigation navigationItemId="B54D87F0-475C-4206-A0C1-FADEFE85E136" markupID="helpSubMenu" displayValue="Help" destination="#" description="Coming Soon " parentID="AAC1F414-DCBC-41CA-A57E-1D21EE2296A3"  />
            <navigation navigationItemId="376271A3-5681-48EA-A0D6-79875D15DE02" markupID="knwldegeBaseSubMenu" displayValue="Knowledge Base" destination="#" description="Coming Soon " parentID="AAC1F414-DCBC-41CA-A57E-1D21EE2296A3"  />
            <navigation navigationItemId="00FB5A5F-C5B9-4080-BF6A-CC7F129573F5" markupID="contactUsSubMenu" displayValue="Contact Us" destination="#" description="" parentID="AAC1F414-DCBC-41CA-A57E-1D21EE2296A3"  />
          </navigation>
          <navigation navigationItemId="FA980602-2237-4C77-A238-6162965A8A86" markupID="menu4" displayValue="Logout" destination="#" description="" />
        </topMenu>

        <globalSearch visible="false" />
        
        <contentTab currentMarkupId="homeTab" visible="true" >
          <navigation navigationItemId="8B42D4B6-8FB8-444F-AE81-4AE4FDD08BA8" markupID="homeTab" displayValue="Home" destination="#" description="Home" >
            <navigation navigationItemId="41429185-E0CC-4409-B015-6AC55D56B949" markupID="welcomeSubTab" displayValue="Welcome" destination="#" parentID="8B42D4B6-8FB8-444F-AE81-4AE4FDD08BA8" description="" />
            <navigation navigationItemId="C3C84FDE-D01B-426B-859F-601540D246C1" markupID="welcomeSubTab2" displayValue="Classic EHBs Home" destination="#" parentID="8B42D4B6-8FB8-444F-AE81-4AE4FDD08BA8"  description="" />
            <navigation navigationItemId="7A01951F-39C6-4995-BADB-9C5D8909986C" markupID="homeRecentlyAccessed" displayValue="Recently Accessed" destination="#" description="" parentID="8B42D4B6-8FB8-444F-AE81-4AE4FDD08BA8"  />
            <navigation navigationItemId="087E9512-2B1D-420F-903C-42DDF749938A" markupID="messageCenterTab" displayValue="Mail Center" destination="#" parentID="8B42D4B6-8FB8-444F-AE81-4AE4FDD08BA8" description="" />
            <navigation navigationItemId="35E4562B-7145-4ECD-8D76-8077FFD87A4A" markupID="calanderTab" displayValue="Calendar" destination="#" parentID="8B42D4B6-8FB8-444F-AE81-4AE4FDD08BA8"  description=""/>
            <navigation navigationItemId="553B1C51-5DD1-48A2-9C32-0C8A27F7F926" markupID="whatsNewSubTab" displayValue="What's New" destination="#" description="" parentID="8B42D4B6-8FB8-444F-AE81-4AE4FDD08BA8"  />
          </navigation>
          <navigation markupID="" navigationItemId="36BA90C7-4426-4EAA-B17E-00E419CBE408" displayValue="" destination="#" description=""  />
          <navigation navigationItemId="F83B02A4-32EB-45D1-A3BC-E488624587F4" markupID="tasksTab" displayValue="Tasks" destination="#" description="Work items for you" >
            <navigation navigationItemId="49CD78C0-9EC9-4D88-BF11-164C66B77436" markupID="browseTasksSubTab" displayValue="Browse" destination="#" description="Browse" parentID="F83B02A4-32EB-45D1-A3BC-E488624587F4"  />
          </navigation>
          <navigation navigationItemId="5058B077-6836-4DFC-9B0D-883D2F7AD854" markupID="activitiesTab" displayValue="Activities" destination="#" description="All other work processes" >
            <navigation navigationItemId="42F9A50D-3B8D-4742-85FC-519854FDD91F" markupID="activities_home" displayValue="Browse" destination="#" description="Browse the various activities you can do" parentID="5058B077-6836-4DFC-9B0D-883D2F7AD854"  />
          </navigation>
        </contentTab>

      </header>
      <leftMenu visible="true">
        <filter visible="true"/>
        <navigation destination="~/This is a try" navigationItemId="firstLinkId" description="this is a try" displayValue="First Link" markupID="firstLink">
          <navigation destination="~/This is a try" navigationItemId="secondLinkId" description="this is a try" displayValue="Second Link" markupID="secondLink" parentID="firstLinkId" >
            <navigation destination="~/This is a try" navigationItemId="thirdLinkId" description="this is a try" displayValue="Third Link" markupID="ThirdLink" parentID="secondLinkId" >

            </navigation>
          </navigation>
        </navigation>
        <navigation destination="~/This is a try" navigationItemId="firstLinkId" description="this is a try" displayValue="First Link" markupID="firstLink">
          <navigation destination="~/This is a try" navigationItemId="secondLinkId" description="this is a try" displayValue="Second Link" markupID="secondLink" parentID="firstLinkId" >
            <navigation destination="~/This is a try" navigationItemId="thirdLinkId" description="this is a try" displayValue="Third Link" markupID="ThirdLink" parentID="secondLinkId" >

            </navigation>
          </navigation>
        </navigation>
        <navigation destination="~/This is a try" navigationItemId="firstLinkId" description="this is a try" displayValue="First Link" markupID="firstLink">
          <navigation destination="~/This is a try" navigationItemId="secondLinkId" description="this is a try" displayValue="Second Link" markupID="secondLink" parentID="firstLinkId" >
            <navigation destination="~/This is a try" navigationItemId="thirdLinkId" description="this is a try" displayValue="Third Link" markupID="ThirdLink" parentID="secondLinkId" >

            </navigation>
          </navigation>
        </navigation>
        <navigation destination="~/This is a try" navigationItemId="firstLinkId" description="this is a try" displayValue="First Link" markupID="firstLink">
          <navigation destination="~/This is a try" navigationItemId="secondLinkId" description="this is a try" displayValue="Second Link" markupID="secondLink" parentID="firstLinkId" >
            <navigation destination="~/This is a try" navigationItemId="thirdLinkId" description="this is a try" displayValue="Third Link" markupID="ThirdLink" parentID="secondLinkId" >

            </navigation>
          </navigation>
        </navigation>
      </leftMenu>
      <footer visible= "true" solutionName="BRS" platformVersion = "4.9.55.0" solutionVersion = "" environment= "Development">
        <navigations>
           <navigation destination="{0}/Interface/Common/Policy.aspx" navigationItemId="PolicyLink" description="Acceptable Use Policy"  displayValue="Acceptable Use Policy" markupID="firstLink" parentID=""  />
          <navigation destination="{0}/Interface/Common/Accessibility.aspx" navigationItemId="AccessibilityLink" description="Accessibility" displayValue="Accessibility" markupID="secondLink" parentID=""  />
          <navigation destination="{0}/Interface/Common/Viewers.aspx" navigationItemId="ViewersAndPlayersLink" description="Viewers And Players" displayValue="Viewers And Players" markupID="fourthLink"  parentID=""/>
          <navigation destination="{0}/Interface/Common/ContactUs.aspx" navigationItemId="ContactUs" description="Contact Us" displayValue="Contact Us" markupID="fifthLink" parentID=""/>
        </navigations>
        <footerLogo  visible ="false" img1="~/Platform/Include/Skins/{0}/Images/hhs_small_logo.gif" img2="~/Platform/Include/Skins/{0}/Images/hrsa_small_logo.gif">
          <footerLogo>
            <![CDATA[
                   <div class="govlogos">
			                 <a href="http://www.hhs.gov" target="_blank">
                          <img id="Img1" runat="server" src="{0}" alt="HHS.gov" class="hhs" /></a> <a href="http://www.hrsa.gov" target="_blank">
                                  <img id="Img2" runat="server" src="{1}" alt="HRSA.gov" width="71" height="19" />
                       </a>
            </div>
                ]]>
          </footerLogo>
        </footerLogo>
      </footer>
      <toolBar visible="true" showCallout="false">
        <searchOptions visible="false" />
        <tickler visible="false"></tickler>
      </toolBar>
      <systemMessage visible="false"  useGlobal="false">
        <value>This is a System Message</value>
      </systemMessage>
      <systemAnnouncement visible="false" useGlobal="false">
        <value>System Announcement</value>
      </systemAnnouncement>
      <generalInformation visible="true">
        <value>
          <![CDATA[
                    <div class="sectionintro">
                    <h2>
                        <strong></strong>Getting Started with the Handbooks</h2>
                </div>
                <ul class="sectionwelcome">
                    <li><a href="#">Recommended Browser Settings</a></li>
                    <li><a href="#">User Interface Crosswalk</a></li>
                    <li><a href="#">Tour the Handbooks!</a></li>
                </ul>
                ]]>
        </value>
      </generalInformation>
      <breadCrumb visible="false" externalSystemDimensionCode="" externalSystemCode=""></breadCrumb>
      <pageTitle visible="false" />
      <cssOptions crunch="true" combine="true"/>
      <scriptOptions crunch="true" combine="true"/>
    </layout>
  </default>
  <pageGroup id="Module1">
    <layout visible="true" windowTitle="Welcome | Electronic Handbooks for Grantors">
      <header visible="true" mode="Expand">
        <banner visible="true" />
        <topMenu visible="true" />
        <globalSearch visible="true" />
        <contentTab visible="true" currentMarkupId="" />
      </header>
      <leftMenu visible="true" mode="Expand" currentMarkupId="" title="All Tasks">
        <filter visible="true" />
      </leftMenu>
      <footer visible="true">
      </footer>
      <toolBar visible="true">
      </toolBar>
      <instruction visible="true" >
        <![CDATA[ Default instruction is placed here. ]]>
      </instruction>
      <systemMessage visible="false">
        <value><![CDATA[ System message is placed here. ]]></value>
      </systemMessage>
      <generalInformation visible="false">
        <value><![CDATA[ General information is placed here. ]]></value>
      </generalInformation>
      <breadCrumb visible="false" externalSystemDimensionCode="" externalSystemCode=""></breadCrumb>

    </layout>
    <authorization>
      <location path="/Module1" allowAnonymous="true">
        <!-- '*' represents all roles. 
							If allow node does not exist, it means allow all roles except the ones specified in the deny node. 
							If deny node does not exist, it means deny all roles except the ones specified in the allow node.				
				<allow roleIds="*" />
				<deny roleIds="*" />							
				
        <deny roleIds="55,48" />
        <deny roleIds="3" />
        <allow roleIds="324,50" />
        <allow roleIds="*" />
        <allow roleIds="9" />
        <deny roleIds="55,48" />
        <deny roleIds="3" />
        <deny roleIds="55,48" />
        <deny roleIds="3" />
        <allow roleIds="*" />
        <allow roleIds="9" />
        <deny roleIds="3" />
        <allow roleIds="*" />
        <deny roleIds="3" />
        -->
       
      </location>
    </authorization>
  </pageGroup>
  <pageGroup id="contentPages">
    <layout>
      <pageTitle visible="true" imagePath="~/Platform/Include/Skins/EHB/Images/dashboard.png" >
        <value>
          <![CDATA[
                  <h2 class="main_title">
            <span>
                <img class="titleimg"  src="{0}">
                Task Summary Overview</span>
        </h2>
                ]]>
        </value>
      </pageTitle>
    </layout>
  </pageGroup>
  <pageGroup id="REI">
    <layout visible="false" windowTitle="Welcome to REI">
      <header visible="true" mode="Expand">
        <banner visible="true" />
        <userNavigation visible="true" />
        <globalSearch visible="true" />
        <globalNavigation visible="true" currentNavigationId="" />
      </header>
      <sideMenu visible="true" mode="Expand">
        <filter visible="true" />
        <localNavigation visible="true" currentNavigationId="" />
      </sideMenu>
      <footer visible="true">
      </footer>
      <instruction visible="true" mode="Expand">
        <![CDATA[ Default instruction is placed here. ]]>
      </instruction>
      <systemMessage visible="true">
        <value><![CDATA[ System message is placed here. ]]></value>
      </systemMessage>
      <generalInformation visible="false">
        <value><![CDATA[ General information is placed here. ]]></value>
      </generalInformation>

    </layout>
    <authorization>
      <location path="/Module1" allowAnonymous="true">
        <!-- '*' represents all roles. 
							If allow node does not exist, it means allow all roles except the ones specified in the deny node. 
							If deny node does not exist, it means deny all roles except the ones specified in the allow node.				
				<allow roleIds="*" />
				<deny roleIds="*" />							
				-->
        <deny roleIds="55,48" />
        <deny roleIds="3" />
        <allow roleIds="324,50" />
        <allow roleIds="*" />
        <allow roleIds="9" />
        <deny roleIds="55,48" />
        <deny roleIds="3" />
        <deny roleIds="55,48" />
        <deny roleIds="3" />
        <allow roleIds="*" />
        <allow roleIds="9" />
        <deny roleIds="3" />
        <allow roleIds="*" />
        <deny roleIds="3" />
        <allow roleIds="9" />
      </location>
    </authorization>
  </pageGroup>
</config>
