<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <AssembliesToScanForModuleRegistration>
    <Config>IOC\AssembliesToScanForModuleRegistration.config</Config>
  </AssembliesToScanForModuleRegistration>
  <DataAccess>
    <Config>DataAccess\DataAccess.xml</Config>
  </DataAccess>
  <SessionManagement>
    <SessionTimeOutConfig>AccessControl\SessionTimeOut.config</SessionTimeOutConfig>
    <CookieConfig>AccessControl\CookieConfig.config</CookieConfig>
  </SessionManagement>
  <messaging>
    <config>Messaging\messaging.xml</config>
    <data>Messaging\MessagingSql.xml</data>
  </messaging>
</configuration>

