<configuration> 
	<assemblies>
		<assembly name="CoreAccessControl" type="Platform.Foundation.Core.AccessControl,Version=4.7.0.0, Culture=neutral, PublicKeyToken=677fce62a3a80367" />
		<assembly name="CoreDataAccess" type="Platform.Foundation.Core.DataAccess,Version=4.7.0.0, Culture=neutral, PublicKeyToken=677fce62a3a80367" />
		<assembly name="FoundationCoreUtility" type="Platform.Foundation.Core.Utilities,Version=4.7.0.0, Culture=neutral, PublicKeyToken=677fce62a3a80367" />
		<assembly name="FoundationCoreEIS" type="Platform.Foundation.EIS,Version=4.7.0.0, Culture=neutral, PublicKeyToken=677fce62a3a80367" />
	</assemblies>
</configuration>


