<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
		<section name="enterpriseLibrary.ConfigurationSource" type="Platform.CrossCutting.Configuration.StorageProvider.FileStorageProvider.SourceSettings, Platform.CrossCutting.Configuration,Version=3.3.0.0,Culture=neutral,PublicKeyToken=677fce62a3a80367" />
		<!-- Platform Lite document management provider replacing "DefaultConfigProvider" commented out below -->
		<!--<section name="documentManagement" type="REISys.ApplicationUtilities.DocumentManagement.HRSAConfigProvider,REISys.PlatformLite.Core"/>-->
		<!-- this setting is moved "up" one level in the web.config that this web.confi inherits from  -->
		<!-- the nhibernateSettings section may not be needed here as we are switching to the new DA -->
		<section name="nhibernateSettings" type="ProjectBase.Data.NHibernateSessionMgmt.OpenSessionInViewSection, ProjectBase.Data" />
		<sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
			<sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
				<sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			</sectionGroup>
		</sectionGroup>
	</configSections>
	<enterpriseLibrary.ConfigurationSource enableCaching="false">
		<sources>
			<add name="platform" basePath="Y:\WorkSpace\HAB-Platformv4.21.5\Platform\v4.21.5\Config\Platform" sourceType="file" sectionName="documentSettings" filePath="PlatformSettings.config" />
		</sources>
	</enterpriseLibrary.ConfigurationSource>
	<appSettings>
		<!-- Schema file -->
		<add key="AdrClientXmlSchemaFile" value="Y:\WorkSpace\HAB-ADR\src\ADRSchema\AdrClientSchema.xsd" />
		<add key="AdrTargetNS" value="urn:adrNamespace" />
		<add key="applicationName" value="adrApp" />
		<add key="securityCookieName" value="Common_UserID" />
		<add key="securityCookieDomain" value="reisystems.com" />
		<add key="habDataSystemId" value="6" />
		<add key="ehbDataSystemID" value="56" />
		<add key="connectionStringKey" value="Adrdataconn" />
		<add key="habDbSchema" value="habAdmin" />
		<add key="realTimeValidation" value="false" />
		<add key="ehbLoginObjName" value="loginNode" />
		<add key="regLoginUrl" value="https://hsa-sbx-09.amer.reisystems.com/hab/RegloginApp/admin/login.aspx" />
		<add key="logoutUrl" value="UI/logout.aspx" />
		<add key="ehbExternalLoginUrl" value="https://hsa-sbx-09.amer.reisystems.com/2010/WebEPSExternal/login.aspx" />
		<add key="ehbInternalLoginUrl" value="https://hsa-sbx-09.amer.reisystems.com/2010/WebEPSInternal/login.aspx" />
		<add key="ehbHomeUrl" value="https://hsa-sbx-09.amer.reisystems.com/EAuthNS/internal/home/EHBHome" />
		<add key="disableCertificateCheck" value="true" />
		<add key="landingPage" value="~/UI/Inbox.aspx" />
		<!-- Support contact info -->
		<add key="hccEmail" value="brstest@smtpgw.reisys.com" />
		<!--hccEmailDisplayName is no longer set from web.config-->
		<!--<add key="hccEmailDisplayName" value="Bureau Reporting Systems (Do Not Reply)" />-->
		<add key="hccPhone" value="1-877-Go4-HRSA (1-877-464-4772)" />
		<add key="hccHours" value="Monday through Friday, 9:00 a.m. to 5:30 p.m. Eastern Time" />
		<add key="dataSupportPhone" value="1-888-640-9356" />
		<add key="dataSupportEmail" value="RyanWhiteDataSupport@wrma.com" />
		<add key="CAREWareHelpDeskEmail" value="cwhelp@jprog.com" />
		<add key="CAREWareHelpDeskPhone" value="1-877-294-3571" />
		<add key="CAREWareHelpDeskHours" value="12:00 - 5:00 PM EST, M-F" />
		<add key="AdminEmail" value="brstest@smtpgw.reisys.com" />
		<add key="AdminPhone" value="1-888-640-9356" />
		<add key="AdminHours" value="Monday through Friday, 9:00 a.m. to 5:30 p.m. Eastern Time" />
		<add key="AdminReportPath" value="/ADRReports/Admin Reports" />
		<add key="NumDaysLeftAlert" value="80" />
		<!-- Platform Lite settings -->
		<add key="CuteEditorDefaultFilesPath" value="~/Platform/CuteSoft_Client/CuteEditor" />
		<add key="Classic.Telerik.Skin" value="Vista" />
		<add key="Telerik.AsyncUpload.ConfigurationEncryptionKey" value="368E8B2225AD783532D24462F5651DA567DA3DD088A490FB8EB4A06F68F1A1BA105DA9BA403353801CAEAFB03105E9D7A6A89A3DC82CC79AE588D288E92132BF" />
		<add key="Telerik.Upload.ConfigurationHashKey" value="5831FBEB7AAF59D6711F7602AB98C19B09B37F024088AC5D83233BCCF3D7B6AB6B76BCD9AD206E1F5593B3BB746FB042D4D9B5AF1CEFA2C8D2DC137E7D45102D" />
		<add key="Telerik.Web.UI.DialogParametersEncryptionKey" value="4360A7A009931D42054A5F4196397A7100DA74AB7949388FC46BB5270F70579647BD79A03FD8978758CB6566DA98978DC304526863352EEB3AD50DD6B9F5F35E" />
		<add key="Telerik.Web.DisableAsyncUploadHandler" value="true" />
		<add key="New.Telerik.Skin" value="EHB" />
		<add key="Telerik.Skin" value="EHB" />
		<!-- log4net internal debugging -->
		<add key="log4net.Internal.Debug" value="true" />
		<add key="MaxCLDUploadFileCountInZip" value="1" />
		<add key="CleanupAfterCLDUpload" value="true" />
		<!--Email Service -->
		<add key="devCC" value="" />
		<add key="devBCC" value="" />
		<add key="devEmail" value="brstest@smtpgw.reisys.com" />
		<!--add key="SMTPServer" value="mailfwd.nih.gov"/-->
		<add key="SMTPServer" value="smtpgw.reisys.com" />
		<add key="SystemMessagePath" value="xml\SystemMessage.xml" />
		<add key="EmailTemplatePath" value="xml\Email.xml" />
		<add key="XmlCustomValidationPath" value="xml\CustomValidation.xml" />
		<add key="POGracePeriodDays" value="30" />
		<add key="GranteeGracePeriodDays" value="10" />
		<add key="BatchPrintFilePath" value="Y:\FileUpload" />
		<add key="UrlSanitizationConfig" value="Y:\WorkSpace\CAT-Infrastructure6_prod\Hrsa.Utils\src\QueryStringFields.xml" />
		<add key="FileUploadPath" value="Y:\FileUpload\ADR\" />
		<add key="SecurityKeyProvider" value="REISys.Security.DevKeyProvider,REISys.Security.KeyProvider" />
		<add key="environment" value="test" />
  </appSettings>
	<system.diagnostics>
		<!-- for log4net internal debugging logging -->
		<trace autoflush="true">
			<listeners>
				<add name="textWriterTraceListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="Y:\logs\Adr\log4net_internal.log" />
			</listeners>
		</trace>
	</system.diagnostics>
	<!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
	<system.web>
		<httpCookies httpOnlyCookies="true" requireSSL="true" />
		<compilation debug="true" targetFramework="4.7.2">
			<assemblies>
				<add assembly="REISys.Platform.Core" />
				<add assembly="REISys.Platform.Services" />
				<add assembly="REISys.Platform.Security" />
				<add assembly="REISys.Platform.Web" />
				<add assembly="REISys.Platform.Domain" />
				<add assembly="REISys.Platform.Web.UI" />
				<add assembly="REISys.Platform.Helper" />
				<add assembly="REISys.Platform.DataAccess" />
				<add assembly="REISys.Platform.EISEncapsulator" />
				<add assembly="REISys.Platform.Legacy.BusinessLogic" />
				<add assembly="REISys.Platform.Resources" />
				<add assembly="REISys.Security.KeyProvider" />
				<add assembly="Microsoft.AnalysisServices.AdomdClient" />
			</assemblies>
		</compilation>
		<pages controlRenderingCompatibilityVersion="4.0" enableViewStateMac="true">
			<controls>
				<add tagPrefix="rei" namespace="REISys.Platform.Web.UI.WebControls" assembly="REISys.Platform.Web" />
				<add tagPrefix="rei" namespace="REISys.Platform.Web.UI.UserControls" assembly="REISys.Platform.Web.UI" />
				<add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI" />
				<add src="~/Platform/UserControls/HelpLink/HelpLink.ascx" tagName="HelpLink" tagPrefix="rei" />
				<add src="~/Platform/UserControls/HelpLink/ManageHelpAssociation.ascx" tagName="SaveHelpLink" tagPrefix="rei" />
				<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add tagPrefix="rei" namespace="REISys.WebControls" assembly="REISys.Platform.Web" />
				<add tagPrefix="rei" namespace="REISys.WebControls.Validator" assembly="REISys.Platform.Web" />
				<add src="~/Platform/WebControls/Common/LargeTextControl.ascx" tagName="LargeTextControl" tagPrefix="rei" />
				<add src="~/Platform/WebControls/Address Validation/AddressManager.ascx" tagName="AddressManager" tagPrefix="rei" />
				<add src="~/Platform/WebControls/DocumentManager/DM_AttachmentProcessor.ascx" tagName="AttachmentProcessor" tagPrefix="rei" />
				<add src="~/Platform/WebControls/DocumentManager/AttachmentDetailsControls/DM_AttachmentList.ascx" tagName="AttachmentList" tagPrefix="rei" />
				<add src="~/Platform/WebControls/DocumentManager/AttachmentDetailsControls/DM_SingleAttachmentDetail.ascx" tagName="SingleAttachmentDetail" tagPrefix="rei" />
				<add src="~/Platform/WebControls/UserAction/UserActionList.ascx" tagName="UserActionList" tagPrefix="rei" />
				<add src="~/Platform/WebControls/Templates/TemplateManager.ascx" tagName="TemplateManager" tagPrefix="rei" />
				<add src="~/Platform/WebControls/Templates/TemplateList/TemplateList.ascx" tagName="TemplateList" tagPrefix="rei" />
				<add src="~/Platform/WebControls/Checklist/Checklist.ascx" tagName="Checklist" tagPrefix="rei" />
				<add src="~/Platform/WebControls/RichTextBox/RichTextBox.ascx" tagName="RichTextBox" tagPrefix="rei" />
				<add src="~/Platform/UserControls/RichTextBox/RichTextBoxView.ascx" tagName="RichTextBoxView" tagPrefix="rei" />
				<add src="~/Platform/WebControls/CommentManager/CommentManager.ascx" tagName="CommentManager" tagPrefix="rei" />
				<add src="~/Platform/UserControls/CommentManager/CommentManagerView.ascx" tagName="CommentManagerView" tagPrefix="rei" />
				<add src="~/Platform/UserControls/Layout/ContentTabs.ascx" tagName="ContentTabs" tagPrefix="rei" />
				<add src="~/Platform/UserControls/Layout/GlobalSearch.ascx" tagName="GlobalSearch" tagPrefix="rei" />
				<add src="~/Platform/UserControls/Layout/TopBannerClassic.ascx" tagName="TopBanner" tagPrefix="rei" />
				<add src="~/Platform/UserControls/Layout/Toolbar.ascx" tagName="Toolbar" tagPrefix="rei" />
				<add src="~/Platform/UserControls/Layout/Footer.ascx" tagName="Footer" tagPrefix="rei" />
				<add src="~/Platform/UserControls/Layout/GeneralInformation.ascx" tagName="GeneralInformation" tagPrefix="rei" />
				<add src="~/Platform/UserControls/Layout/LeftMenu.ascx" tagName="LeftMenu" tagPrefix="rei" />
				<add src="~/Platform/UserControls/Layout/BreadCrumb.ascx" tagName="BreadCrumb" tagPrefix="rei" />
				<add src="~/Platform/UserControls/DocumentManager/DocumentPurposeCodeGroup.ascx" tagName="DocumentPurposeCodeGroup" tagPrefix="rei" />
				<add src="~/Platform/UserControls/DocumentManager/DocumentRow.ascx" tagName="DocumentRow" tagPrefix="rei" />
				<add src="~/Platform/UserControls/DocumentManager/DocumentListView.ascx" tagName="DocumentListView" tagPrefix="rei" />
				<add src="~/Platform/UserControls/Assignment/UserRoleSelectorView.ascx" tagName="UserRoleSelector" tagPrefix="rei" />
				<add src="~/Platform/UserControls/Widget/Widget.ascx" tagName="Widget" tagPrefix="rei" />
				<add src="~/Platform/UserControls/Widgets/ItemsTrackingView.ascx" tagName="ItemsTrackingWidget" tagPrefix="rei" />
				<add src="~/Platform/UserControls/Widgets/RecentlyAccessedView.ascx" tagName="RecentlyAccessedWidget" tagPrefix="rei" />
				<add src="~/Platform/UserControls/Carousel/CarouselView.ascx" tagName="CarouselView" tagPrefix="rei" />
				<add src="~/Platform/UserControls/News/NewsDetailView.ascx" tagName="NewsDetailView" tagPrefix="rei" />
				<add src="~/Platform/UserControls/Toggler.ascx" tagName="REIToggler" tagPrefix="rei" />
				<add src="~/Platform/UserControls/UserAction/UserActionView.ascx" tagName="UserActionView" tagPrefix="rei" />
				<add src="~/Platform/UserControls/UserAction/UserLastCommentView.ascx" tagName="UserLastCommentView" tagPrefix="rei" />
				<add src="~/Platform/UserControls/Search/SearchPersistencePanel.ascx" tagName="SearchPersistencePanel" tagPrefix="rei" />
				<add src="~/Platform/UserControls/Messaging/EmailListView.ascx" tagName="EmailView" tagPrefix="rei" />
				<add src="~/Platform/UserControls/Messaging/EmailView.ascx" tagName="SendEmailView" tagPrefix="rei" />
				<add src="~/Platform/UserControls/GroupPanel/GroupPanelView.ascx" tagName="GroupPanelView" tagPrefix="rei" />
				<add src="~/Platform/UserControls/Issue/IssueProcessorView.ascx" tagName="IssueManager" tagPrefix="rei" />
				<add src="~/Platform/UserControls/Layout/ResourcesTabs.ascx" tagName="ResourcesTabs" tagPrefix="rei" />
				<add src="~/Platform/UserControls/Layout/ToolbarCallout.ascx" tagName="ToolbarCallout" tagPrefix="rei" />
			</controls>
			<namespaces>
				<add namespace="System.Linq" />
				<add namespace="REISys.Platform" />
			</namespaces>
		</pages>
		<httpHandlers>
			<!-- Platform Lite settings -->
			<add verb="*" path="*/Pages/*.aspx" type="System.Web.UI.PageHandlerFactory" />
			<add verb="*" path="*.uplx" type="System.Web.UI.PageHandlerFactory" />
			<add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false" />
			<add path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" validate="false" />
			<add path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" validate="false" />
			<add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false" />
			<add path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" validate="false" />
			<add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
			<!-- end Platform Lite settings -->
			<add verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
		</httpHandlers>
		<httpModules>
			<!-- Platform Lite settings -->
			<add name="WSFederationAuthenticationModule" type="REISys.Platform.Services.Authentication.PlatformWSFederationAuthenticationModule, REISys.Platform.Services" />
			<add name="SessionAuthenticationModule" type="REISys.Platform.Services.Authentication.PlatformWSSessionAuthentication, REISys.Platform.Services" />
			<add name="PlatformAuthenticationModule" type="REISys.Platform.Services.Authentication.PlatformAuthenticationModule" />
			<add name="PlatformSessionModule" type="REISys.Platform.Web.SessionState.PlatformSessionModule" />
			<add name="DocumentProviderContextModule" type="REISys.Platform.Services.Authentication.DocumentProviderContextModule" />
			<add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule,System.Web.Routing,Version=3.5.0.0,Culture=neutral,PublicKeyToken=31BF3856AD364E35" />
			<add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
			<add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule" />
			<add name="RadCompression" type="Telerik.Web.UI.RadCompression" />

			<add name="LazyNHWebSessionModule" type="Hrsa.DataAccess.NH.LazyNHWebSessionModule" />
		</httpModules>
		<!-- Platform Lite -->
		<machineKey validationKey="677086F2BBAE238E941B0F655FF3923617E5B973150840A5B63E905F284FAB6DC0E5B558769C203D712DA6668F998CD85CF6FC14356BB26BC95035AF9F8C2646" decryptionKey="99C2AFE90AD4A281619AEE597A298879C9F6B3775781EC0964A17BCE1E141162" validation="SHA1" decryption="AES" />
		<!-- Allow file uploads up to ~28MB(29296kb) in length-->
		<httpRuntime maxRequestLength="29296" targetFramework="4.7.2" />
		<sessionState timeout="30" />
		<customErrors mode="Off" />
	</system.web>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="bin" />
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.AnalysisServices.AdomdClient" publicKeyToken="89845dcd8080cc91" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Practices.Unity.Configuration" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Practices.Unity.Interception" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Practices.Unity.Interception.Configuration" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Platform.CrossCutting.Contracts" publicKeyToken="677fce62a3a80367" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Platform.CrossCutting.IOC" publicKeyToken="677fce62a3a80367" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Platform.CrossCutting.Configuration" publicKeyToken="677fce62a3a80367" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Platform.CrossCutting.ExceptionHandling" publicKeyToken="677fce62a3a80367" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Aspose.Cells" publicKeyToken="716fcc553a201e56" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.2.2.0" newVersion="7.2.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Aspose.Words" publicKeyToken="716fcc553a201e56" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-11.2.0.0" newVersion="11.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Rebex.Sftp" publicKeyToken="1c4638788972655d" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.4546.0" newVersion="3.0.4546.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Rebex.Common" publicKeyToken="1c4638788972655d" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.4546.0" newVersion="2.0.4546.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Rebex.Networking" publicKeyToken="1c4638788972655d" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.4546.0" newVersion="3.0.4546.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Platform.CrossCutting.Caching" publicKeyToken="677fce62a3a80367" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http.WebHost" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Moq" publicKeyToken="69f491c39445e920" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.1502.911" newVersion="4.2.1502.911" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Common" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Telerik.Web.UI" publicKeyToken="121fae78165ba3d4" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2021.2.511.35" newVersion="2021.2.511.35" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="HtmlSanitizationLibrary" publicKeyToken="d127efab8a9c114f" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="false">
			<!-- platform lite -->
			<add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule" preCondition="integratedMode,runtimeVersionv2.0" />
			<add name="RadCompression" type="Telerik.Web.UI.RadCompression" preCondition="integratedMode,runtimeVersionv2.0" />
			<add name="PlatformAuthenticationModule" type="REISys.Platform.Security.PlatformAuthenticationModule" preCondition="integratedMode,runtimeVersionv2.0" />
			<add name="PlatformSessionModule" type="REISys.Platform.Web.SessionState.PlatformSessionModule" preCondition="integratedMode,runtimeVersionv2.0" />
			<!-- we may not need this as we are moving to the new DA -->
			<add name="LazyNHWebSessionModule" type="Hrsa.DataAccess.NH.LazyNHWebSessionModule" preCondition="integratedMode,runtimeVersionv2.0" />
		</modules>
		<handlers>
			<!-- platform lite -->
			<add name="ChartImage_axd" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" preCondition="integratedMode,runtimeVersionv2.0" />
			<add name="Telerik_Web_UI_SpellCheckHandler_axd" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" preCondition="integratedMode,runtimeVersionv2.0" />
			<add name="Telerik_Web_UI_DialogHandler_aspx" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" preCondition="integratedMode,runtimeVersionv2.0" />
			<add name="Telerik_RadUploadProgressHandler_ashx" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" preCondition="integratedMode,runtimeVersionv2.0" />
			<add name="Telerik_Web_UI_WebResource_axd" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" preCondition="integratedMode,runtimeVersionv2.0" />
			<!--<add name="Shinkansen" verb="GET" path="Shinkansen.axd" type="Shinkansen.Runtime.StaticResourceHandler, Shinkansen" preCondition="integratedMode" />-->
			<add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
		</handlers>
		<defaultDocument>
			<files>
				<remove value="default.aspx" />
				<remove value="iisstart.htm" />
				<remove value="index.html" />
				<remove value="Default.asp" />
				<remove value="index.htm" />
				<remove value="Default.htm" />
				<add value="adr.aspx" />
			</files>
		</defaultDocument>
		<httpProtocol>
			<customHeaders>
				<!--<add name="Content-Security-Policy" value="frame-ancestors *.hrsa.gov" />-->
			</customHeaders>
		</httpProtocol>
		<urlCompression doDynamicCompression="false" />
	</system.webServer>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_IEisIntegrationService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="Transport">
						<transport clientCredentialType="None" proxyCredentialType="None" realm="" />
						<message clientCredentialType="Certificate" algorithmSuite="Default" />
					</security>
				</binding>
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="https://hsa-sbx-09.amer.reisystems.com/EhbGateway/EisIntegrationService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEisIntegrationService" contract="EhbGatewayService.IEisIntegrationService" name="BasicHttpBinding_IEisIntegrationService" />
		</client>
	</system.serviceModel>
</configuration>
