<?xml version="1.0"?>
<configuration>

  <configSections>
  <section name="documentManagement" type="REISys.ApplicationUtilities.DocumentManagement.HRSAConfigProvider,REISys.Platform.Core" />
    <section name="documentContextManagement" type="REISys.ApplicationUtilities.DocumentManagement.DocumentContextManagement,REISys.Platform.Core" />
    <section name="system.identityModel" type="System.IdentityModel.Configuration.SystemIdentityModelSection, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
    <section name="system.identityModel.services" type="System.IdentityModel.Services.Configuration.SystemIdentityModelServicesSection, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
    <section name="enterpriseLibrary.ConfigurationSource" type="Platform.CrossCutting.Configuration.StorageProvider.FileStorageProvider.SourceSettings, Platform.CrossCutting.Configuration,Version=1.5.0.0,Culture=neutral,PublicKeyToken=677fce62a3a80367" />
  </configSections>
  <documentContextManagement disableCaching="true">
    <documentManagement isDefault="true" contextCode="1" configDirectory="Y:\WorkSpace\HAB-Platformv4.9.55\Platform\v4.9.55\PLConfig_External\Config\" environmentConfigFile="Interface\WebExternalConfig.xml">
      <fileName documentMap="Platform\DocumentMap.xml" />
      <fileName documentMap="ExternalSolutionDocumentMap.xml" />
    </documentManagement>
    <documentManagement contextCode="9" configDirectory="Y:\WorkSpace\HAB-Platformv4.9.55\Platform\v4.9.55\PLConfig_External\Config\" environmentConfigFile="Interface\WebProviderConfig.xml">
      <fileName documentMap="Platform\DocumentMap.xml" />
      <fileName documentMap="ExternalSolutionDocumentMap.xml" />
    </documentManagement>
  </documentContextManagement>
  <enterpriseLibrary.ConfigurationSource enableCaching="false">
    <sources>
      <add name="platform" basePath="Y:\WorkSpace\HAB-Platformv4.9.55\Platform\v4.9.55\PLConfig_External\Config\Platform" sourceType="file" sectionName="documentSettings" filePath="PlatformSettings.config" />
    </sources>
  </enterpriseLibrary.ConfigurationSource>
</configuration>
