<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Error"
      internalLogToConsole="true"
      internalLogToConsoleError="true"
      internalLogFile="Y:\logs\internal-nlog.log">
      <variable name="basePath" value="C:\temp\logs" /> 
      <variable name="connectionString" value="Change Me" /> 
  <targets >
    <target xsi:type="File" 
      name="TextFileLogger"  
      fileName="${var:basePath}\text\error-${shortdate}.log"
      layout="${longdate}|${event-properties:item=EventId.Id}|${event-properties:item=ErrorId}|${logger}|${uppercase:${level}}|${processid}|${processname}|${processtime}|${windows-identity}|${machinename}${newline}${message}${newline}${exception}" >
    </target> 
    <target xsi:type="File" 
      name="JsonFileLogger" 
      fileName="${var:basePath}\json\error-${shortdate}.json">
      <layout xsi:type="JsonLayout">
        <attribute name="timestamp" layout="${longdate}"/>
        <attribute name="eventId" layout="${event-properties:item=EventId.Id}"/>
        <attribute name="errorId" layout="${event-properties:item=errorId}"/>
        <attribute name="logger" layout="${logger}" />
        <attribute name="processid" layout="${processid}" />
        <attribute name="processname" layout="${processname}" />  
        <attribute name="processtime" layout="${processtime}" />
        <attribute name="windows-identity" layout="${windows-identity}" />
        <attribute name="machinename" layout="${machinename}" />
        <attribute name="level" layout="${level:uppercase=true}"/>
        <attribute name="messages" layout="${message}" />
        <attribute name="exception" layout="${exception:format=tostring}}" />
        <attribute name="stacktrace" layout="${exception:format=ToString,StackTrace}" />
      </layout>
    </target> 
    <target xsi:type="Database"
      name="DBLogger"  
      dbProvider="System.Data.SqlClient"   
      commandType="Text"  
      connectionString="${var:connectionString}"
      commandText="INSERT into [Audit] (AuditId, EventTypeCode, SuccessFlag, Server, MethodName, EventDatetime, LogDatetime, description) values (newid(), @eventTypeCode, @successFlag, @machinename,left(@logger, 199),getdate(), getdate(), left(@description, 7999))">
      <parameter name="@machinename" layout="${machinename}" />
      <parameter name="@logger" layout="${logger}" />
      <parameter name="eventTypeCode" layout="${event-properties:item=EventTypeCode}" />
	  <parameter name="successFlag" layout="${event-properties:item=SuccessFlag}" />
      <parameter name="@description" >
        <layout xsi:type="JsonLayout">
        
        <attribute name="timestamp" layout="${longdate}"/>
        <attribute name="eventId" layout="${event-properties:item=EventId.Id}"/>
        <attribute name="errorId" layout="${event-properties:item=errorId}"/>
        <attribute name="logger" layout="${logger}" />
        <attribute name="processid" layout="${processid}" />
        <attribute name="processname" layout="${processname}" />  
        <attribute name="processtime" layout="${processtime}" />
        <attribute name="windows-identity" layout="${windows-identity}" />
        <attribute name="machinename" layout="${machinename}" />
        <attribute name="level" layout="${level:uppercase=true}"/>
        <attribute name="messages" layout="${message}" />
        </layout>
      </parameter>
    </target>
    <target xsi:type="ExtendedEventTracing"
      name="EtwLogger">
      <layout xsi:type="JsonLayout">
        <attribute name="timestamp" layout="${longdate}"/>
        <attribute name="eventId" layout="${event-properties:item=EventId.Id}"/>
        <attribute name="errorId" layout="${event-properties:item=errorId}"/>
        <attribute name="logger" layout="${logger}" />
        <attribute name="processid" layout="${processid}" />
        <attribute name="processname" layout="${processname}" />        
        <attribute name="processtime" layout="${processtime}" />
        <attribute name="windows-identity" layout="${windows-identity}" />
        <attribute name="machinename" layout="${machinename}" />
        <attribute name="level" layout="${level:uppercase=true}"/>
        <attribute name="messages" layout="${message}" />
        <attribute name="exception" layout="${exception:format=tostring}}" />
        <attribute name="stacktrace" layout="${exception:format=ToString,StackTrace}" />       
      </layout>
    </target>
    <target xsi:type="Null" name="blackhole" />   
  </targets>

  <rules>
    <logger name="*" levels="Warn, Error, Fatal" writeTo="JsonFileLogger" />
    <logger name="*" levels="Warn, Error, Fatal" writeTo="TextFileLogger" />
    <logger name="AUDIT.*" levels="Info" writeTo="DBLogger" />
    <logger name="*"  levels="Trace, Debug, Info, Warn, Error, Fatal" writeTo="EtwLogger" />
  </rules>
</nlog>