<configuration>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
    <diagnostics wmiProviderEnabled="true">
      <messageLogging logEntireMessage="true" logKnownPii="true" logMalformedMessages="true"
        logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true"
        maxMessagesToLog="500000" maxSizeOfMessageToLog="500000" />
      <endToEndTracing propagateActivity="true" activityTracing="true"
        messageFlowTracing="true" />
    </diagnostics>
    <bindings>
      <webHttpBinding>
        <binding name="httpBinding">
          <security mode="None">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
        <binding name="httpsBinding">
          <security mode="Transport">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="EndpointBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <!--Http-->
          <serviceMetadata httpGetEnabled="false" />
          <!--HTTPS-->
          <!--<serviceMetadata httpsGetEnabled="true" />-->
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceAuthorization impersonateCallerForAllOperations="false" />
          <serviceThrottling maxConcurrentCalls="32" maxConcurrentSessions="200"
            maxConcurrentInstances="232" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="ServiceBehavior" name="REISys.Platform.Services.UrlService.UrlServiceJWS">

        <endpoint behaviorConfiguration="EndpointBehavior" binding="webHttpBinding" bindingConfiguration="httpBinding"
              name="UrlService"
             contract="REISys.Platform.Services.IUrlJService" />
      </service>
    </services>
  </system.serviceModel>
</configuration>