<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>

    <diagnostics wmiProviderEnabled="true">
      <messageLogging logEntireMessage="true" logMalformedMessages="true"
        logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true"
        maxMessagesToLog="500000" maxSizeOfMessageToLog="500000" />
    </diagnostics>

    <behaviors>
      <endpointBehaviors>
        <behavior name="EndpointBehavior">
          <dataContractSerializer />
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpsBindingConfig" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="65536" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName" />
          </security>
        </binding>

        <binding name="BasicHttpBindingConfig" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="65536" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None" />
        </binding>
      </basicHttpBinding>

      <customBinding>
        <binding name="JsonBindingConfig">
          <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
            messageVersion="Soap12" writeEncoding="utf-8">
            <readerQuotas maxDepth="32" maxStringContentLength="65536" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          </textMessageEncoding>
        </binding>
      </customBinding>

      <netTcpBinding>
        <binding name="NetTcpBindingConfig">
          <readerQuotas maxStringContentLength="65536" />
        </binding>
      </netTcpBinding>

      <wsHttpBinding>
        <binding name="wsHttpBindingConfig">
          <readerQuotas maxStringContentLength="65536" />
        </binding>
        <binding name="wsHttpsBindingConfig">
          <readerQuotas maxStringContentLength="65536" />
        </binding>
      </wsHttpBinding>
    </bindings>

    <client>
      <endpoint address="RecentlyAccessedWebService.svc" behaviorConfiguration="EndpointBehavior"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpsBindingConfig"
        contract="REISys.Platform.Services.RecentlyAccessed.IRecentlyAccessedService"
        name="BasicHttpsEndpoint" />
      
      <endpoint address="RecentlyAccessedWebService.svc" behaviorConfiguration="EndpointBehavior"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBindingConfig"
        contract="REISys.Platform.Services.RecentlyAccessed.IRecentlyAccessedService"
        name="BasicHttpEndpoint" />
      
      <endpoint address="RecentlyAccessedWebService.svc" behaviorConfiguration="EndpointBehavior"
        binding="netTcpBinding" bindingConfiguration="NetTcpBindingConfig"
        contract="REISys.Platform.Services.RecentlyAccessed.IRecentlyAccessedService"
        name="NetTcpEndpoint" />

      <endpoint address="RecentlyAccessedWebService.svc" behaviorConfiguration="EndpointBehavior"
        binding="customBinding" bindingConfiguration="JsonBindingConfig"
        contract="REISys.Platform.Services.RecentlyAccessed.IRecentlyAccessedService"
        name="JsonEndpoint" />

      <endpoint address="RecentlyAccessedWebService.svc"
        behaviorConfiguration="EndpointBehavior" binding="wsHttpBinding"
        bindingConfiguration="wsHttpBindingConfig" 
        contract="REISys.Platform.Services.RecentlyAccessed.IRecentlyAccessedService"
        name="wsHttpEndpoint" />

      <endpoint address="RecentlyAccessedWebService.svc"
        behaviorConfiguration="EndpointBehavior" binding="wsHttpBinding"
        bindingConfiguration="wsHttpsBindingConfig" 
        contract="REISys.Platform.Services.RecentlyAccessed.IRecentlyAccessedService"
        name="wsHttpsEndpoint" />
    </client>

  </system.serviceModel>
</configuration>