<root>
  <connections>
    <connection name="Gems"hGPuBs/X2CGVbhoboJhNT41W79m+3L/0hnpG//gHH8+CS+d3CE3IqmwDNOTOdv7qo7IGwjRTbVoXJ/qvbO62Fyjfw+QzHmqBIYOt2h4mIAw=" provider="SqlClient" />
   <connection name="Common" connectionString="hGPuBs/X2CGVbhoboJhNT41W79m+3L/0hnpG//gHH8+CS+d3CE3IqmwDNOTOdv7qo7IGwjRTbVoXJ/qvbO62Fyjfw+QzHmqBIYOt2h4mIAw=" provider="SqlClient" />
  </connections>
  <defaultConnection name="Gems" />
  <statements delimiter=";" />
  <!--<parameters maintainParamState="true" />-->
  <parameters metadata="true" />
</root>