<configuration>
  <system.serviceModel>
    <diagnostics wmiProviderEnabled="true">
      <messageLogging logMalformedMessages="true" logMessagesAtTransportLevel="true" />
    </diagnostics>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpsBindingConfig" maxReceivedMessageSize="150000000" >
          <readerQuotas maxStringContentLength="2147483647" />
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBindingConfig"  maxReceivedMessageSize="150000000" >
          <readerQuotas maxStringContentLength="2147483647" />
          <security mode="None" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="EndpointBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="false"  httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceAuthorization impersonateCallerForAllOperations="false" />
          <serviceThrottling maxConcurrentCalls="32" maxConcurrentSessions="200"
           maxConcurrentInstances="232" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          <!--<coreFaultBehavior />-->
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <!--<add name="coreFaultBehavior" type="REISys.Platform.Services.FaultManagement.CoreFaultBehavior, REISys.Platform.Services, Version=2.20.2.6, Culture=neutral, PublicKeyToken=null"/>-->
      </behaviorExtensions>
    </extensions>
    <client>
      <endpoint address="CorePredefinedPageId://518AEADC-ECCB-4DD2-957A-0847A61EACE4"  behaviorConfiguration="EndpointBehavior"
      binding="basicHttpBinding" bindingConfiguration="BasicHttpsBindingConfig"
      contract="REISys.Platform.Domain.Repositories.SearchList.ICustomizableSearchList"
      name="BasicHttpsEndpoint" >
      </endpoint>
      <!--<endpoint address="CorePredefinedPageId://518AEADC-ECCB-4DD2-957A-0847A61EACE4"  behaviorConfiguration="EndpointBehavior"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBindingConfig"
        contract="REISys.Platform.Domain.Repositories.SearchList.ICustomizableSearchList"
        name="BasicHttpEndpoint" >
      </endpoint>-->

    </client>
  </system.serviceModel>
</configuration>