<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="documentManagement" type="REISys.ApplicationUtilities.DocumentManagement.HRSAConfigProvider,REISys.Platform.Core"/>
		<section name="enterpriseLibrary.ConfigurationSource" type="Platform.CrossCutting.Configuration.StorageProvider.FileStorageProvider.SourceSettings, Platform.CrossCutting.Configuration,Version=3.3.0.0,Culture=neutral,PublicKeyToken=677fce62a3a80367"/>
		<section name="nhibernateSettings" type="ProjectBase.Data.NHibernateSessionMgmt.OpenSessionInViewSection, ProjectBase.Data" />
	</configSections>
	<documentManagement configDirectory="Y:\WorkSpace\HAB-Platformv4.18.10\Platform\v4.18.10\PLConfig_External\Config\" environmentConfigFile="Interface\WebExternalConfig.xml">
            <fileName documentMap="Platform\DocumentMap.xml"/>
            <fileName documentMap="HIVQMAsyncDocumentMap.xml"/>
      </documentManagement>	  	  
	<enterpriseLibrary.ConfigurationSource enableCaching="false">
		<sources>
			<add name="defaultSource" sourceType="file" basePath="Y:\WorkSpace\HAB-Platformv4.18.10\Platform\v4.18.10\Config\Platform" filePath="generic-default.config"/>
		</sources>
	</enterpriseLibrary.ConfigurationSource>
  <!--  <connectionStrings>
    <add name="habwebdataconn" connectionString="hGPuBs/X2CGVbhoboJhNT41W79m+3L/0hnpG//gHH88M5d7w7F99w+NSCS9PBwp5txjsRlkZuEgIAh+M5MEWPQS9Ni45juJjCTadsl74IKuxL3m8csPfCpzNdVypfxxv" providerName="System.Data.EntityClient" />
  </connectionStrings> -->
  <appSettings>
    <add key="habwebdataconn" value="hGPuBs/X2CGVbhoboJhNT41W79m+3L/0hnpG//gHH88M5d7w7F99w+NSCS9PBwp5txjsRlkZuEgIAh+M5MEWPQS9Ni45juJjCTadsl74IKuxL3m8csPfCpzNdVypfxxv" />
    <!-- Parameters for GEMS-->
    <add key="connectionStringKey" value="habwebdataconn" />
    <add key="habDataSystemId" value="5" />
    <add key="ehbDataSystemID" value="16" /> 
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="SecurityKeyProvider" value="REISys.Security.DevKeyProvider,REISys.Security.KeyProvider"/>
    <add key="logPath" value="#{hivqmAsync_logPath}" />
	<add key="FileUploadPath" value="\\hsa-sbx-09\UploadedFiles\HIVQM\" />
	<add key="environment" value="test" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity.Interception" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Platform.CrossCutting.Contracts" publicKeyToken="677fce62a3a80367" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Platform.CrossCutting.Configuration" publicKeyToken="677fce62a3a80367" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Platform.CrossCutting.ExceptionHandling" publicKeyToken="677fce62a3a80367" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Platform.CrossCutting.IOC" publicKeyToken="677fce62a3a80367" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Platform.Foundation.DataAccess" publicKeyToken="677fce62a3a80367" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.8.0.0" newVersion="4.8.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Platform.Foundation.Contracts" publicKeyToken="677fce62a3a80367" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.8.0.0" newVersion="4.8.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AnalysisServices.AdomdClient" culture="neutral" publicKeyToken="89845dcd8080cc91" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.10" newVersion="6.0.0.10" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory.Data" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.1" newVersion="6.0.0.1" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="HtmlSanitizationLibrary" publicKeyToken="d127efab8a9c114f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup>
<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  </configuration>
