<configuration> 
	<assemblies>
		<assembly name="Core2DataAccess" type="Platform.FoundationCore.DataAccess, Version=2.3.0.0, Culture=neutral" />
		<assembly name="Core2Identity" type="Platform.FoundationCore.Identity, Version=2.3.0.0, Culture=neutral" />
		<assembly name="Core2Services" type="Platform.FoundationCore.Services, Version=2.3.0.0, Culture=neutral" />
		<assembly name="Core2WebBase" type="Platform.FoundationCore.WebBase, Version=2.3.0.0, Culture=neutral" />
	</assemblies>
</configuration>
