<configuration> 
	<assemblies>
		<assembly name="CoreAccessControl" type="Platform.Foundation.Core.AccessControl,Version=2.3.0.0, Culture=neutral" />
		<assembly name="CoreDataAccess" type="Platform.Foundation.Core.DataAccess,Version=2.3.0.0, Culture=neutral" />
		<assembly name="FoundationCoreUtility" type="Platform.Foundation.Core.Utilities,Version=2.3.0.0, Culture=neutral" />
		<assembly name="FoundationCoreEIS" type="Platform.Foundation.EIS,Version=2.3.0.0, Culture=neutral" />
	</assemblies>
</configuration>
