<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="enterpriseLibrary.ConfigurationSource" type="Platform.CrossCutting.Configuration.StorageProvider.FileStorageProvider.SourceSettings,Platform.CrossCutting.Configuration,Version=3.0.0.0,Culture=neutral,PublicKeyToken=677fce62a3a80367" />
  </configSections>
  <enterpriseLibrary.ConfigurationSource>
    <sources>
      <add name="foundation" basePath="Y:\Foundation\4.1\Config\" sourceType="file" sectionName="documentSettings"
           filePath="foundationSettings.config"/>
      <add name="crossCutting" basePath="Y:\CrossCutting\3.0\Config\" sourceType="file" sectionName="documentSettings"
           filePath="crossCuttingSettings.config"/>
    </sources>
  </enterpriseLibrary.ConfigurationSource>
</configuration>

