/* PanelBar base css */
.RadPanelBar {
  width: 250px;
  text-align: left; }

.RadPanelBar_rtl {
  text-align: right; }

.RadPanelBar .rpRootGroup {
  border-width: 1px;
  border-style: solid; }

.RadPanelBar .rpRootGroup,
.RadPanelBar .rpGroup,
.RadPanelBar .rpItem {
  margin: 0;
  padding: 0;
  list-style-position: outside;
  list-style: none; }

.RadPanelBar .rpSlide {
  position: static;
  float: none;
  height: auto;
  overflow: hidden;
  display: none;
  zoom: 1; }

.RadPanelBar .rpItem {
  float: none;
  display: block;
  overflow: hidden;
  position: static; }

* html .RadPanelBar .rpItem {
  display: inline; }

* html .RadPanelBar .rpSeparator {
  display: block; }

* html .RadPanelBar .rpGroup .rpItem {
  display: block; }

.RadPanelBar .rpItem:after,
.RadPanelBar .rpText:after,
.RadPanelBar .rpTemplate:after {
  content: "";
  display: block;
  height: 0;
  line-height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden; }

.RadPanelBar .rpLink {
  cursor: pointer;
  text-decoration: none;
  overflow: hidden;
  background-repeat: repeat-x;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  zoom: 1; }

.RadPanelBar .rpLink:focus {
  outline: 0 none; }

.RadPanelBar .rpLink,
.RadPanelBar .rpOut,
.RadPanelBar .rpText {
  display: block; }

* + html .RadPanelBar .rpItem {
  display: inline; }

* + html .RadPanelBar .rpGroup .rpItem {
  display: block; }

* + html .RadPanelBar .rpSeparator {
  display: block; }

.RadPanelBar .rpHeaderTemplate,
.RadPanelBar .rpOut {
  border-bottom-style: solid;
  border-bottom-width: 1px; }

.RadPanelBar .rpHeaderTemplate {
  line-height: 25px; }

* html .RadPanelBar .rpHeaderTemplate {
  height: 25px; }

.RadPanelBar .rpFocused .rpOut,
.RadPanelBar a.rpLink:hover .rpOut,
.RadPanelBar .rpSelected .rpOut,
.RadPanelBar a.rpSelected:hover .rpOut {
  border-bottom-width: 0;
  padding-bottom: 1px; }

.RadPanelBar a.rpDisabled:hover .rpOut {
  padding-bottom: 0;
  border-bottom-width: 1px; }

.RadPanelBar .rpImage {
  float: left;
  border: 0;
  vertical-align: middle;
  padding: 4px 3px 3px; }

.RadPanelBar_rtl .rpImage {
  float: right; }

* html .RadPanelBar .rpImage {
  padding-bottom: 4px; }

.RadPanelBar .rpText {
  padding: 0 10px; }

/* <sub items> */
.RadPanelBar .rpGroup {
  overflow: auto;
  overflow-x: hidden; }

.RadPanelBar .rpGroup .rpLink,
.RadPanelBar .rpGroup .rpTemplate {
  background-color: transparent;
  border-bottom: 0;
  font-size: 12px;
  line-height: 22px; }

.RadPanelBar .rpGroup a.rpLink:hover {
  border-bottom: 0; }

.RadPanelBar .rpGroup .rpLink .rpOut,
.RadPanelBar .rpGroup .rpExpanded .rpOut,
.RadPanelBar .rpGroup .rpSelected .rpOut,
.RadPanelBar .rpGroup a.rpLink:hover .rpOut,
.RadPanelBar .rpGroup a.rpExpanded:hover .rpOut,
.RadPanelBar .rpGroup a.rpSelected:hover .rpOut {
  padding-bottom: 0; }

.RadPanelBar .rpGroup a.rpDisabled:hover .rpOut {
  border-bottom: 0; }

.RadPanelBar .rpGroup .rpOut {
  border-bottom: 0;
  margin-right: 3px; }

.RadPanelBar .rpGroup .rpImage {
  padding: 3px 3px 3px 9px; }

/* </sub items> */
/* <level indentation> */
.RadPanelBar .rpLevel2 .rpTemplate,
.RadPanelBar .rpLevel2 .rpOut {
  padding-left: 15px; }

.RadPanelBar .rpLevel3 .rpTemplate,
.RadPanelBar .rpLevel3 .rpOut {
  padding-left: 30px; }

/*      <rtl> */
.RadPanelBar_rtl .rpLevel2 .rpTemplate,
.RadPanelBar_rtl .rpLevel2 .rpOut {
  padding-left: 0;
  padding-right: 15px; }

.RadPanelBar_rtl .rpLevel3 .rpTemplate,
.RadPanelBar_rtl .rpLevel3 .rpOut {
  padding-left: 0;
  padding-right: 30px; }

/*      </rtl> */
/* </level indentation> */
.RadPanelBar .rpLevel1 .rpFirst {
  padding-top: 1px;
  zoom: 1; }

.RadPanelBar .rpLevel2 .rpItem {
  padding-top: 0; }

.RadPanelBar .rpLevel1 .rpLast {
  padding-bottom: 1px; }

.RadPanelBar .rpLevel2 .rpItem {
  padding-bottom: 0; }

.RadPanelBar .rpExpandable .rpExpandHandle,
.RadPanelBar .rpExpanded .rpExpandHandle {
  display: block;
  float: right;
  height: 15px;
  width: 15px;
  margin: 5px 5px 0 0; }

.RadPanelBar .rpGroup .rpExpanded .rpExpandHandle,
.RadPanelBar .rpGroup .rpExpandable .rpExpandHandle {
  margin: 4px 2px 0 0; }

.RadPanelBar_rtl .rpExpandable .rpExpandHandle,
.RadPanelBar_rtl .rpExpanded .rpExpandHandle {
  float: left;
  margin: 5px 0 0 5px; }

.RadPanelBar_rtl .rpGroup .rpExpanded .rpExpandHandle,
.RadPanelBar_rtl .rpGroup .rpExpandable .rpExpandHandle {
  margin: 4px 0 0 5px; }

@media print {
  .RadPanelBar div.rpSlide,
  .RadPanelBar li.rpItem,
  .RadPanelBar a.rpLink {
    overflow: visible; }

  .RadPanelBar ul.rpGroup {
    overflow: visible !important; } }



.RadPanelBar_EPM {
  background: #fff; }

.RadPanelBar_EPM .rpRootGroup {
  border-color: #a5b3c5; }

.RadPanelBar_EPM a.rpLink,
.RadPanelBar_EPM .rpTemplate,
.RadPanelBar_EPM div.rpHeaderTemplate {
  color: #000;
  font: normal 12px/24px "Segoe UI", Arial, sans-serif; }

.RadPanelBar_EPM a.rpLink,
.RadPanelBar_EPM div.rpHeaderTemplate {
  background-image: url('PanelBar/RootItemBg.png'); }

.RadPanelBar_EPM div.rpHeaderTemplate,
.RadPanelBar_EPM .rpOut {
  border-color: #cddaea; }

.RadPanelBar_EPM a.rpLink,
.RadPanelBar_EPM div.rpHeaderTemplate {
  background-color: #a6d9f4;
  border-color: #abbdd5; }

.RadPanelBar_EPM a.rpExpanded,
.RadPanelBar_EPM div.rpExpanded {
  border-color: #abbdd5; }

.RadPanelBar_EPM a.rpSelected,
.RadPanelBar_EPM div.rpSelected,
.RadPanelBar_EPM a.rpSelected:hover {
  background-color: #cfdced;
  border-color: #c2cedb; }

/* <disabled items> */
.RadPanelBar_EPM a.rpDisabled,
.RadPanelBar_EPM div.rpDisabled,
.RadPanelBar_EPM a.rpDisabled:hover {
  color: #bbb; }

div.RadPanelBar_EPM a.rpDisabled:hover .rpOut {
  border-bottom: 1px solid #cddaea;
  padding-bottom: 0; }

/* </disabled items> */
/* <subitems> */
.RadPanelBar_EPM .rpGroup {
  background-color: #fff; }

.RadPanelBar_EPM .rpGroup a.rpLink,
.RadPanelBar_EPM .rpGroup div.rpHeaderTemplate,
.RadPanelBar_EPM .rpGroup .rpTemplate {
  color: #000;
  background-color: transparent;
  background-image: none; }

.RadPanelBar_EPM .rpGroup a.rpLink:hover {
  color: #000; }

.RadPanelBar_EPM .rpGroup a.rpLink,
.RadPanelBar_EPM .rpGroup .rpOut {
  background-color: transparent;
  background-image: url('PanelBar/SubItemStates.png');
  background-repeat: no-repeat; }

/* <subitems (disabled)> */
.RadPanelBar_EPM ul.rpGroup .rpDisabled,
.RadPanelBar_EPM .rpGroup a.rpDisabled:hover,
.RadPanelBar_EPM .rpGroup a.rpDisabled:hover .rpOut {
  background-image: none; }

.RadPanelBar_EPM ul.rpGroup .rpDisabled,
.RadPanelBar_EPM .rpGroup a.rpDisabled:hover {
  color: #bbb;
  text-decoration: none;
  background-color: #fff; }

/* </subitems (disabled)> */
/* <subitems> */
/* <background positioning> */
.RadPanelBar_EPM a.rpFocused,
.RadPanelBar_EPM div.rpFocused,
.RadPanelBar_EPM a.rpLink:hover,
.RadPanelBar_EPM a.rpExpanded:hover {
  background-position: 0 -200px; }

.RadPanelBar_EPM a.rpLink,
.RadPanelBar_EPM div.rpHeaderTemplate,
.RadPanelBar_EPM a.rpExpanded,
.RadPanelBar_EPM div.rpExpanded,
.RadPanelBar_EPM .rpItem a.rpLinkExpandHovered {
  background-position: 0 0; }

.RadPanelBar_EPM a.rpSelected,
.RadPanelBar_EPM div.rpSelected,
.RadPanelBar_EPM a.rpSelected:hover {
  background-position: 0 -400px; }

.RadPanelBar_EPM .rpFirst a.rpLink,
.RadPanelBar_EPM .rpFirst div.rpHeaderTemplate,
.RadPanelBar_EPM li.rpFirst .rpExpanded {
  background-position: 0 -1px; }

.RadPanelBar_EPM li.rpFirst .rpFocused,
.RadPanelBar_EPM .rpFirst a.rpLink:hover {
  background-position: 0 -201px; }

.RadPanelBar_EPM li.rpFirst .rpSelected,
.RadPanelBar_EPM .rpFirst a.rpSelected:hover {
  background-position: 0 -401px; }

/* <root items (disabled)> */
.RadPanelBar_EPM a.rpDisabled:hover {
  cursor: default; }

.RadPanelBar_EPM a.rpDisabled,
.RadPanelBar_EPM div.rpDisabled,
.RadPanelBar_EPM a.rpDisabled:hover,
.RadPanelBar_EPM a.rpDisabled:hover .rpOut {
  background-position: 0 0; }

/* </root items (disabled)> */
/*      <expand arrows> */
/* <expand arrows> */
.RadPanelBar_EPM .rpExpandable span.rpExpandHandle,
.RadPanelBar_EPM .rpExpanded span.rpExpandHandle {
  background-color: transparent;
  background-image: url('PanelBar/Expandable.png');
  background-repeat: no-repeat; }

.RadPanelBar_EPM_rtl .rpGroup .rpText {
  padding: 0 10px; }

.RadPanelBar_EPM .rpExpandable span.rpExpandHandle,
.RadPanelBar_EPM a.rpExpandable:hover .rpNavigation .rpExpandHandle {
  background-position: 0 -5px; }

.RadPanelBar_EPM a.rpExpandable:hover .rpExpandHandle,
.RadPanelBar_EPM a.rpExpandable:hover .rpNavigation .rpExpandHandleHovered {
  background-position: 100% -5px; }

.RadPanelBar_EPM .rpExpanded span.rpExpandHandle,
.RadPanelBar_EPM a.rpExpanded:hover .rpNavigation .rpExpandHandle {
  background-position: 0 -181px; }

.RadPanelBar_EPM a.rpExpanded:hover .rpExpandHandle,
.RadPanelBar_EPM a.rpExpanded:hover .rpNavigation .rpExpandHandleHovered {
  background-position: 100% -181px; }

.RadPanelBar_EPM div.rpExpandable .rpExpandHandleHovered {
  background-position: 100% -5px; }

.RadPanelBar_EPM div.rpExpanded .rpExpandHandleHovered {
  background-position: 100% -181px; }

/*      </expand arrows> */
.RadPanelBar_EPM .rpGroup a.rpLink,
.RadPanelBar_EPM .rpGroup div.rpHeaderTemplate,
.RadPanelBar_EPM .rpGroup a.rpLink .rpOut {
  background-position: 0 200px; }

.RadPanelBar_EPM .rpGroup a.rpLink:hover,
.RadPanelBar_EPM ul.rpGroup .rpFocused {
  background-position: 100% -22px; }

.RadPanelBar_EPM .rpGroup a.rpLink:hover .rpOut,
.RadPanelBar_EPM .rpGroup a.rpFocused .rpOut {
  background-position: 0 0; }

/*      <subitems (selected)> */
.RadPanelBar_EPM ul.rpGroup .rpSelected,
.RadPanelBar_EPM .rpGroup a.rpSelected:hover {
  background-position: 100% -222px;
  background-color: transparent; }

.RadPanelBar_EPM .rpGroup a.rpSelected .rpOut,
.RadPanelBar_EPM .rpGroup a.rpSelected:hover .rpOut {
  background-position: 0 -200px; }

/*      </subitems (selected)> */
/*      <subitems (expand arrows)> */
.RadPanelBar_EPM ul.rpGroup .rpExpandable .rpExpandHandle,
.RadPanelBar_EPM .rpGroup a.rpExpandable:hover .rpNavigation .rpExpandHandle {
  background-position: 0 -342px; }

.RadPanelBar_EPM .rpGroup a.rpExpandable:hover .rpExpandHandle,
.RadPanelBar_EPM .rpGroup a.rpExpandable:hover .rpNavigation .rpExpandHandleHovered {
  background-position: 100% -342px; }

.RadPanelBar_EPM ul.rpGroup .rpExpanded .rpExpandHandle,
.RadPanelBar_EPM .rpGroup a.rpExpanded:hover .rpNavigation .rpExpandHandle {
  background-position: 0 -481px; }

.RadPanelBar_EPM .rpGroup a.rpExpanded:hover .rpExpandHandle,
.RadPanelBar_EPM .rpGroup a.rpExpanded:hover .rpNavigation .rpExpandHandleHovered {
  background-position: 100% -481px; }

.RadPanelBar_EPM .rpGroup div.rpExpandable .rpExpandHandleHovered {
  background-position: 100% -342px; }

.RadPanelBar_EPM .rpGroup div.rpExpanded .rpExpandHandleHovered {
  background-position: 100% -481px; }

/*      </subitems (expand arrows)> */
/* </background positioning> */

