/*Telerik RadTreeList Common CSS*/

.RadTreeList
{
	border-style:solid;
	border-width:1px;
}

.RadTreeList .rtlTable
{
	width:100%;
	border-spacing:0;
	border-collapse:separate;
	table-layout:fixed;
}
*+html .RadTreeList .rtlTable{width:auto;}
* html .RadTreeList .rtlTable{width:auto;}

.RadTreeList .rtlHeader th
{
	border-style:solid;
	border-width:0 0 1px 0;
	text-align:left;
	font-weight:normal;
}

.RadTreeList .rtlVBorders .rtlHeader th
{
	border-left-width:1px;
	overflow:hidden;
}

.RadTreeList .rtlVBorders .rtlHeader th.rtlCF
{
	border-left-width:0;
}

.RadTreeList .rtlHeader a
{
	text-decoration:none;
}

.RadTreeList .rtlR td,
.RadTreeList .rtlA td,
.RadTreeList .rtlREdit td,
.RadTreeList .rtlRFooter td
{
	padding:3px 7px 5px 7px;
}

.RadTreeList .rtlRL td
{
	padding-bottom:4px;
}

.RadTreeList .rtlROut td
{
	padding-top:4px;
}

.RadTreeList .rtlHeader th
{
	padding:3px 7px 4px 7px;
}

.RadTreeList .rtlHBorders .rtlR>td,
.RadTreeList .rtlHBorders .rtlA>td,
.RadTreeList .rtlHBorders .rtlREdit>td,
.RadTreeList .rtlHBorders .rtlRFooter>td

{
	padding:3px 7px 4px 7px;
}

.RadTreeList .rtlR,
.RadTreeList .rtlA,
.RadTreeList .rtlREdit,
.RadTreeList .rtlRFooter
{
	vertical-align:top;
}

.RadTreeList .rtlR td,
.RadTreeList .rtlA td,
.RadTreeList .rtlREdit td,
.RadTreeList .rtlRFooter td
{
	border-style:solid;
	border-width:0;
}

.RadTreeList .rtlHBorders .rtlR td,
.RadTreeList .rtlHBorders .rtlA td,
.RadTreeList .rtlHBorders .rtlREdit td,
.RadTreeList .rtlHBorders .rtlRFooter td
{
	border-bottom-width:1px;
}

.RadTreeList .rtlVBorders .rtlR td,
.RadTreeList .rtlVBorders .rtlA td,
.RadTreeList .rtlVBorders .rtlREdit td,
.RadTreeList .rtlVBorders .rtlRFooter td
{
	border-left-width:1px;
	overflow:hidden;
}

.RadTreeList .rtlR td.rtlCF,
.RadTreeList .rtlA td.rtlCF,
.RadTreeList .rtlREdit td.rtlCF,
.RadTreeList .rtlRFooter td.rtlCF
{
	border-left-width:0;
}

.RadTreeList .rtlHVBorders .rtlR td.rtlCF,
.RadTreeList .rtlHVBorders .rtlA td.rtlCF,
.RadTreeList .rtlHVBorders .rtlREdit td.rtlCF,
.RadTreeList .rtlHVBorders .rtlRFooter td.rtlCF
{
	border-left-width:1px;
}

.RadTreeList .rtlHBorders .rtlRL td,
.RadTreeList .rtlTable .rtlRBtm td,
.RadTreeList .rtlTable .rtlRFooter td
{
	border-bottom-width:0;
}

.RadTreeList .rtlHBorders .rtlROut td
{
	border-top-width:1px;
}

/*expand column cells*/

.RadTreeList .rtlTable td.rtlL
{
	/*width:23px;*/ /*doesn't work in IE*/
	padding-left:0;
	padding-right:0;
	text-align:center;
	vertical-align:top;
}

.RadTreeList .rtlLines td.rtlL
{
	background-image:none;
	background-repeat:no-repeat;
	background-position:100% 0;
}

.RadTreeList .rtlLines td.rtlL0
{
	background-repeat:repeat-y;
}

.RadTreeList table.rtlLines td.rtlL,
.RadTreeList table.rtlVBorders td.rtlL
{
	border-width:0;
}

.RadTreeList table.rtlLines td.rtlL,
.RadTreeList table.rtlVBorders td.rtlL
{
	border-width:0;
}

/*buttons*/

.RadTreeList .rtlExpand,
.RadTreeList .rtlCollapse,
.RadTreeList .rtlSortAsc,
.RadTreeList .rtlSortDesc
{
	margin:0;
	padding:0;
	border:0;
	    font-size: 1px;
    text-indent: -1000px;
	background-color:transparent;
	background-repeat:no-repeat;
	cursor:pointer;
}

.RadTreeList .rtlExpand,
.RadTreeList .rtlCollapse
{
	display:block;
	width:16px;
	height:16px;
	margin:0 auto;
}

.RadTreeList .rtlSortAsc,
.RadTreeList .rtlSortDesc
{
	width:16px;
	height:10px;
	vertical-align:middle;
	    font-size: 1px;
    cursor: pointer;
    text-indent: -1000px;
}

.RadTreeList .rtlAdd,
.RadTreeList .rtlEdit,
.RadTreeList .rtlUpdate,
.RadTreeList .rtlCancel,
.RadTreeList .rtlDel,
.RadTreeList .rtlDragHandle
{
	width:16px;
	height:16px;
	border:0;
	margin:0;
	padding:0;
	background-color:transparent;
	background-repeat:no-repeat;
	vertical-align:middle;
	font-size:1px;
	cursor:pointer;
}

.RadTreeList .rtlAdd
{
	margin-right:3px;
	height:18px;
	width:18px;
	background-position:-17px -1682px;
}

.RadTreeList .rtlHeader .rtlAdd
{
	background-position:0 -1650px;
}

.RadTreeList .rtlEdit
{
	background-position:1px -1699px;
}

.RadTreeList .rtlUpdate
{
	width:18px;
	height:18px;
	background-position:0 -1800px;
}

.RadTreeList .rtlCancel
{
	width:18px;
	height:18px;
	background-position:0 -1850px;
}

.RadTreeList .rtlDel
{
	background-position:0 -1749px;
}

.RadTreeList .rtlDragHandle
{
	cursor:url('Common/grab.cur'), move;
}

/*no wrapper border*/

.RadTreeListNoBorder
{
	border-width:0;
}

.RadTreeListNoBorder .rtlHeader th
{
	border-top-width:1px;
}

.RadTreeListNoBorder .rtlTable .rtlHeader th.rtlCF
{
	border-left-width:1px;
}

.RadTreeListNoBorder .rtlTable .rtlCL
{
	border-right-width:1px;
}

.RadTreeListNoBorder .rtlTable .rtlRBtm td
{
	border-bottom-width:1px;
}

.RadTreeList .rtlTable .rtlR .rtlDragCol,
.RadTreeList .rtlTable .rtlA .rtlDragCol
{
	padding-left: 0;
	padding-right: 0;
	text-align: center;
	vertical-align: middle;
}

/*tooltip*/

.TreeListToolTip
{
	border-width:1px;
	border-style:solid;
	padding:3px;
	position:absolute;
	z-index:10000;
}

.rtlResizer
{
	background-color:navy;
	width:1px;
	position:absolute;
	cursor:e-resize;
}

.TreeListReorderTop,
.TreeListReorderBottom
{
		width:9px;
		height:9px;
		margin:0 0 0 -5px;
		padding:0;
}

/*rtl*/

.RadTreeListRTL .rtlHeader th
{
	text-align:right;
}

.RadTreeListRTL .rtlVBorders .rtlHeader th
{
	border-left-width:0;
	border-right-width:1px;
}

.RadTreeListRTL .rtlVBorders .rtlHeader th.rtlCF
{
	border-right-width:0;
}

.RadTreeListRTL .rtlVBorders .rtlR td,
.RadTreeListRTL .rtlVBorders .rtlA td,
.RadTreeListRTL .rtlVBorders .rtlREdit td,
.RadTreeListRTL .rtlVBorders .rtlRFooter td
{
	border-left-width:0;
	border-right-width:1px;
}

.RadTreeListRTL .rtlR td.rtlCF,
.RadTreeListRTL .rtlA td.rtlCF,
.RadTreeListRTL .rtlREdit td.rtlCF,
.RadTreeListRTL .rtlRFooter td.rtlCF
{
	border-right-width:0;
}

.RadTreeListRTL .rtlHVBorders .rtlR td.rtlCF,
.RadTreeListRTL .rtlHVBorders .rtlA td.rtlCF,
.RadTreeListRTL .rtlHVBorders .rtlREdit td.rtlCF,
.RadTreeListRTL .rtlHVBorders .rtlRFooter td.rtlCF
{
	border-left-width:0;
	border-right-width:1px;
}

.RadTreeListRTL .rtlLines td.rtlL
{
	background-position:0 0;
}

.RadTreeListNoBorderRTL .rtlTable .rtlHeader .rtlCL,
.RadTreeListNoBorderRTL .rtlTable .rtlR td.rtlCL,
.RadTreeListNoBorderRTL .rtlTable .rtlA td.rtlCL,
.RadTreeListNoBorderRTL .rtlTable .rtlREdit td.rtlCL,
.RadTreeListNoBorderRTL .rtlTable .rtlRFooter td.rtlCL
{
	border-right-width:0;
	border-left-width:1px;
}

.RadTreeListNoBorderRTL .rtlVBorders .rtlHeader .rtlCL,
.RadTreeListNoBorderRTL .rtlVBorders .rtlR td.rtlCL,
.RadTreeListNoBorderRTL .rtlVBorders .rtlA td.rtlCL,
.RadTreeListNoBorderRTL .rtlVBorders .rtlREdit td.rtlCL,
.RadTreeListNoBorderRTL .rtlVBorders .rtlRFooter td.rtlCL
{
	border-right-width:1px;
}

.RadTreeListNoBorderRTL .rtlTable .rtlHeader th.rtlCF
{
	border-left-width:0;
	border-right-width:1px;
}

/*pager*/

.RadTreeList .rtlPager
{
	min-height:22px;
	/*padding:3px 0;*/
}

.RadTreeList .rtlPagerCell
{
	border-style:solid;
	border-width:1px 0 0;
	padding:3px 0;
}

.RadTreeList thead .rtlPagerCell
{
	border-width:0 0 1px;
}

.RadTreeList .rtlPager .rtlWrap
{
	float:left;
	padding:0 10px;
	line-height:22px;
	white-space:nowrap;
}

.RadTreeList .rtlPager .rtlInfoPart
{
	float:right;
}

.RadTreeList .rtlPager .rtlInfoPart strong
{
	font-weight:normal;
}

.RadTreeList .rtlPager .rtlPageFirst,
.RadTreeList .rtlPager .rtlPagePrev,
.RadTreeList .rtlPager .rtlPageNext,
.RadTreeList .rtlPager .rtlPageLast
{
	width:22px;
	height:22px;
	border:0;
	margin:0;
	padding:0;
	background-color:transparent;
	background-repeat:no-repeat;
	vertical-align:bottom;
	font-size:1px;
	cursor:pointer;
}

.RadTreeList .rtlPager .rtlPageFirst,
.RadTreeList .rtlPager .rtlPagePrev
{
	margin-right:1px;
}

.RadTreeList .rtlPager .rtlPageNext,
.RadTreeList .rtlPager .rtlPageLast
{
	margin-left:1px;
}

.RadTreeList .rtlPager .rtlPagerButton
{
	height:22px;
	border-style:solid;
	border-width:1px;
	margin:0 14px 0 0;
	padding:0 4px 2px;
	font-size:12px;
	line-height:12px;
	vertical-align:middle;
	cursor:pointer;
}

.RadTreeList .rtlPager .rtlNumPart a
{
	float:left;
	margin:0;
	padding:0 5px 0 0;
	line-height:22px;
	text-decoration:none;
}

.RadTreeList .rtlPager .rtlNumPart span
{
	float:left;
	padding:0 0 0 5px;
}

.RadTreeList .rtlPager .rtlNumPart a:hover span
{
	cursor:pointer;
}

.RadTreeList .rtlPager .rtlNumPart a.rtlCurrentPage,
.RadTreeList .rtlPager .rtlNumPart a.rtlCurrentPage:hover,
.RadTreeList .rtlPager .rtlNumPart a.rtlCurrentPage span,
.RadTreeList .rtlPager .rtlNumPart a.rtlCurrentPage:hover span
{
	cursor:default;
}

.RadTreeList .rtlPager .rtlWrap a img
{
	border:0;
	margin:0 8px;
}

.RadTreeList .rtlPager .RadSlider
{
	float:left;
	margin:0 10px 0 0;
}

.RadTreeList .rtlPager .rtlPagerLabel,
.RadTreeList .rtlPager .RadComboBox,
.RadTreeList .rtlPager .RadInput
{
	margin:0 4px 0 0;
	vertical-align:top;
}

.RadTreeList .rtlPager .RadInput
{
	display: inline-block;
}

.RadTreeList .rtlPager .riTextBox
{
	height:15px;
}

.rtlPager .riSingle .riTextBox
{
	height:22px;
}

*+html .RadTreeList .rtlPager .rtlPager .RadComboBox{margin-top:-1px;}
* html .RadTreeList .rtlPager .rtlPager .RadComboBox{margin-top:-1px;padding:1px 0;}

.RadTreeList .rtlPager .rtlPagerTextBox
{
	text-align:center;
}

.RadTreeList .rtlEditForm
{
	border-bottom:1px solid;
	border-left:1px solid;
	margin:-1px;
}

.RadTreeList .rtlEditForm table
{
	font-size:12px;
}

.RadTreeList .rtlEditForm table label
{
	float:right;
	padding-right:2px;
}

.RadTreeList .rtlEditForm .rtlHeader
{
	padding:5px 7px 4px;
	text-align:left;
	font-weight:normal;
}

.rtlDrag
{
	background:no-repeat 50% -100px;
	position:absolute;
	left:-16px;
	top:6px;
	width:16px;
	height:10px;
}

/*Scroller Mode*/
.RadTreeList div.rtlHeader
{
	border-bottom-width:1px;
	border-bottom-style:solid;
	overflow:hidden;
}

.RadTreeList .rtlScroller
{
	overflow:hidden;
	margin-bottom:-1px;
	border-right-width:1px;
	border-right-style:solid;
	width:100%;
}

.RadTreeList div.rtlFooter
{
	overflow:hidden;
}

/* Telerik RadTreeList Windows7 Skin */

/*global*/

.RadTreeList_EPM,
.rtlCEdit div.RadTreeList_WebBlue
{
	border-color:#a5b3c5;
	background:#fcfcfc;
	color:#000;
}

.RadTreeList_EPM .rtlAdd,
.RadTreeList_EPM .rtlEdit,
.RadTreeList_EPM .rtlUpdate,
.RadTreeList_EPM .rtlCancel,
.RadTreeList_EPM .rtlDel
{
	background-image:url('Grid/sprite.gif');
}

.RadTreeList_EPM .rtlTable,
.TreeListToolTip_EPM
{
	font:12px/16px "segoe ui",arial,sans-serif;
}

.RadTreeList_EPM .rtlHeader
{
	background:#f1f5fb;
}

.RadTreeList_EPM .rtlHeader,
.RadTreeList_EPM .rtlHeader a
{
	color:#4c607a;
}

.RadTreeList_WebBlue .rtlHeader,
.RadTreeList_EPM .rtlHeader th
{
	border-color:#f6f9fb #e1eaf3;
}

.RadTreeList_WebBlue .rtlScroller
{
	border-color:#4a637a;
}

.RadTreeList_EPM .rtlA
{
	background-color:#ebeff3;
}

.RadTreeList_EPM .rtlRFooter
{
	background-color:#e2eaf4;
}

.rtlCEdit .RadTreeList_EPM 
{
    border-right:1px solid;
    border-top:1px solid;
}

.RadTreeList_EPM .rtlR td,
.RadTreeList_EPM .rtlA td,
.RadTreeList_EPM .rtlREdit td,
.RadTreeList_EPM .rtlRFooter td,
.RadTreeList_EPM .rtlEditForm
{
	border-color:#edf0f4;
}

.RadTreeList_EPM .rtlR a,
.RadTreeList_EPM .rtlA a,
.RadTreeList_EPM .rtlREdit a,
.RadTreeList_EPM .rtlEditForm a
{
	color:#1E3287;
}

.RadTreeList_EPM .rtlRSel
{
	background:#d7e8fe 0 -3901px repeat-x url('Grid/sprite.gif');
}

.RadTreeList_EPM .rtlRSel td
{
	border-color:#8daed5;
}

.RadTreeList_EPM .rtlRActive
{
    background:#e7eef6 0 -2900px repeat-x url('Grid/sprite.gif');
}

.RadTreeList_EPM .rtlRActive td
{
	border-color:#a8d8eb;
}

.RadTreeList_EPM .rtlVBorders td.rtlL,
.RadTreeList_EPM .rtlLines td.rtlL
{
	background-color:#fcfcfc;
}

.RadTreeList_EPM .rtlREdit
{
    background:#e6f0fd 0 -4900px url('Grid/sprite.gif');
}

.RadTreeList_EPM .rtlREdit td
{
    border-color:#8daed5;
}

.RadTreeList_EPM .rtlDrag,
.RadTreeList_EPM .rtlExpand,
.RadTreeList_EPM .rtlCollapse
{
	background-image:url('TreeList/sprite.gif');
}

.RadTreeList_EPM .rtlExpand
{
	background-position:0 0;
}

.RadTreeList_EPM .rtlCollapse
{
	background-position:0 -50px;
}

.RadTreeList_EPM .rtlSortAsc,
.RadTreeList_EPM .rtlSortDesc
{
	background-image:url('Grid/sprite.gif');
}

.RadTreeList_EPM .rtlSortAsc
{
	background-position:3px -248px;
}

.RadTreeList_EPM .rtlSortDesc
{
	background-position:3px -198px;
}

.RadTreeList_EPM .rtlLines td.rtlL0
{
	background-image:url('TreeList/rtlSingle.gif');
}

.RadTreeList_EPM .rtlLines td.rtlL1
{
	background-image:url('TreeList/rtlTop.gif');
}

.RadTreeList_EPM .rtlLines td.rtlL2
{
	background-image:url('TreeList/rtlMiddle.gif');
}

.RadTreeList_EPM .rtlLines td.rtlL3
{
	background-image:url('TreeList/rtlBottom.gif');
}

.TreeListReorderTop_EPM,
.TreeListReorderBottom_EPM
{
	height:11px;
	background:no-repeat url('Grid/sprite.gif');
}

.TreeListReorderBottom_EPM
{
	background-position:0 -50px;
}

.RadTreeList_EPM .rtlDragHandle
{
	background-image:url('Grid/rgDrag.gif');
}

/*tooltip*/

.TreeListToolTip_EPM
{
	border-color:#a0afc3;
	background:#eef4fb;
	color:#4c607a;
}


/*rtl*/

.RadTreeListRTL_EPM .rtlLines td.rtlL1
{
	background-image:url('TreeList/rtlTopRTL.gif');
}

.RadTreeListRTL_EPM .rtlLines td.rtlL2
{
	background-image:url('TreeList/rtlMiddleRTL.gif');
}

.RadTreeListRTL_EPM .rtlLines td.rtlL3
{
	background-image:url('TreeList/rtlBottomRTL.gif');
}

/*pager*/

.RadTreeList_EPM .rtlPager
{
	background:#f1f5fb 0 -5900px repeat-x url('Grid/sprite.gif');
}

.RadTreeList_EPM .rtlPagerCell
{
	border-color:#fcfcfc;
}

.RadTreeList_EPM .rtlInfoPart
{
	color:#5a6779;
}

.RadTreeList_EPM .rtlInfoPart strong
{
	color:#1e395b;
}

.RadTreeList_EPM .rtlPager .rtlPageFirst,
.RadTreeList_EPM .rtlPager .rtlPagePrev,
.RadTreeList_EPM .rtlPager .rtlPageNext,
.RadTreeList_EPM .rtlPager .rtlPageLast
{
	background:transparent no-repeat url('Grid/sprite.gif');
}

.RadTreeList_EPM .rtlPager .rtlPageFirst
{
	background-position:0 -550px;
}
.RadTreeList_EPM .rtlPager .rtlPageFirst:hover
{
	background-position:0 -600px;
}
.RadTreeList_EPM .rtlPager .rtlPagePrev
{
	background-position:0 -700px;
}
.RadTreeList_EPM .rtlPager .rtlPagePrev:hover
{
	background-position:0 -750px;
}
.RadTreeList_EPM .rtlPager .rtlPageNext
{
	background-position:0 -850px;
}
.RadTreeList_EPM .rtlPager .rtlPageNext:hover
{
	background-position:0 -900px;
}
.RadTreeList_EPM .rtlPager .rtlPageLast
{
	background-position:0 -1000px;
}
.RadTreeList_EPM .rtlPager .rtlPageLast:hover
{
	background-position:0 -1050px;
}

.RadTreeList_EPM .rtlPager .rtlPagerButton
{
	border-color:#c2cedb;
	background:#dde8f6 repeat-x 0 -1550px url('Grid/sprite.gif');
	color:#1e395b;
	font-family:"segoe ui",arial,sans-serif;
}

.RadTreeList_EPM .rtlPager .rtlNumPart a:hover,
.RadTreeList_EPM .rtlPager .rtlNumPart a:hover span,
.RadTreeList_EPM .rtlPager .rtlNumPart a.rtlCurrentPage,
.RadTreeList_EPM .rtlPager .rtlNumPart a.rtlCurrentPage span
{
	background:no-repeat url('Grid/sprite.gif');
}

.RadTreeList_EPM .rtlPager .rtlNumPart a
{
	color:#1e395b;
}

.RadTreeList_EPM .rtlPager .rtlNumPart a:hover
{
	background-position:100% -1250px;
	color:#4c607a;
}

.RadTreeList_EPM .rtlPager .rtlNumPart a:hover span
{
	background-position:0 -1150px;
}

.RadTreeList_EPM .rtlPager .rtlNumPart a.rtlCurrentPage,
.RadTreeList_EPM .rtlPager .rtlNumPart a.rtlCurrentPage:hover
{
	background-position:100% -1450px;
	color:#4c607a;
}

.RadTreeList_EPM .rtlPager .rtlNumPart a.rtlCurrentPage span,
.RadTreeList_EPM .rtlPager .rtlNumPart a.rtlCurrentPage:hover span
{
	background-position:0 -1350px;
}
