<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>
    <section name="documentManagement" type="REISys.ApplicationUtilities.DocumentManagement.HRSAConfigProvider,REISys.Platform.Core" />
    <section name="documentContextManagement" type="REISys.ApplicationUtilities.DocumentManagement.DocumentContextManagement,REISys.Platform.Core" />
    <section name="system.identityModel" type="System.IdentityModel.Configuration.SystemIdentityModelSection, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
    <section name="system.identityModel.services" type="System.IdentityModel.Services.Configuration.SystemIdentityModelServicesSection, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
    <section name="enterpriseLibrary.ConfigurationSource" type="Platform.CrossCutting.Configuration.StorageProvider.FileStorageProvider.SourceSettings, Platform.CrossCutting.Configuration,Version=1.5.0.0,Culture=neutral,PublicKeyToken=677fce62a3a80367" />
  </configSections>
  <documentContextManagement disableCaching="true">
    <documentManagement isDefault="true" contextCode="2" configDirectory="Y:\WorkSpace\HAB-Platformv4.9.55\Platform\v4.9.55\PLConfig_Internal\Config\" environmentConfigFile="Interface\WebInternalConfig.xml">
      <fileName documentMap="Platform\DocumentMap.xml" />
      <fileName documentMap="InternalSolutionDocumentMap.xml" />
    </documentManagement>
    <documentManagement contextCode="8" configDirectory="Y:\WorkSpace\HAB-Platformv4.9.55\Platform\v4.9.55\PLConfig_Internal\Config\" environmentConfigFile="Interface\WebProgramSysAdminConfig.xml">
      <fileName documentMap="Platform\DocumentMap.xml" />
      <fileName documentMap="ProgramSysAdminDocumentMap.xml" />
    </documentManagement>
  </documentContextManagement>
  <enterpriseLibrary.ConfigurationSource>
    <sources>
      <add name="platform" basePath="Y:\WorkSpace\HAB-Platformv4.9.55\Platform\v4.9.55\PLConfig_Internal\Config\Platform" sourceType="file" sectionName="documentSettings" filePath="PlatformSettings.config" />
    </sources>
  </enterpriseLibrary.ConfigurationSource>
    <system.webServer>
        <directoryBrowse enabled="true" />
    </system.webServer>
</configuration>