<configuration>
  <system.serviceModel>
    <diagnostics wmiProviderEnabled="true">
      <messageLogging logMalformedMessages="true" logMessagesAtTransportLevel="true" />
    </diagnostics>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBindingConfig">
          <readerQuotas maxStringContentLength="65536" />
          <security mode="None" />
        </binding>
        <binding name="BasicHttpsBindingConfig">
          <readerQuotas maxStringContentLength="65536" />
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="JsonBindingConfig">
          <textMessageEncoding>
            <readerQuotas maxStringContentLength="65536" />
          </textMessageEncoding>
          <httpTransport />
        </binding>
      </customBinding>
      <netTcpBinding>
        <binding name="NetTcpBindingConfig">
          <readerQuotas maxStringContentLength="65536" />
        </binding>
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="wsHttpBindingConfig">
          <readerQuotas maxStringContentLength="65536" />
        </binding>
        <binding name="wsHttpsBindingConfig">
          <readerQuotas maxStringContentLength="65536" />
          <security mode="Transport" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="EndpointBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="false"  httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceAuthorization impersonateCallerForAllOperations="false" />
          <serviceThrottling maxConcurrentCalls="32" maxConcurrentSessions="200"
           maxConcurrentInstances="232" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          <coreFaultBehavior />
          <serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="Custom"
             customUserNamePasswordValidatorType="REISys.Platform.Services.WebServiceAuthentication.PlatformWebServiceAuthenticator,REISys.Platform.Services" />
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
                <add name="coreFaultBehavior" type="REISys.Platform.Services.FaultManagement.CoreFaultBehavior, REISys.Platform.Services, Version=2.0.5.0, Culture=neutral, PublicKeyToken=null"/>
      </behaviorExtensions>
    </extensions>
    <services>
      <service behaviorConfiguration="ServiceBehavior" name="REISys.Platform.Services.HelpLink.HelpLinkServiceWS">
        
        <endpoint behaviorConfiguration="EndpointBehavior" binding="basicHttpBinding"
         bindingConfiguration="BasicHttpsBindingConfig" name="BasicHttpsEndpoint"
         contract="REISys.Platform.Services.HelpLink.IHelpLinkService" />
        
        <!--<endpoint address="" behaviorConfiguration="EndpointBehavior"
         binding="basicHttpBinding" bindingConfiguration="BasicHttpBindingConfig"
         name="BasicHttpEndpoint" contract="REISys.Platform.Services.HelpLink.IHelpLinkService" />-->

        <!--<endpoint behaviorConfiguration="EndpointBehavior" binding="customBinding"
         bindingConfiguration="JsonBindingConfig" name="JsonEndpoint"
         contract="REISys.Platform.Services.HelpLink.IHelpLinkService" />-->

        <!--<endpoint behaviorConfiguration="EndpointBehavior" binding="netTcpBinding"
         bindingConfiguration="NetTcpBindingConfig" name="NetTcpEndpoint"
         contract="REISys.Platform.Services.HelpLink.IHelpLinkService" />-->

        <!--

        <endpoint behaviorConfiguration="EndpointBehavior" binding="wsHttpBinding"
         bindingConfiguration="wsHttpBindingConfig" name="wsHttpEndpoint"
         contract="REISys.Platform.Services.HelpLink.IHelpLinkService" />

        <endpoint behaviorConfiguration="EndpointBehavior" binding="wsHttpBinding"
         bindingConfiguration="wsHttpsBindingConfig" name="wsHttpsEndpoint"
         contract="REISys.Platform.Services.HelpLink.IHelpLinkService" />-->
      </service>
    </services>
  </system.serviceModel>
</configuration>